<section class="home-copy">
  <div class="row">

    <div class="col">
      <p>
        <strong>Die Arbeit im Gesundheitswesen stellt immer h&ouml;here Anspr&uuml;che an die einzelnen Besch&auml;ftigten: eine wachsende Zahl von Patienten bei gleichzeitigem Fachkr&auml;ftemangel, die rasante Weiterentwicklung der Medizintechnik, Qualit&auml;ts- und wirtschaftlicher Druck sowie immer neue &Auml;nderungen der gesetzlichen Bestimmungen. E-Learning ist ein wichtiger Faktor, um die Mitarbeiter im Gesundheitswesen entsprechend zu schulen. Am besten k&ouml;nnen Sie Ihre Personalentwicklung mit Software von Defacto darauf abstimmen.</strong>
      </p>

      <p>
        F&uuml;r das <a href="/implementierungen/" title="Bildungsmanagement">Bildungsmanagement</a> im Krankenhaus stellen wir Ihnen eine Software zur Verf&uuml;gung, mit der Sie jegliche Veranstaltungen zentral organisieren und optimal verwalten k&ouml;nnen: &quot;CAPP Bilden&quot;. Von Pr&auml;senzschulungen und berufspraktischen Trainings bis hin zu <a href="/capp-agile-learning/" title="E-Learning">E-Learning</a> und Blended Learning k&ouml;nnen Sie damit alles perfekt strukturieren. In der Personalentwicklung ist die Software auch deshalb von Vorteil, weil Sie damit die Arbeitsschritte der Kursverwaltung automatisieren und so Zeit und Kosten sparen k&ouml;nnen. Der nur bei uns verf&uuml;gbare Qualit&auml;tspass verschafft Ihnen zudem eine &Uuml;bersicht &uuml;ber die Kompetenzen in Ihrem Haus und die Qualifikationen Ihrer Mitarbeiter. Er wird zur Grundlage individueller oder organisationsweiter Anforderungsprofile und Compliance Richtlinien.
      </p>

      <h2>Seminarverwaltung und Kursverwaltung</h2>

      <p>
        Unsere Software unterst&uuml;tzt Sie grundlegend bei der Organisation des Kurssystems und der <a href="/capp-bilden/" title="Seminarverwaltung">Seminarverwaltung</a>. Indem Sie mithilfe von CAPP Kursplanungen, Anmeldeverfahren, Benachrichtigungen, Raumpl&auml;ne und Wartelisten automatisieren, nutzen Sie klare Vorteile bei der Kursverwaltung und sparen wertvolle Zeit, in der Sie sich anderen wichtigen Aufgaben widmen k&ouml;nnen.
      </p>

      <h2>Virtuelle Lernplattform f&uuml;r alle</h2>

      <p>Ihren Mitarbeitern bietet CAPP Bilden eine digitale Lernplattform, die von einzelnen Anbietern der E-Learning-Seminare unabh&auml;ngig sowie &uuml;berall zu jeder Zeit erreichbar ist. Hier k&ouml;nnen sie sich das komplette Lernangebot ansehen und den Verlauf der Kurse verfolgen, an denen sie teilnehmen. Da die Software es erm&ouml;glicht, die Anwendungsumgebung dem Stil Ihres Hauses anzupassen, schaffen Sie eine intuitive Lernplattform mit Wiedererkennungswert.</p>
    </div>

    <div class="col">
      <h2>Das E-Portfolio f&ouml;rdert die Eigenverantwortung</h2>

      <p>
        Ihre Mitarbeiter erhalten gleichzeitig ein pers&ouml;nliches <a href="/360-feedback/" title="E-Portfolio">E-Portfolio</a> und haben so einen &Uuml;berblick &uuml;ber ihren Lernverlauf. Dies f&ouml;rdert sowohl die Motivation als auch das Verantwortungsgef&uuml;hl. Mit der Defacto-Lernsoftware genie&szlig;en Ihre Mitarbeiter die Freiheit, individuell und ungebunden zu lernen, da jeder selbst bestimmen kann, wann und wo er sich mit Theorie besch&auml;ftigt und die E-Learning-Module durcharbeitet.
      </p>

      <h2>Ein individueller Entwicklungsplan f&uuml;r jeden Mitarbeiter</h2>

      <p>
        So entsteht ein <a href="/qualitatspass/" title="individueller Entwicklungsplan">individueller Entwicklungsplan</a> f&uuml;r jeden Mitarbeiter. CAPP erm&ouml;glicht Ihnen als verantwortlichem Vorgesetzten, die Umsetzung des Plans mitzuverfolgen, und verschafft Ihnen einen guten Einblick in den jeweiligen Lernfortschritt der Mitarbeiter und die Compliance-Anforderungen. Ebenfalls von Vorteil ist, dass alle Leistungsnachweise im System hinterlegt und dokumentiert werden k&ouml;nnen.
      </p>

      <h2>Durch Talent Management pers&ouml;nliche St&auml;rken f&ouml;rdern</h2>

      <p>
        Die individuelle Personalentwicklung k&ouml;nnen Sie gleichzeitig mit unserer Software &quot;CAPP Entwickeln&quot; f&ouml;rdern. Im <a href="/capp-entwickeln/" title="Talent Management">Talent Management</a> gilt es, die St&auml;rken und Schw&auml;chen jedes Einzelnen herauszufinden, um sie gezielt zu f&ouml;rdern beziehungsweise zu beheben. Zielvereinbarungen und Mitarbeitergespr&auml;che sind wichtige Schritte dorthin &ndash; bei denen Sie die Anwendung umfassend unterst&uuml;tzt.
      </p>

      <p>
        Kompetenzen f&ouml;rdern, E-Learning-Seminare organisieren und die individuelle Personalentwicklung strukturieren: All dies und noch viel mehr erm&ouml;glichen Ihnen unsere Software-Pakete. F&uuml;r Fragen stehen wir Ihnen gerne zur Verf&uuml;gung. Nutzen Sie hierzu unser Kontaktformular, oder fordern Sie gleich eine Demo-Version unserer Software an!
      </p>

      <p><strong>Profitieren Sie bei Defacto von:</strong></p>

      <ul>
        <li>umfassender Beratung vor und nach der Software-Einrichtung</li>
        <li>problemlosen Schnittstellen zu anderen Personalsystemen</li>
        <li>regelm&auml;&szlig;igen Updates f&uuml;r alle Anwendungen.</li>
      </ul>
    </div>

  </div>
</section>
