<section class="events">
  <div class="row">

    <h2>Veranstaltungsübersicht</h2>
    <p>
      Besuchen Sie unsere Veranstaltungen und erfahren Sie wissenswertes zu den Themen Personalentwicklung und E-Learning im Gesundheitswesen.
    </p>

    <table class="events-table">
      <tr>
        <th class="date">Wann</th>
        <th class="event">Event</th>
        <th class="where">Wo</th>
      </tr>
      <tr>
        <td>3./4. Mai 2018</td>
        <td>KlinikManagementPersonal 2018</td>
        <td>Hannover Congress Centrum (HCC)</td>
      </tr>
      <tr>
        <td>16. Mai 2018</td>
        <td>Workshop "Innovative Lernumgebung für eine lückenlose Qualitätssicherung" (mit ZeQ)</td>
        <td>Friedrich-Ebert-Krankenhaus Neumünster</td>
      </tr>
    </table>

  </div>
</section>
