<section class="events">
  <div class="row">

    <h2>Veranstaltungsübersicht</h2>
    <p>
      Besuchen Sie unsere Veranstaltungen und erfahren Sie wissenswertes zu den Themen Personalentwicklung und E-Learning im Gesundheitswesen.
    </p>

    <table class="events-table">
      <tr>
        <th class="date">Wann</th>
        <th class="event">Event</th>
        <th class="where">Wo</th>
      </tr>
      <tr>
        <td>6.-8. Juni</td>
        <td>Hauptstadtkongress Medizin und Gesundheit 2018</td>
        <td>CityCube Berlin</td>
      </tr>
    </table>

  </div>
</section>
