<%
all_news_items = data["news_" + I18n.locale.to_s]
news_items = all_news_items.clone
%>

<section class="news">
  <div class="row">
    <h2>
      <%= t("home.news.title") %>
    </h2>
  </div>
  <div class="row news-wrapper">
    <% news_items.each do |news_item|

      news_index = all_news_items.index(news_item) + 1
      news_event = "news-#{news_index}"
    %>

      <% link_to news_item.link, title: news_item.title, class: "news-item" do %>
        <div class="image">
          <%= image_tag news_item.image, alt: news_item.alt, title: news_item.alt %>
        </div>
        <div class="text">
          <h3>
            <%= news_item.title %>
          </h3>
          <p>
            <%= news_item.text %>
          </p>
        </div>
      <% end %>

    <% end %>
  </div>
</section>
