<section>
  <article>

    <div class="row">

      <p>
        For every organisation the most important factor of success is its employee knowledge and talent. Though very often the <a href="/blog/using-your-potential-knowledge-employee-is-what-makes-a-company/" title="Blog on Knowledge Metrics">talent becomes hard to measure</a>. With our <strong>Quality Portfolio</strong> you can measure, safeguard and control the quality within your organisation in a simple and intuitive manner.
      </p>

      <h3>Provide your employees with a personal tool to manage their own qualification.</h3>

      <p>
        Quality Portfolio provides your managers, team leaders and HR-professionals with a real-time insight into the employee qualifications. Certification and accreditation can be easily delivered directly through our platform. Moreover the Quality Portfolio enables you to oversee which skills are present within your organisation. This makes it easy to create trajectories for knowledge retention and additional training.
      </p>

      <p>
        <figure>
          <%= image_tag "screenshots/capp-quality-portfolio-manager.png", title: "CAPP Quality Portfolio for managers", alt: "CAPP Quality Portfolio for managers" %>
        </figure>
      </p>

      <h3>Benefits of the Quality Portfolio</h3>

      <ul>
        <li>
          Your organisation creates different profiles wherein the job-requirements and organisation-requirements or the occupational profiles within the sector are described
        </li>
        <li>
          These profiles form the basis of the Quality Portfolio of an employee, containing all internal and external requirements they need to meet
        </li>
        <li>
          The individual portfolio serves as a monitor for the employee and assists the employee in maintaining his or her competencies and skills
        </li>
        <li>
          A manager can discover problems, on an individual level and on the team level, in a timely manner. This helps to translate these problems into development plans
        </li>
        <li>
          HR has access to up-to-date and accurate information with regards to the present competencies and skills on every level of the organisation
        </li>
        <li>
          The board of directors can prove their managerial responsibility towards supervisors and accreditation bodies
        </li>
        <li>
           The Quality Portfolio also issues authorisations for the use of specialist equipment, the entry levels within the IT-systems or for an integration with external quality registers
        </li>
      </ul>
    </div>

  </article>
</section>
