<section class="how-it-works product-explanation" id="how-it-works">
  <div class="row">

    <h2>
      Hoe werkt de API?
    </h2>

    <div class="item">
      <%= image_tag "icons/compliance-realtime.svg", title: "Realtime toegang", alt: "Realtime toegang", class: "item-icon" %>
      <h3>
        Realtime toegang tot de compliance status van medewerkers
      </h3>
    </div>

    <div class="item">
      <%= image_tag "icons/compliance-connecting.svg", title: "Koppelen met diverse toepassingen", alt: "Koppelen met diverse toepassingen" %>
      <h3>
        Koppelen met diverse toepassingen
      </h3>
    </div>

    <div class="item">
      <%= image_tag "icons/compliance-safe.svg", title: "Veilige uitwisseling van gegevens", alt: "Veilige uitwisseling van gegevens" %>
      <h3>
        Veilige uitwisseling van gegevens
      </h3>
    </div>

    <div class="item">
      <%= image_tag "icons/compliance-management.svg", title: "Volledig in eigen beheer", alt: "Volledig in eigen beheer" %>
      <h3>
        Volledig in eigen beheer
      </h3>
    </div>

  </div>
</section>
