<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Apr
      </h3>
      <h2>
        7
      </h2>
    </div>

    <div class="col right">
      <h2>
        Next Learning 2020: On your marks...!?
      </h2>
      <p class="meta">
        <span>7 april 2020</span>
        <span class="divider">|</span>
        <span>'s Hertogenbosch</span>
      </p>
      <p>
        De komende editie van Next Learning staat in het teken van "On your marks...!?" Enkele thema's die aan bod komen zijn Learning Xperience Design, People & Agility en Smart Learning - thema's die ons op het lijf zijn geschreven. Op de playground vind je ons op <strong>stand A4</strong>, waar we een leuke verrassing in petto hebben. Daarnaast organiseren we een boeiende partnersessie met een van onze klanten. Stay tuned.
      </p>
      <a href="https://www.nextlearning.nl/" target="_blank" rel="noopener noreferrer" title="Next Learning 2020">Meer informatie over Next Learning 2020</a>
    </div>

  </li>

</ul>
