<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Sept
      </h3>
      <h2>
        3
      </h2>
    </div>

    <div class="col right">
      <h2>
        Webinar: 'Performance Support'
      </h2>
      <p class="meta">
        <span>3. September 2019</span>
      </p>
      <p>
        Melden Sie sich jetzt an für das Webinar 'Performance Support' am 03.09.2019 um 10 Uhr.
      </p>

      <%= link_to "Jetzt Anmelden", "/webinar-performance-support-03-09-2019.html" %>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Sept
      </h3>
      <h2>
        17
      </h2>
    </div>

    <div class="col right">
      <h2>
        Zukunft Personal
      </h2>
      <p class="meta">
        <span>17. - 19. September 2019</span>
        <span class="divider">|</span>
        <span>Köln</span>
      </p>
      <p>
        Vom 17. bis 19. September 2019 nimmt Defacto an der Zukunft Personal in Köln teil, unter dem diesjährigen Motto: Leading in Permanent Beta. Wir befinden uns in einem permanenten Wandel, in dem sich Prozesse, Projekte und Produkte durch die Digitalisierung ständig verändern. Trotzdem soll der Mensch im Mittelpunkt stehen, als wichtigste Ressource für den Unternehmenserfolg. Diese Vision steht in Einklang mit den Zielen von Defacto und wir freuen uns auf einen spannenden Austausch mit anderen teilnehmenden Unternehmen.
      </p>

      <a href="https://www.europe.zukunft-personal.com/" target="_blank" rel="noopener noreferrer" title="Zukunft Personal">Mehr Informationen zu Zukunft Personal</a>
    </div>

  </li>

  <li class="event">

   <div class="col badge">
    <h3>
      Okt
    </h3>
    <h2>
      8
    </h2>
  </div>

   <div class="col right">
    <h2>
      eLearning Summit Nordrhein-Westfahlen
    </h2>
    <p class="meta">
      <span>8. Oktober 2019</span>
      <span class="divider">|</span>
      <span>Dortmund</span>
    </p>
    <p>
      Am 8. Oktober 2019 werden wir am eLearning SUMMIT in Dortmund teilnehmen. Hier werden wir uns mit anderen E-Learning Professional durch Expertengespräche austauschen, um verschiedene Perspektiven des digitalen Wandels aufzuzeigen und die Möglichkeiten des E-Learnings zu erweitern.
    </p>
      <a href="https://www.elearning-journal.com/est2019-nrw-dortm/" target="_blank" rel="noopener noreferrer" title="eLearning Summit Nordrhein-Westfahlen">Mehr Informationen zu eLearning Summit Nordrhein-Westfahlen</a>
  </div>

  </li>

</ul>
