<div class="hero">
  <div class="hero-inner">
    <div class="row">
      <h1><%= t("capp.hero.learn.title") %></h1>
      <%= image_tag ("screenshots/hero-capp-bilden.png"), title: "Screenshot CAPP Bilden", alt: "Screenshot CAPP Bilden" %>
    </div>
  </div>
</div>
