<section>
  <article>

    <div class="row">
      <p>
        Under the motto 'Developing People' Defacto helps organisations, in particular business academies and training departments, with training and developing their employees. The changing dynamics in your sector automatically demand a continuous investment in the knowledge development and training of your employees.
      </p>

      <p>
        <em>CAPP LMS</em> is a digital learning environment for all employees. It's a learning environment that's suitable for blended-learning: e-learning, traditional teaching, practical training, seminars and conferences. Everything can be facilitated and supported in CAPP LMS.
      </p>

      <p class="featured">
        <span class="star">*</span>CAPP is an open learning management system wherein e-learning modules of all different suppliers can be accessed. Defacto also supports the LTI-standard to integrate external content.
      </p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          Create your own digital training catalogue and make it available for the entire organisation. Purchased courses can also be incorporated in CAPP LMS. The course administration, or in other words the complete planning and administrative processing, is automated. This results in an enormous cost reduction. Moreover, the availability of the learning platform ensures that everyone can engage in the e-learning modules at any desired moment.
        </p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/capp-coursecatalog.png", title: "CAPP Coursecatalog", alt: "CAPP Coursecatalog" %>
            <figcaption>CAPP Coursecatalog</figcaption>
          </figure>
        </p>
      </div>
    </div>

    <div class="row">
      <p>
        The results of the courses are recorded in CAPP LMS and visible on an individual level in each personal digital portfolio. This is also referred to as the e-portfolio.
      </p>

      <p>
        As a manager, you can oversee the performance of your team or department in various views and summaries.
      </p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/capp-portfolio_en.png", title: "CAPP Portfolio", alt: "CAPP Portfolio" %>
            <figcaption>CAPP Portfolio</figcaption>
          </figure>
        </p>
      </div>
      <div class="col">
        <p>
          In your portfolio CAPP LMS lays the foundations upon which your organisation can build by investing in talent management through CAPP Learning &amp; Developing. Developing talent and deploying it in the right manner is essential for every knowledge-intensive organisation. With CAPP Learning &amp; Developing you can easily make competence management, annual performance interviews, coaching sessions and 360 degree feedback part of your HR policy.
        </p>
      </div>
    </div>

    <div class="row">
       <div class="col">
        <p>
          The integration of the Learning and Development area makes it easy for employees to be in control of their own learning activities and personal development. With the offered resources like annual performance interviews, competence management, the Personal Development Plan (PDP), 360 degree feedback and the e-portfolio, your employees can work on continuously improving themselves, individually or as a team.
        </p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/360-feedback_en.png", title: "360° Feedback", alt: "360° Feedback" %>
            <figcaption>360° Feedback</figcaption>
          </figure>
        </p>
      </div>
    </div>

  </article>
</section>
