<section>
  <article>

    <div class="row">

      <p>
        <strong>CAPP Bilden ist eine Software für das Bildungsmanagement und E-Learning im Gesundheitswesen, mit der Sie jegliche Veranstaltung organisieren und verwalten können. Die Möglichkeiten dieser Seminarverwaltung erstrecken sich von Präsenzschulungen und berufspraktischen Trainings bis hin zu E-Learning und Blended Learning. Erzielen Sie Zeit- und Kostenersparnisse, indem Sie die einzelnen Arbeitsschritte Ihrer Kursverwaltung automatisieren und einheitlich strukturieren.</strong>
      </p>

      <p>
        Erstellen Sie mithilfe unserer Software ein digitales Fortbildungsangebot für Ihr Krankenhaus und bieten Sie Ihren Mitarbeitern eine persönliche Lernplattform, die für sie jederzeit sowie von überall her zu erreichen ist. Das dient sowohl deren individueller Weiterbildung als auch der übergreifenden Qualitätssicherung. Mit CAPP Bilden schaffen und erhalten Sie eine umfassende Übersicht über alle Qualifikationsmaßnahmen in Ihrem Krankenhaus, fördern dank Teilverantwortung das eigenständige Lernen Ihrer Mitarbeiter und erreichen durch mehr Transparenz auch eine höhere Qualität.
      </p>

    </div>

    <div class="row">

      <h3>Vielfältige Möglichkeiten der Kursverwaltung</h3>

      <div class="col">
        <p>
          Mit der Kursverwaltung von CAPP Bilden erhalten Sie die Möglichkeit, alle Arten von Veranstaltungen zentral zu organisieren. Ob es sich um Seminare, Präsenzschulungen, Blended Learning, E-Learning oder Workshops handelt, Sie können alles in den zentralen Kurskatalog aufnehmen.
        </p>

        <p>
          Die Automatisierung von Kursplanungen, Anmeldeverfahren, Benachrichtigungen, Räumen und Wartelisten ist einer der klaren Vorteile der Kursverwaltung und spart wertvolle Zeit.
        </p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/capp-kurskatalog.png", title: "Kurskatalog", alt: "Kurskatalog", class: "center screenshot" %>
            <figcaption>Ein Ausschnitt vom CAPP Kurskatalog</figcaption>
          </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p>
        Auch für die Punkteverwaltung im Rahmen der freiwilligen Qualitätssicherung ist CAPP Bilden eine hervorragende Lösung. Leistungspunkte der Ärztekammer oder RbP-Punkte für die Pflege können bei jedem einzelnen Kursangebot eingetragen werden und sind für die Mitarbeiter wie auch ihre Vorgesetzten einsehbar.
      </p>

    </div>

    <div class="row">

      <h3>Seminarverwaltung in der digitalen Welt</h3>

      <div class="col">
        <p>
          Mit CAPP Bilden können Sie viel mehr verwalten als Ihr hauseigenes Angebot an Präsenzseminaren. Sie schaffen vielmehr eine digitale Lernplattform mit übergreifender Seminarverwaltung, die von überall aus zu erreichen ist. So können sich Ihre Mitarbeiter stets das gesamte für sie relevante Lernangebot ansehen und den Stand der Online- Kurse, an denen sie teilnehmen, genau verfolgen.
        </p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/eportfolio.png", title: "CAPP E-portfolio", alt: "CAPP E-portfolio", class: "center screenshot" %>
            <figcaption>Ausschnitt eines E-Portfolios</figcaption>
        </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p>
        Da es sich bei CAPP um eine offene E-Learning Software handelt, bezieht sie neben selbst erstellten Seminaren auch die fast unüberschaubaren E-Learning-Module vielerlei Anbieter ein – zum Beispiel:
      </p>

      <ul>
        <li>Thieme</li>
        <li>Bibliomed</li>
        <li>Campus Med.</li>
      </ul>

      <p>
        Umso wichtiger ist es, die großen Datenmengen mit einer einfach handhabbaren Software für die Kursverwaltung stets im Griff zu behalten!
      </p>

      <p>
        Zusätzlich können Sie die Entwicklung der individuellen Portfolios auch mitverfolgen und bekommen dadurch eine gute Einsicht in den Lernfortschritt eines jeden Mitarbeiters. Für ein komplettes E-Portfolio können Leistungsnachweise hier hinterlegt werden.
      </p>

    </div>

    <div class="row">

      <p class="featured"><span class="star">*</span>
        Integrieren Sie E-Learning und Blended Learning in Ihr Fortbildungsangebot und bieten Sie Ihren Mitarbeitern dadurch die Freiheit, individuell und ungebunden zu Lernen. Das bedeutet, dass jeder Mitarbeiter selbst bestimmen kann, wann und wo er Theorie lernt und die E-Learning Module durcharbeitet – und dass Sie dennoch alles bestens überschauen!
      </p>

    </div>
  </article>
</section>
