<section>
  <article>

    <div class="row">
      <p>
        <strong>The changing dynamics in any industry demands a continuous investment in the knowledge development and training of your employees.</strong>
      </p>

      <p>
        <strong>CAPP LMS</strong> provides your workers with an intuitive and easy to use digital learning environmnet. The learning platfrom is suitable for blended-learning: e-learning incorporated with practical training, seminar and conference registration and traditional teaching. All of your learning efforts can be facilitated and supported by CAPP LMS.
      </p>

      <p class="featured">
        CAPP is an open learning management system that enables your organisation to combine and assess e-learning modules provided by different course suppliers. Defacto also supports the LTI-standard to integrate external content.
      </p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          Create your own digital training catalogue and make it available for the entire organisation. Purchased courses can also be integrated in the CAPP LMS. The course administration is automated, therefore it results in an enormous cost reduction. The availability of the learning platform ensures continuous employee engagement in the e-learning modules at any desired moment.
        </p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/capp-coursecatalog.png", title: "CAPP Coursecatalog", alt: "CAPP Coursecatalog" %>
          </figure>
        </p>
      </div>
    </div>

    <div class="row">

      <p class="featured">
        Oversee the performance of your team or department in your digital e-portfolio.
      </p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/capp-portfolio_en.png", title: "CAPP Portfolio", alt: "CAPP Portfolio" %>
          </figure>
        </p>
      </div>
      <div class="col">
        <p>
          CAPP LMS allows you to see your employee course results and personal digital porfolios. The platform lays the foundations upon which your organisation can later invest in talent management through <strong> CAPP Learning &amp; Development </strong>. Developing talent is essential for any knowledge-intensive organisation. With CAPP Learning &amp; Developing you can easily improve training and competence management, conduct annual performance interviews and make <a href="/360-feedback/">360° Feedback</a> a part of your HR policy.
        </p>
      </div>
    </div>

    <div class="row">
       <div class="col">
        <p>
          An integration of our Learning &amp; Development environment makes it easy for your employees to be in control of their personal and professional development. With our digital learning systems and resources your employees can work on continuously improving themselves individually or as a team.
        </p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/360-feedback_en.png", title: "360° Feedback", alt: "360° Feedback" %>
          </figure>
        </p>
      </div>
    </div>

  </article>
</section>
