.contact-info {
  border-bottom: $base-border;
  border-top: $base-border;
  clear: both;
  padding: 0;
  position: relative;
  text-align: center;

  @include grid-media($menu-desktop) {
    .row {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .col {
      border-right: $base-border;
      display: table-cell;
    }
  }

  .row {
    padding: 0;
  }

  .col {
    border-bottom: $base-border;
    font-size: $base-font-size * 1.2;
    padding: 2.35765%;
    vertical-align: middle;

    @include grid-media($medium-up) {
      border-bottom: 0;
      width: 33.33333%;
    }

    &:last-child {
      border: 0;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: $base-font-size * 1.6;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
