.contact-info {
  $desktop-mode: $medium-up;

  border-bottom: $base-border;
  border-top: $base-border;
  clear: both;
  padding: 0;
  position: relative;
  text-align: center;

  @include media($desktop-mode) {
    .row {
      @include fill-parent();
      @include row(table);
    }

    .col {
      @include span-columns(4);
      border-right: $base-border;

      &:last-child {
        @include reset-display;
      }
    }
  }

  .row {
    padding: 0;
  }

  .col {
    @include pad();
    border-bottom: $base-border;
    font-size: 1.2em;
    vertical-align: middle;

    @include media($desktop-mode) {
      border-bottom: 0;
    }

    &:last-child {
      border: 0;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: 1.6em;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
