section.news {
  background: $lighter-gray;

  .row {
    padding: 1em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .news-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .news-item {
    background: $white;
    border-radius: $base-border-radius;
    margin-bottom: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease;
    width: 100%;

    @include grid-media($large-up) {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      width: 29%;
    }

    .news-image {
      position: relative;
    }

    .news-tag {
      background: $white;
      border-radius: $base-border-radius;
      color: $dark-gray;
      display: block;
      font-size: $base-font-size * 0.8;
      left: 1.2em;
      padding: 0.2em 1em;
      position: absolute;
      top: 1.2em;
    }

    h3,
    p {
      color: $base-font-color;
    }

    h3 {
      font-size: $base-font-size * 1.1;
      font-weight: $font-weight-bold;
    }

    &:hover {
      transform: scale(1.02);

      h3,
      p {
        color: darken($blue, 15%);
      }
    }

    img {
      width: 100%;
    }

    .text {
      padding: 1em;
    }
  }
}
