section.news {
  background: $lighter-gray;

  .news-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .news-item {
    background: $white;
    margin-bottom: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: transform 0.2s ease;
    width: 100%;

    @include grid-media($large-up) {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      width: 29%;
    }

    h3,
    p {
      color: $base-font-color;
    }

    h3 {
      font-size: $base-font-size * 1.2;
      font-weight: $font-weight-bold;
    }

    &:hover {
      transform: scale(1.02);

      h3,
      p {
        color: darken($blue, 15%);
      }
    }

    img {
      width: 100%;
    }

    .text {
      padding: 1em;
    }
  }
}
