.solutions {

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  a {
    color: $base-font-color;
  }

  h3 {
    font-size: $base-font-size * 1.4;
    font-weight: $font-weight-regular;
  }

  .solution {
    margin: 0 auto;
    padding: 1em 1em 6em;
    position: relative;
    text-align: center;
    width: 360px;

    body.de & {
      width: 270px;
    }
  }

  .button {
    bottom: 2.4em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .solution-icon {
    display: inline-block;
    padding: 1em;
  }

  img {
    height: 90px;
  }
}
