.team {
  background-color: $light-gray-two;
  text-align: center;

  .row {
    max-width: $wide-row;
  }

  li {
    display: inline-block;
    margin: 0 1em 1em;

    &.you {
      .avatar {
        @include transition(background 0.1s linear);
        background-color: $blue-alt;
        color: $white;
      }

      a:hover .avatar {
        background-color: darken($blue-alt, 15%);
      }

      a {
        color: $blue-alt;
        display: block;

        &:active,
        &:focus,
        &:hover {
          color: darken($blue-alt, 15%);
        }
      }
    }
  }

  .avatar {
    background-color: $avatar;
    color: $avatar-color;
    margin-bottom: 8px;

    @include media($medium-up) {
      @include avatar-size(80px);
    }

    &.no-image {
      &::before,
      &::after {
        background-color: $no-image;
      }
    }
  }

  h5 {
    font-size: 0.8em;
    font-weight: 700;

    @include media($medium-up) {
      font-size: 1em;
    }

    span {
      display: block;
    }
  }
}
