.testimonials {
  background-color: $lighter-gray;

  &.light-gray {
    background-color: $lightest-gray;
  }

  .testimonial-list {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;

    li {
      margin-bottom: 2em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .quote {
      background-color: $white;
      border: 0;
      border-radius: $base-border-radius;
      color: $base-font-color;
      display: block;
      font-size: 1.1em;
      font-style: italic;
      line-height: 1.4em;
      margin-bottom: 15px;
      padding: 1.5em;
      position: relative;

      &::before {
        background-color: $white;
        border: border;
        bottom: -$arrow-size / 2;
        content: "";
        display: block;
        height: $arrow-size;
        left: 60px;
        position: absolute;
        transform: rotate(45deg);
        width: $arrow-size;
      }

      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .author {
      margin: $avatar-size / 2 0 0;
      position: relative;

      .avatar {
        background-color: $avatar;
        border-radius: 50%;
        float: left;
        height: $avatar-size;
        margin: 0 $avatar-size / 4 0 $avatar-size / 2;
        width: $avatar-size;

        &.no-image {
          &::before,
          &::after {
            background-color: $no-image;
          }
        }
      }

      .name {
        color: $footer-gray;
        margin: 5px 0;
      }

      .company {
        color: $footer-gray;
        display: block;
        font-size: 0.8em;
      }
    }
  }

  &.featured-testimonials {
    .testimonial-list {
      margin-bottom: 3em;

      @include grid-media($large-up) {
        display: flex;
        justify-content: center;
        max-width: 1200px;

        li {
          flex: 1;
          margin-bottom: 2em;
          margin-left: 1em;
          margin-right: 1em;
          max-width: 800px;

          @include grid-media($medium-up) {
            margin-bottom: 0;
          }
        }
      }
    }

    .testimonials-button {
      text-align: center;
    }
  }
}
