<% unless root_locale == :en %>
  <li class="you">
    <% locale_link_to("/jobs/index.html") do %>
      <div class="avatar"><%= t("about.team.you") %></div>
      <h5>
        <span><%= t("about.team.work_with_us") %></span>
        <span>Defacto</span>
      </h5>
    <% end %>
  </li>
<% end %>
