<section class="capp-overview" id="features">

  <div class="row">
    <h2>
      Warum CAPP Compliance & Qualifikationsmanagement?
    </h2>
  </div>

  <div class="row">
    <div class="col col-text">
      <h3>
        Mit aktueller Fachkompetenz Compliance erfüllen
      </h3>
      <p>
        Alle Mitarbeiter*innen haben im CAPP LMS eine ganz individuelle Lernumgebung. Sie haben Zugriff auf  Pflichtschulungen für die Compliance-Anforderungen, auf Kurse für die ganz persönliche Weiterentwicklung und bekommen den Lernfortschritt angezeigt. In der Kursverwaltung sind individuelle Lernkonzepte integriert.
      </p>
      <p>
        Das Qualifikationsmanagement ist somit effektiv und personalisiert. Und Sie kommen Ihren Compliance-Verpflichtungen nach.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/compliance-1-dashboard_de.png", title: "Qualitätspass", alt: "Qualitätspass" %>
    </div>
  </div>

  <div class="row">
    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/compliance-2-anforderungen_de.png", title: "Anforderungen", alt: "Anforderungen" %>
    </div>

    <div class="col col-text">

      <h3>
        Unternehmensweites Qualifikationsmanagement
      </h3>

      <p>
        So einfach kann Qualifikationsmanagement sein: Mit dem Qualitätspass® von CAPP LMS erhält jeder Team-, Abteilungs- oder Bereichsmanager einen Einblick in die Qualifikationen und Fachkompetenzen seiner Mitarbeiter – jederzeit und auf allen Ebenen.
      </p>

      <p>
        Zusätzlich bietet CAPP LMS einen kompletten Überblick innerhalb des Unternehmens. So lassen sich zeitnah Wissenslücken schließen oder qualifizierte Mitarbeiter*innen gezielter einsetzen.
      </p>

    </div>
  </div>

  <div class="row">
    <article>
      <h3>
        Zertifizierungen und Akkreditierungen werden zum Kinderspiel
      </h3>
      <p>
        Compliance muss man auch nachweisen können: Die im Qualitätspass® zusammengefassten Fortbildungserfolge lassen sich auf Knopfdruck auswerten. Alle für Zertifizierungen und Akkreditierungen benötigten Informationen erhalten Sie in Sekundenschnelle. Mit der automatisierten Transparenz werden sämtliche Audits zum Kinderspiel.
      </p>
    </article>
  </div>

</section>
