<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Apr
      </h3>
      <h2>
        2
      </h2>
    </div>

    <div class="col right">
      <h2>
        Next Learning: "Ready 4 the Revolution"
      </h2>
      <p class="meta">
        <span>2 april 2019</span>
        <span class="divider">|</span>
        <span>‘s-Hertogenbosch</span>
      </p>
      <p>
        Dit jaar staat Next Learning in het teken van "Ready 4 the Revolution". Een aantal belangrijke thema's zijn: het resultaatgericht maken van leren op de werkplek, medewerkers flexibel inzetbaar maken en de alsmaar groter wordende invloed van technologie op leren en werken. Ook dit jaar staan wij er weer en zijn we te vinden op stand A4. Daarnaast organiseren we ook een partnersessie met een presentatie, later meer informatie hierover.
      </p>
      <a href="https://www.nextlearning.nl/" target="_blank" rel="noopener noreferrer" title="Next Learning">Meer informatie over Next Learning</a>
    </div>
  </li>

</ul>
