<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Dec
      </h3>
      <h2>
        5
      </h2>
    </div>

    <div class="col right">
      <h2>
        OEB (Online Educa Berlin)
      </h2>
      <p class="meta">
        <span>5 december 2018</span>
        <span class="divider">|</span>
        <span>Business Center Hamburg</span>
      </p>
      <p>
        Het is weer tijd voor de wereldwijd bekende en brancheoverstijgende beurs en tentoonstelling over digitaal leren en trainen in Berlijn. De OEB bestaat al 24 jaar en geldt nog altijd als grensverleggend evenement waar nieuwe ideeën gevormd worden over de toekomst van digitaal leren. Elk jaar worden weer innovaties getoond en presenteren sprekers nieuwe vormen van leren in een setting waar discussie aangemoedigd wordt. Bij OEB kan je het onverwachte verwachten.
      </p>
      <p>
        We kijken er naar uit om ook dit jaar weer deel te nemen aan de OEB. We zijn te bezoeken op stand "L10".
      </p>
      <a href="https://oeb.global/" target="_blank" rel="noopener" title="OEB Global">Meer informatie over OEB</a>
    </div>
  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Jan
      </h3>
      <h2>
        29
      </h2>
    </div>

    <div class="col right">
      <h2>
        CAPP LMS lancering bij Learntec 2019
      </h2>
      <p class="meta">
        <span>29 januari 2019</span>
        <span class="divider">|</span>
        <span>Beursgebouw Kalsruhe</span>
      </p>
      <p>
        Als je op zoek bent naar digitale leertrends, dan ben je bij Learntec aan het juiste adres. Op de belangrijkste digitale onderwijsbeurs van het jaar lanceren we officieel de laatste versie van CAPP LMS. Bezoek ons op stand K21 in Hal 2 en ontdek hier meer over!
      </p>
      <a href="https://www.learntec.de/de/learntec/die-fachmesse/" target="_blank" rel="noopener" title="Learntec">Meer informatie over Learntec</a>
    </div>
  </li>

</ul>
