<ul class="events-list">
  <li class="event">
    <% link_to "/evenementenagenda/gebruikersbijeenkomst-november-2018.html", class: "col left" do %>
      <h2>
        Defacto Gebruikersbijeenkomst
      </h2>
    <% end %>
    <div class="col right">
      <h2>
        Defacto Gebruikersbijeenkomst
      </h2>
      <p class="meta">
        <span>5 november 2018</span>
        <span class="divider">|</span>
        <span>Antoni van Leeuwenhoekziekenhuis</span>
      </p>
      <p>
        We nodigen je van harte uit om bij de gebruikersbijeenkomst van Defacto aanwezig te zijn. We willen graag van deze gelegenheid gebruik maken om te laten zien wat de vernieuwde mogelijkheden zijn van ons CAPP LMS.
      </p>
      <%= link_to "Meer informatie & aanmelden", "/evenementenagenda/gebruikersbijeenkomst-november-2018.html", class: "button pink" %>
    </div>
  </li>
</ul>
