<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Apr
      </h3>
      <h2>
        2
      </h2>
    </div>

    <div class="col right">
      <h2>
        Next Learning "Ready 4 the Revolution"
      </h2>
      <p class="meta">
        <span>2. April 2019</span>
        <span class="divider">|</span>
        <span>‘s-Hertogenbosch, Die Niederlande</span>
      </p>
      <p>
        In diesem Jahr dreht sich bei der Next Learning alles rund um das Thema "Ready 4 the Revolution". Einige wichtige Themen sind: Ergebnisorientiertes Lernen am Arbeitsplatz, Mitarbeiter flexibel einsetzen können und der zunehmende Einfluss von Technologie auf das Lernen und Arbeiten. Auch dieses Jahr sind wir wieder da und sind am Stand A4 zu finden. Darüber hinaus organisieren wir auch eine Partnersitzung mit Präsentation, dazu später mehr Informationen.
      </p>
      <a href="https://www.nextlearning.nl/" target="_blank" rel="noopener noreferrer" title="Next Learning">Mehr Informationen zu Next Learning</a>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Apr
      </h3>
      <h2>
        9
      </h2>
    </div>

    <div class="col right">
      <h2>
        <%= link_to "Workshop Innovative Lernumgebung", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
      </h2>
      <p class="meta">
        <span>9. April 2019</span>
        <span class="divider">|</span>
        <span>Klinikum der Universität München</span>
      </p>
      <p>
        Wir laden Sie ganz herzlich ein zum Workshop „Innovative Lernumgebung für eine lückenlose Qualitätssicherung - wie Sie mit digitalen Lösungen Ihr Personal im Krankenhaus qualifizieren und motivieren“.
      </p>

      <%= link_to "Weitere Informationen & Anmelden", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
    </div>

  </li>

</ul>
