<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Okt
      </h3>
      <h2>
        18
      </h2>
    </div>

    <div class="col right">
      <h2>
        Clubabend Gesundheitswirtschaft Nordwest
      </h2>
      <h3>
        "Robotik in der Pflege"
      </h3>
      <p class="meta">
        <span>18. Oktober 2018 ab 17:30 Uhr</span>
        <span class="divider">|</span>
        <span>Haus im Park, Bremen</span>
      </p>
      <p>
        Was passiert in Sachen Digitalisierung in der Pflege in den Niederlanden? Wie werden bei unseren Nachbarn neue Technologien in den Alltag integriert? Und woran liegt es, dass die Haltung zur Digitalisierung so anders ist als bei uns? Arnoud Knoeff vom niederländischen Softwareentwickler Defacto kennt beide Seiten der Grenze und berichtet über seine Erfahrungen zum kulturellen Unterschied zwischen Deutschland und den Niederlanden.
      </p>
      <a href="https://gesundheitswirtschaft-nordwest.de/de/veranstaltungen/clubabende/clubabende-2018" target="_blank" title="Clubabende Gesundheidswirtschaft Nordwest">Mehr Informationen</a>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Nov
      </h3>
      <h2>
        15
      </h2>
    </div>

    <div class="col right">
      <h2>
        Kundenveranstaltung CAPP LMS
      </h2>
      <p class="meta">
        <span>15. November 2018</span>
        <span class="divider">|</span>
        <span>Business Center Hamburg</span>
      </p>
      <p>
        Als Veranstaltungsort haben wir uns etwas besonderes ausgedacht. Wir beginnen mit einer Führung durch die Elbphilarmonie in Hamburg! Das neue Wahrzeichen und Kulturdenkmal der Stadt. Treffpunkt ist das Elbphilarmonie Visitor Center, Am Kaiserkai 62.
      </p>
      <p>
        Anschließend geht es nach einem kleinen Mittagessen weiter zum Business Center Hamburg, wo wir Ihnen die neue Version von CAPP LMS vorstellen und Ihnen einen Blick in die Zukunft von Learning & Talent Management geben.
      </p>
    </div>

  </li>

</ul>
