<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Nov
      </h3>
      <h2>
        15
      </h2>
    </div>

    <div class="col right">
      <h2>
        Kundenveranstaltung CAPP LMS
      </h2>
      <p class="meta">
        <span>15. November 2018</span>
        <span class="divider">|</span>
        <span>Business Center Hamburg</span>
      </p>
      <p>
        Für unseren jährlichen Kundentag haben wir uns etwas besonderes ausgedacht. Wir beginnen mit einer Führung durch die Elbphilarmonie in Hamburg! Das neue Wahrzeichen und Kulturdenkmal der Stadt. Anschließend gibt es im Hotel der Elbphilarmonie ein kleines Mittagessen bevor wir mit unserem Programm beginnen. Dieses Jahr stellen wir die neue Version von CAPP LMS vor und geben einen Blick in die Zukunft von Learning & Talent Management.
      </p>
      <p>
        Sollten Sie noch kein Kunde sein, aber trotzdem Interesse haben? Melden Sie sich bei uns unter <strong><a href="mailto:info@defactolearning.de">info@defactolearning.de</a></strong>.
      </p>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Dez
      </h3>
      <h2>
        5
      </h2>
    </div>

    <div class="col right">
      <h2>
        OEB (Online Educa Berlin)
      </h2>
      <h3>
        Shaping the future of learning
      </h3>
      <p class="meta">
        <span>5. - 7. Dezember 2018</span>
        <span class="divider">|</span>
        <span>Hotel InterContinental, Berlin</span>
      </p>
      <p>
        Es ist wieder Zeit für die globale, branchenübergreifende Konferenz und Ausstellung über technologiegestütztes Lernen und Training in Berlin. Die OEB verschiebt seit 24 Jahren Grenzen, stellt vorgefasste Meinungen in Frage und fördert und formt neue Ideen über die Zukunft von Digitalem Lernen. In der Ausstellung werden Innovationen präsentiert, Sprecher zeigen neue Lernformen auf und regen zur Diskussion an. Bei der OEB können Sie das Unerwartete erwarten.
      </p>
      <p>
        Wir freuen uns dieses Jahr bei der OEB teilzunehmen. Kommen Sie uns an unserem Stand "L10" besuchen.
      </p>
      <a href="https://oeb.global/" target="_blank" rel="noopener" title="OEB Global">Mehr Informationen</a>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Jan
      </h3>
      <h2>
        29
      </h2>
    </div>

    <div class="col right">
      <h2>
        Launch von CAPP LMS bei der Learntec 2019
      </h2>
      <h3>
        Ein Blick in die Zukunft von Learning & Talent Management
      </h3>
      <p class="meta">
        <span>29. - 31. Januar 2019</span>
        <span class="divider">|</span>
        <span>Messe Karlsruhe</span>
      </p>
      <p>
        Wenn Sie auf der Suche sind nach digitalen Lerntrends sind sie bei der Learntec genau richtig. Auf Deutschlands wichtigster digitalen Bildungsmesse stellen wir dieses Jahr unsere neue Version CAPP LMS offiziell vor. Besuchen Sie uns am Stand K32 in Halle 2 und erfahren Sie mehr!
      </p>
      <a href="https://www.learntec.de/de/learntec/die-fachmesse/" target="_blank" rel="noopener" title="Learntec">Mehr Informationen</a>
    </div>

  </li>

</ul>
