<ul class="events-list">

  <li class="event">

    <div class="col badge">
      <h3>
        Jan
      </h3>
      <h2>
        29
      </h2>
    </div>

    <div class="col right">
      <h2>
        Launch von CAPP LMS bei der Learntec 2019
      </h2>
      <h3>
        Ein Blick in die Zukunft von Learning & Talent Management
      </h3>
      <p class="meta">
        <span>29. - 31. Januar 2019</span>
        <span class="divider">|</span>
        <span>Messe Karlsruhe</span>
      </p>
      <p>
        Wenn Sie auf der Suche sind nach digitalen Lerntrends sind sie bei der Learntec genau richtig. Auf Deutschlands wichtigster digitalen Bildungsmesse stellen wir dieses Jahr unsere neue Version CAPP LMS offiziell vor. Besuchen Sie uns am Stand K32 in Halle 2 und erfahren Sie mehr!
      </p>
      <a href="https://www.learntec.de/de/learntec/die-fachmesse/" target="_blank" rel="noopener noreferrer" title="Learntec">Mehr Informationen</a>
    </div>

  </li>

  <li class="event">

    <div class="col badge">
      <h3>
        Apr
      </h3>
      <h2>
        9
      </h2>
    </div>

    <div class="col right">
      <h2>
        <%= link_to "Workshop Innovative Lernumgebung", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
      </h2>
      <p class="meta">
        <span>9. April 2019</span>
        <span class="divider">|</span>
        <span>LOCATIE</span>
      </p>
      <p>
        Wir laden Sie ganz herzlich ein zum Workshop „Innovative Lernumgebung für eine lückenlose Qualitätssicherung - wie Sie mit digitalen Lösungen Ihr Personal im Krankenhaus qualifizieren und motivieren“.
      </p>

      <%= link_to "Weitere Informationen & Anmelden", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
    </div>

  </li>

</ul>
