<ul class="events-list">
  <li class="event">

    <% link_to "/evenementenagenda/workshop-innovative-lernumgebung.html", class: "col left" do %>
      <h3>
        OKT
      </h3>
      <h2>
        11
      </h2>
    <% end %>

    <div class="col right">
      <h2>
        <%= link_to "Workshop Innovative Lernumgebung", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
      </h2>
      <p class="meta">
        <span>11. Oktober 2018</span>
        <span class="divider">|</span>
        <span>Klinikum der Universität München</span>
      </p>
      <p>
        Wir laden Sie ganz herzlich zum Workshop „Innovative Lernumgebung für eine lückenlose Qualitätssicherung - wie Sie mit digitalen Lösungen Ihr Personal im Krankenhaus qualifizieren und motivieren“, ein.
      </p>
      <%= link_to "Weitere Informationen & Anmelden", "/evenementenagenda/workshop-innovative-lernumgebung.html" %>
    </div>

  </li>
</ul>
