<ul class="events-list">

  <li class="event">
    <% link_to "/evenementenagenda/gebruikersbijeenkomst-november-2018.html", class: "col badge" do %>
      <h3>
        Nov
      </h3>
      <h2>
        5
      </h2>
    <% end %>

    <div class="col right">
      <h2>
        <%= link_to "Defacto Gebruikersbijeenkomst", "/evenementenagenda/gebruikersbijeenkomst-november-2018.html" %>
      </h2>
      <p class="meta">
        <span>5 november 2018</span>
        <span class="divider">|</span>
        <span>Antoni van Leeuwenhoek</span>
      </p>
      <p>
        We nodigen je van harte uit om te laten zien wat de vernieuwde mogelijkheden zijn van ons CAPP LMS.
      </p>
      <%= link_to "Meer informatie & aanmelden", "/evenementenagenda/gebruikersbijeenkomst-november-2018.html" %>
    </div>
  </li>

  <li class="event">
    <% link_to "/evenementenagenda/seminar-november-2018.html", class: "col badge" do %>
      <h3>
        NOV
      </h3>
      <h2>
        22
      </h2>
    <% end %>

    <div class="col right">
      <h2>
        <%= link_to "Defacto Seminar", "/evenementenagenda/seminar-november-2018.html" %>
      </h2>
      <p class="meta">
        <span>22 november 2018</span>
        <span class="divider">|</span>
        <span>'s Heerenloo</span>
      </p>
      <p>
        We organiseren vanuit het thema 'Het nieuwe LMS: via nieuwe wegen van verplicht vakbevoegd naar gemotiveerd vakbekwaam' een boeiend en informatief seminar. Ontdek wat CAPP LMS voor jouw organisatie kan betekenen en meld je nu aan!
      </p>
      <%= link_to "Meer informatie & aanmelden", "/evenementenagenda/seminar-november-2018.html" %>
    </div>
  </li>

</ul>
