---
title:
  nl: "Defacto Gebruikersbijeenkomst 5 november 2018"
description:
  nl: "Maandag 5 november organiseren wij weer een algemene Defacto Gebruikersbijeenkomst bij het AVL in Amsterdam."
image: images/social/gebruikersbijeenkomst-05112018-1200x630.png
header_image: images/moods/gebruikersoverleg-november-2018.jpg
lang_ignore: en, de
---

<div class="hero event" style="background-image: url(<%= image_path(current_page.data.header_image) %>)">
  <div class="hero-inner">
    <div class="hero-copy">

      <h1>
        Defacto Gebruikersbijeenkomst
      </h1>

      <p>
        5 november 2018 | 12.30 - 16.30 uur<br>
        Antoni van Leeuwenhoek
      </p>

      <a class="button white outline" href="#contact-request" data-scroll-to-form>
        <%= t("form.register") %>
      </a>

    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>

      <p>
        We nodigen je van harte uit om bij de Gebruikersbijeenkomst van Defacto aanwezig te zijn. We willen graag van deze gelegenheid gebruik maken om te laten zien wat de vernieuwde mogelijkheden zijn met ons <a href="/capp-lms/">CAPP LMS</a>.
      </p>

      <ul>
        <li>
          Het programma duurt van 12:30 tot 16:30 met afsluitend een borrel
        </li>
        <li>
          Voor de lunch wordt gezorgd
        </li>
      </ul>

      <figure>
        <%= image_tag "screenshots/capp-lms/course-catalog-browser_nl.png", title: "Cursuscatalogus", alt: "Cursuscatalogus" %>
        <figcaption>Gepersonaliseerd cursusaanbod in de laatste versie van CAPP LMS</figcaption>
      </figure>

      <p>
        Enkele onderwerpen die besproken zullen worden:
      </p>

      <ul>
        <li>
          De stand van zaken rondom CAPP LMS
        </li>
        <li>
          Het gebruik van CAPP LMS door het Antoni van Leeuwenhoek, door Miriam Boer, AVL Academie Manager
        </li>
      </ul>

      <p>
        Via onderstaand formulier kun je je aanmelden. Voor vragen over de bijeenkomst en de definitieve agenda kun je contact opnemen, telefonisch via 050 - 3144832 of via e-mail <strong><a href="mailto:m.joustra@defacto.nl">m.joustra@defacto.nl</a></strong>.
      </p>

      <h2>
        Locatie
      </h2>

      <p>
        <strong>Antoni van Leeuwenhoek</strong><br>
        Plesmanlaan 121<br>
        1066 CX Amsterdam<br>
        <a href="https://www.google.nl/maps/place/Antoni+van+Leeuwenhoek/@52.3489844,4.8219681,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e22632d776e5:0xf15b56ff28f937c2!8m2!3d52.3489811!4d4.8241568" target="_blank" title="Antoni van Leeuwenhoek - Amsterdam">Google Maps</a>
      </p>

      <h2>
        Gerelateerde content
      </h2>

      <a href="/cases/antoni-van-leeuwenhoek/">Lees onze Antoni van Leeuwenhoek (Nederlands Kanker Instituut) casus</a><br>
      <a href="/capp-lms/">Lees meer over de laatste versie van CAPP LMS</a><br>
      <a href="/blog/eerste-defacto-gebruikersoverleg-2016/">Terugblik op het Defacto Gebruikersoverleg najaar 2017</a>

    </article>
  </div>
</section>

<%= partial "call-to-actions/register-event", locals: { num_persons: true } %>
