---
title:
  nl: "Defacto Seminar 22 november 2018"
description:
  nl: "Donderdag 22 november organiseren wij een seminar rond het thema 'Het nieuwe LMS: Via nieuwe wegen van verplicht vakbevoegd naar gemotiveerd vakbekwaam'."
image: images/social/gebruikersbijeenkomst-05112018-1200x630.png
formkeep_id: c6c099bab3d3
lang_ignore: en, de
---

<div class="hero event">
  <div class="hero-inner">
    <div class="hero-copy">
      <h2>
        Het nieuwe LMS:
      </h2>
      <h1>
        Via nieuwe wegen van verplicht vakbevoegd naar gemotiveerd vakbekwaam
      </h1>
      <p>
        22 november 2018 | 12.30 - 17.00
      </p>
      <p>
        's Heerenloo
      </p>
    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
      <p>
        We nodigen je van harte uit om bij het seminar van Defacto aanwezig te zijn. Tijdens dit seminar zullen we vanuit het thema <strong>'Het nieuwe LMS: via nieuwe wegen van verplicht vakbevoegd naar gemotiveerd vakbekwaam'</strong> laten zien wat ons <a href="/capp-lms/">CAPP LMS</a> voor organisaties kan betekenen. Een LMS dat volledig inhouse door Defacto is ontwikkeld en gebouwd op jaren aan ervaring en onze leidende rol als het gaat om het gebruik van de nieuwste technieken en methodieken. We zijn ervan overtuigd en willen dan ook graag laten zien dat CAPP LMS organisaties zal helpen bij het behalen van doelstellingen op het gebied van het laten leren en ontwikkelen van medewerkers!
      </p>
      <ul>
        <li>
          Het programma duurt van 12:30 tot 17:00 met afsluitend een borrel
        </li>
        <li>
          Voor de lunch wordt gezorgd
        </li>
      </ul>
      <p>
        Het programma ziet er globaal als volgt uit:
      </p>
      <ul>
        <li>
          Inloop met lunch
        </li>
        <li>
          Plenaire opening van het seminar
        </li>
        <li>
          De visie achter en de mogelijkheden van CAPP LMS
        </li>
        <li>
          Het gebruik van CAPP LMS door een aantal van onze klanten:
          <ul>
            <li>
              Antoni van Leeuwenziekenhuis
            </li>
            <li>
              Uitzendbureau Timing
            </li>
          </ul>
        </li>
        <li>
          Plenaire afsluiting
        </li>
        <li>
          Afsluitende borrel
        </li>
      </ul>
      <p>
        Via onderstaand formulier kun je je aanmelden. Voor vragen over de bijeenkomst en de definitieve agenda kun je altijd bij ons terecht, telefonisch of via e-mail <strong><a href="mailto:m.joustra@defacto.nl">m.joustra@defacto.nl</a></strong>.
        <h2>Locatie</h2>
        <p>
          's Heerenloo<br>
          Berkenweg 11<br>
          3818 LA Amersfoort<br>
          <a href="https://www.google.nl/maps/place/''s+Heeren+Loo'/@52.1519027,5.3158206,12z/data=!4m8!1m2!2m1!1ss+Heeren+Loo!3m4!1s0x47c6441dba04c9ed:0x34a358e15e5ce72c!8m2!3d52.1518464!4d5.3778522" target="_blank" title="'s Heerenloo - Amersfoort">Google Maps</a>
        </p>
    </article>
  </div>
</section>

<%= partial "call-to-actions/register-event", locals: { num_persons: true } %>
