<ul class="solutions-list">
  <li class="compliance-management">
    <% link_to "/compliance-management.html", class: "col left" do %>
      <h2>
        Compliance Management
      </h2>
    <% end %>
    <div class="col right">
      <p>
        Beschrijving van de pagina Compliance Management.
      </p>
      <%= link_to "Meer over Compliance Management", "/compliance-management.html", class: "button pink outline" %>
    </div>
  </li>
</ul>
