<% if navigation_items %>

  <% navigation_items.each do |item| %>

    <% if item.links %>
      <div class="navigation-list">

        <h6>
          <%= link_to item.title, item.url %>
        </h6>

        <ul>
          <% item.links.each do |link| %>
            <li>
              <%= link_to link.title, link.url %>
            </li>
          <% end %>
        </ul>

      </div>

    <% end %>

  <% end %>
<% end %>
