<section class="applications gray" id="applications">
  <div class="row">
    <h2>
      Hoe kan de API ingezet worden?
    </h2>
    <p>
      De Compliance API kan op verschillende manieren ingezet worden. Onderstaande afbeelding toont hiervan enkele voorbeelden, zoals een koppeling met elektronische dossiers, toegangssystemen, planning/roostering of Business Intelligence-toepassingen.
    </p>
    <%= image_tag "compliance-api-toepassingen.png", title: "Toepassingen van de Compliance API", alt: "Toepassingen van de Compliance API" %>
  </div>
</section>
