<div class="hero">
  <div class="row">
    <div class="col">
      <%= image_tag "logos/logo-capp-compliance-api.svg", title: "CAPP Compliance API", alt: "CAPP Compliance API" %>

      <h2>
        Deel actuele compliance data met andere systemen
      </h2>
    </div>
  </div>
</div>
