<section class="on-page-navigation">
  <ul>
    <li>
      <a href="#introduction" data-scroll-to><%= t("compliance-api.page-nav.introduction") %></a>
    </li>
    <li>
      <a href="#how-it-works" data-scroll-to><%= t("compliance-api.page-nav.how_it_works") %></a>
    </li>
    <li>
      <a href="#applications" data-scroll-to><%= t("compliance-api.page-nav.applications") %></a>
    </li>
    <li>
      <a href="#contact-request" data-scroll-to><%= t("compliance-api.page-nav.more_info") %></a>
    </li>
  </ul>
</section>
