<section class="overview" id="introduction">
  <div class="row">
    <article>
      <p>
        De <strong>CAPP Compliance API</strong> deelt op een eenvoudige manier de status van certificering en bevoegdheid (compliance) van medewerkers uit CAPP LMS realtime met andere applicaties binnen een organisatie. Voorkom dubbel werk, beschik altijd over de meest actuele gegevens en maak zo compliance onderdeel van het primaire proces.
      </p>
      <h3>
        Brug met andere applicaties
      </h3>
      <p>
        Deze brug tussen het LMS en andere applicaties is ontwikkeld in samenwerking met het Universitair Medisch Centrum Groningen (UMCG). Naast reeds bestaande functionaliteit op het gebied van compliance in CAPP LMS, stelt de API de compliance status van medewerkers beschikbaar voor gebruik in andere relevante toepassingen, inzetbaar in elke branche.
      </p>
    </article>
  </div>
</section>
