<section class="testimonials featured-testimonials">
  <div class="headline">
    <h2><%= t("testimonials.title") %></h2>
  </div>
  <div class="row">

    <%= partial "partials/testimonials", locals: {
      count: 2,
      featured: true,
      summary: true
    } %>


  <div class="testimonials-button">
    <%= link_to t("testimonials.more_testimonials"), "/testimonials.html", class: "button blue outline" %>
  </div>
  </div>
</section>
