<div class="privacy-notification-container" data-rel="privacy-notification">
  <div class="privacy-notification">
    <span class="privacy-notification-copy">
      <%= t("privacy-policy.text", link: link_to(t("privacy-policy.link"), "/privacy-policy.html")) %>
    </span>
    <button class="dismiss-button" data-rel="privacy-notification-dismiss">Close</button>
  </div>
</div>
