<section class="related-posts">

  <div class="row">

    <div class="col">

      <% if blog == "jobs" %>

        <h3>
          <%= t("jobs.more") %>
        </h3>

      <% elsif blog == "blog" %>

        <h3>
          <%= t("blog.more_articles") %>
        </h3>

      <% end %>

      <ol class="post-list">

        <% (blog(blog).articles - [current_article])[0...5].each do |article| %>

          <li>

            <% if blog == "jobs" %>
              <%= partial "jobs/job-preview", locals: { article: article } %>
            <% elsif blog == "blog" %>
              <%= partial "blog/blog-article-preview", locals: { article: article } %>
            <% end %>

          </li>

        <% end %>

      </ol>

    </div>

  </div>

</section>
