<section class="other-posts">

  <div class="row">

    <div class="col">

      <% if blog == "jobs" %>

        <h3>
          <%= t("jobs.more") %>
        </h3>

      <% elsif blog == "blog" %>

        <h3>
          <%= t("blog.more_articles") %>
        </h3>

      <% end %>

      <ol class="post-list">

        <%= other_posts() %>

      </ol>

    </div>

  </div>

</section>
