<ul class="events-list">
  <li class="event">
    <% link_to "/events/workshop-innovative-lernumgebung.html", class: "col left" do %>
      <h2>
        Workshop Innovative Lernumgebung
      </h2>
    <% end %>
    <div class="col right">
      <h2>
        Workshop Innovative Lernumgebung
      </h2>
      <p class="meta">
        <span>15. Oktober 2018</span>
        <span class="divider">|</span>
        <span>Klinikum der Universität München</span>
      </p>
      <p>
        Die Ludwig-Maximilians-Universität München, videoDoc und Defacto laden Sie ganz herzlich zum Workshop „Innovative Lernumgebung für eine lückenlose Qualitätssicherung - wie Sie mit digitalen Lösungen Ihr Personal im Krankenhaus qualifizieren und motivieren“, ein.
      </p>
      <%= link_to "Weitere Informationen & Anmelden", "/events/workshop-innovative-lernumgebung.html", class: "button pink" %>
    </div>
  </li>
</ul>
