---
title:
  de: "Workshop Innovative Lernumgebung für eine lückenlose Qualitätssicherung am 11.10.2018"
description:
  de: "Ein praxisnaher Workshop in Zusammenarbeit mit dem LMU München, VideoDoc und Defacto"
lang_ignore: en, nl
---

<div class="hero event">
  <div class="hero-inner">
    <div class="hero-copy">
      <h2>
        Workshop
      </h2>
      <h1>
        „Innovative Lernumgebung für eine lückenlose Qualitätssicherung“
      </h1>
      <p>
        11. Oktober 2018 | 10.00 - 16.30<br />
        Klinikum der Universität München
      </p>
    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
      <p>
        Die Ludwig-Maximilians-Universität München, VideoDoc und Defacto laden Sie ganz herzlich zum Workshop „Innovative Lernumgebung für eine lückenlose Qualitätssicherung - wie Sie mit digitalen Lösungen Ihr Personal im Krankenhaus qualifizieren und motivieren“, ein.
      </p>
      <p>
        Wir wollen dort gemeinsam mit Ihnen einen ganzheitlichen Blick auf das Potenzial und die Umsetzungsmöglichkeiten von digitalen Lernlösungen im Krankenhaus werfen.  
      </p>
      <ul>
        <li>
          Die Teilnahme ist <strong>kostenlos</strong>.
        </li>
        <li>
          Für das leibliche Wohl ist gesorgt.
        </li>
      </ul>
      <h3>
        Einige Themen
      </h3>
      <ul>
        <li>
          Begrüssung durch Frau Dr. Med. Béatrice Grabein, Leitende Ärztin und Stabstelle Klinikische Mikrobiologie und Krankenhaus Hygiene
        </li>
        <li>
          Aktuelle Trends, Patientenzufriedenheit und Arbeitgeberattraktivität
        </li>
        <li>
          Einblicke in Digitales Lernen
        </li>
        <li>
          Moderne Learning Management Systeme (LMS) und Compliance-Lösungen
        </li>
        <li>
          Der gezielte Einsatz neuer Lernsoftware, um personal-strategische Ziele zu erreichen
        </li>
        <li>
          Beispiel aus der Praxis: die obligatorische Hygiene-Schulung am Klinikum der LMU
        </li>
      </ul>
      <p>
        Für Ihre weiteren Themenwünsche oder Fragen bezüglich des anstehenden Workshops stehen wir gerne zur Verfügung. Über Ihre Zusage bis zum 26. September 2018 freuen wir uns.
      </p>
      <h3>
        Wo?
      </h3>
      <p>
        <strong>Klinikum der Universität München</strong><br />
        Campus Großhadern<br />
        Marchioninistraße 15 <br />
        81377 München<br />
        <a href="https://www.google.nl/maps/place/Klinikum+Gro%C3%9Fhadern/@48.1113273,11.4671084,17z/data=!3m1!4b1!4m5!3m4!1s0x479dd84e174f70c5:0xbe2856eb1d70bdbb!8m2!3d48.1113273!4d11.4692971" target="blank" title="Klinikum Großhadern - Universität München">Google Maps</a>
      </p>
      <p class="logos">
        <%= image_tag "events/campusG.png", title: "CampusG", alt: "CampusG" %>
        <%= image_tag "events/LMU.png", title: "Ludwig Maximilian Universität", alt: "Ludwig Maximilian Universität" %>
      </p>
    </article>
  </div>
</section>

<%= partial "call-to-actions/register-event" %>
