<section class="advantages gray" id="advantages">
  <div class="row">

    <%= image_tag "screenshots/infographic-performance-support-transparant-DE.png", title: "Vorteile von Performance Support", alt: "Vorteile von Performance Support" %>

  </div>
</section>
