<section class="moments" id="moments">
  <div class="row">
    <article>
      <h2>
        Five Moments of Need
      </h2>
      <p>
        Wie sehen leistungsunterstützende Informationen aus und wie müssen diese gestaltet werden, außer dass sie kurz und deutlich sein sollten? Um diese Frage zu beantworten, müssen die Arbeitsabläufe analysiert werden, bei denen die Informationen unterstützen sollen. Ein passendes Modell ist das „Five moments of need“ Modell von Mosher & Gottfredson.
      </p>
      <p>
        Dieses Modell zeigt fünf spezifische Situationen auf, in denen man einen Lernbedarf hat. Abhängig von der Situation kann der Umfang und die Form der benötigten Lerninhalte festgestellt werden. So kann zum Beispiel festgestellt werden, ob bei einem Gerät ein Merkblatt mit den häufigsten Fehlern und deren schneller Behebung ausreichen, oder aber eine ergänzende Anweisung benötigt wird.
      </p>
      <p>
        <%= image_tag "screenshots/five-moments-of-need-large_de.jpg", title: "Five moments of need", alt: "Five moments of need" %>
      </p>
      <p>
        Mehr zu diesem Model finden Sie auch in unserem Blogeintrag über <a href="/blog/five-moments-of-need-lernen-im-richtigen-bedarfsmoment/">5 Moments of Need</a>. Oder  <a href="#form" data-scroll-to>vereinbaren Sie einen unverbindlichen Termin</a> mit uns.
      </p>
    </article>
  </div>
</section>
