<section class="on-page-navigation">
  <ul>
    <li>
      <a href="#general" data-scroll-to><%= t("solutions.pages.performance-support.page-navigation.general") %></a>
    </li>
    <li>
      <a href="#advantages" data-scroll-to><%= t("solutions.pages.performance-support.page-navigation.advantages") %></a>
    </li>
    <li>
      <a href="#moments" data-scroll-to><%= t("solutions.pages.performance-support.page-navigation.moments") %></a>
    </li>
    <li>
      <a href="#practical" data-scroll-to><%= t("solutions.pages.performance-support.page-navigation.practical") %></a>
    </li>
  </ul>
</section>
