<section class="practical gray" id="practical">
  <div class="row">
    <h2>
      Performance Support im Einsatz
    </h2>
  </div>
  <div class="row">
    <div class="col col-text">
      <h3>
        Anleitungen über QR Code
      </h3>

      <p>
        Unterstützung am Arbeitsplatz kann klein beginnen, z.B. mit einem aufgeklebten QR Code auf dem Drucker oder Kaffeeautomaten. Der QR Code kann einfach mit einem Handy oder Tablet gescannt werden und führt direkt zu der Gebrauchsanleitung des jeweiligen Apparates.
      </p>

      <p>
        Auch in Krankenhäusern werden QR Codes genutzt, um zu Anleitungen und Protokollen von Medizinprodukten zu verlinken. Ärzte und Krankenpfleger müssen heutzutage eine Vielzahl von Geräten bedienen. Viele davon werden jedoch nicht tagtäglich genutzt.
      </p>

      <p>
        Mit <a href="/capp-agile-learning/">CAPP Agile Learning</a> können Sie Ihren Mitarbeitern die benötigten Informationen genau zu dem Zeitpunkt anbieten, wenn diese sie brauchen. So machen Sie es einfacher für Ihre Mitarbeiter, vermindern Fehlerquoten und verbessern die Qualität Ihres Unternehmens.
      </p>
    </div>
    <div class="col col-img">
      <%= image_tag "screenshots/qr-code-performance-support-large.png", title: "Anleitungen über QR Code", alt: "Anleitungen über QR Code" %>
    </div>
  </div>
  <div class="row">
    <div class="col col-img">
      <%= image_tag "screenshots/excel-in-bibliothek.gif", title: "Excel in Bibliothek", alt: "Excel in Bibliothek" %>
    </div>
    <div class="col col-text">
      <h3>
        Microlearning am Arbeitsplatz
      </h3>

      <p>
        Mit Performance Support können Sie das Lernen am Arbeitsplatz unterstützen und dafür sorgen, dass Mitarbeiter auch komplexere Arbeitsprozesse sicher beherrschen. Kurze Videos, Texte, Prozessinformationen und Links zu Beschreibungen können bereits ausreichen, um Mitarbeiter bei ihrer täglichen Arbeit zu helfen. Wichtig ist, dass diese Informationen schnell zugänglich und einfach zu finden sind.
      </p>

      <p>
        Mit <a href="/capp-learning-management/">CAPP LMS</a> können Sie eine unternehmenseigene Bibliothek aufbauen, die Ihren Mitarbeitern kleine kontextgebundenen Lerneinheiten anbietet und dabei hilft wichtige Informationen direkt zu finden. So bleiben Ihre Mitarbeiter immer auf dem neuesten Stand und entwickeln sich automatisch weiter.
      </p>

      <p>
        Zum Beispiel kann man verschiedene Lerneinheiten zu der Handhabung von Excel erstellen mit Tutorials zum Basiswissen oder den wichtigsten Formeln, die gerne von Anwendern vergessen werden.
      </p>
    </div>
  </div>
</section>
