.post-header {
  background-image: url("../images/moods/defacto.jpg");
  background-position: center;
  background-size: cover;
  color: $white;
  padding-bottom: 6em;
  padding-top: 6em;
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    font-weight: 700;
  }

  &::before {
    background-color: rgba($dark-gray, 0.45);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.author-name {
  font-weight: 700;
}

.blog-list {
  padding-bottom: 4em;

  li:first-child article {
    padding-top: 0;
  }

  li {
    border-bottom: $post-border 1px solid;
    padding: 4em 0;
  }
}

div.featured-blog {
  padding: 3em 1em;
  text-align: center;

  .blog-article-preview {
    margin-bottom: 3em;
  }
}

body.blog_tags_index {
  .post-header {
    margin-bottom: 2em;
  }

  ol {
    border-bottom: $post-border 1px solid;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}
