body.capp-lms,
body.capp-bilden,
body.capp-entwickeln {
  .hero {
    background-attachment: scroll;
    background-color: $blue-alt;
    background-image: radial-gradient(
      circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%);

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 1.8em;
      font-weight: 500;
      margin: 0 auto 1.5em;
      max-width: 900px;
      text-align: center;

      @include media($medium-up) {
        font-size: 2.4em;
      }
    }

    h2 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 1.4em;
      margin-bottom: 1em;
      text-align: center;

      @include media($medium-up) {
        font-size: 2em;
        margin-bottom: 2em;
      }
    }

    .hero-inner {
      padding: 4em 0;
    }

    .hero-copy {
      padding: 2em;

      h2 {
        @include media($large-up) {
          text-align: left;
        }
      }
    }
  }

  .main {
    .row {
      padding: 0 2em;
    }

    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }
  }


  figure {
    @include media($large-down) {
      text-align: center;
    }
  }
}
