body.capp-agile-learning {

  .logo {
    margin: 0 auto 1.2em;
    max-width: 400px;
  }

  h1 {
    color: $white;
    font-size: 1.8em;
    font-weight: 500;
    margin: 0 auto 1.2em;
    max-width: 800px;
  }

  h2 {
    color: $dark-gray;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 1.2em;

    @include media($medium-up) {
      font-size: 2.4em;
    }
  }

  h3 {
    color: $dark-gray;
    font-size: 1.4em;
    font-weight: 500;

    @include media($medium-up) {
      font-size: 1.8em;
    }
  }

  .header-image {
    $hero-image: "../images/learningspaces-pattern.jpg";
    background: $green url($hero-image) center fixed;

    .header {
      background: transparent;
    }

    .hero {
      background: transparent;

      .hero-inner {
        padding: 2em 1em 0;

        .button {
          display: inline-block;
          margin-bottom: 4em;
        }
      }

      .hero-img {
        display: block;
        margin: 0 auto 4em;
      }

      h2 {
        color: $white;
        font-size: 1.4em;
        font-weight: 600;
        margin: 0 auto 4em;
        max-width: 960px;
        text-shadow: 0 3px 1px rgba($black, 0.1);

        @include media($medium-up) {
          font-size: 2em;
        }

        &::before,
        &::after {
          color: lighten($gray, 0.5);
          content: "“";
          font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
          font-size: 1.2em;
          line-height: 0;
          margin: 0 -6px 0 0;
          position: relative;
          top: 4px;
        }

        &::after {
          content: "”";
          margin: 0 0 0 -6px;
        }
      }
    }
  }

  .why {
    background: $lighter-gray;
    text-align: center;

    h2 {
      padding: 0 1em;
    }

    .row {
      max-width: 1380px;
      padding: 2em 1em;

      @include media($large-up) {
        display: flex;
      }
    }

    .reason {
      background: $white;
      border-radius: $base-border-radius;
      margin-bottom: 3em;
      padding: 2em;
      position: relative;
      text-align: center;

      @include media($large-up) {
        margin-right: 2em;
      }

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 1.6em;
      }

      p {
        margin: 0;
      }
    }

    .number {
      background: $green;
      border-radius: 50%;
      display: inline-block;
      height: 80px;
      line-height: 80px;
      margin-bottom: 1em;
      position: relative;
      vertical-align: middle;
      width: 80px;

      span {
        color: $white;
        font-size: 2em;
        font-weight: 700;
      }
    }
  }

  .features {
    padding: 0;

    .row {
      border-bottom: 1px solid $light-gray;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 2em;
      padding: 2em 0;

      @include media($xlarge-up) {
        display: block;
        padding: 4em 0;
      }
    }

    .row:last-child {
      border-bottom: 0;
    }

    .col {
      flex: 2 100%;
      padding: 0 1em;

      @include media($large-up) {
        @include span-columns(6);

        &-img:first-child {
          padding-right: 2em;
        }

        &-img:last-child {
          padding-left: 2em;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;
      }

      &-img {
        margin-bottom: 1em;
        order: 1;
      }

      &-text {
        order: 2;
      }
    }

    h3 {
      font-weight: 700;
    }

    .screenshot {
      $border-color: #f1f2f1;
      border: 2px solid $border-color;
    }
  }

  .testimonials {
    background: $lighter-gray;
  }

  .demo-request {
    text-align: left;

    h2 {
      margin-bottom: 1em;
    }

    .col {
      margin-bottom: 2em;

      @include media($large-up) {
        @include span-columns(7);
        margin-bottom: 0;

        &:first-child {
          @include span-columns(5);
          padding-right: 2em;
        }
      }
    }
  }
}
