.clients {
  background-color: $lightest-gray;
  background-image: linear-gradient(darken($lightest-gray, 2), $lightest-gray 120px);
  padding: 2em 0;
  text-align: center;

  .logos {
    img {
      display: inline-block;
      height: 30px;
      margin: 1em 1.4em;
      opacity: 0.5;
      width: auto;

      @include media($large-up) {
        height: 50px;
      }
    }
  }
}
