body.demo-aanvragen,
body.productsheet-downloaden {
  .hero {
    background-attachment: scroll;
    background-color: $blue-alt;
    background-image: radial-gradient(
      circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%);

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 2.4em;
      font-weight: 700;
      margin: 0 auto;
      max-width: 700px;
      text-align: center;
    }
  }

  h2 {
    text-align: center;
  }

  article {
    max-width: 700px;
  }
}
