body.convenant-medische-technologie {

  .hero {
    background-color: $blue-alt;
    background-image: url("../images/heros/hero-cmt.jpg");
    background-position: center;

    .hero-inner {
      padding: 4em 1em;

      @include media($medium-up) {
        padding: 7em 1em;
      }
    }
  }

  h1 {
    font-size: 1.6em;
    margin: 0 auto;

    @include media($medium-up) {
      font-size: 3em;
    }
  }
}
