body.evenementenagenda {
  .hero {
    background-image: url("../images/moods/defacto.jpg");
    background-position: center;
    background-size: cover;

    h1 {
      font-size: $base-font-size * 1.4;

      @include media($medium-up) {
        font-size: $base-font-size * 2.4;
      }
    }

    h2 {
      font-size: $base-font-size * 1.4;

      @include media($medium-up) {
        font-size: $base-font-size * 2;
      }
    }

    .hero-inner {
      padding: 3em 1em;

      @include media($medium-up) {
        padding: 4em 1em;
      }
    }

    &.event {

      p {
        font-size: $base-font-size * 1.2;
        margin-bottom: 1em;

        @include media($medium-up) {
          font-size: $base-font-size * 1.6;
        }
      }

      .button {
        margin-bottom: 0;
      }
    }
  }

  article {
    img {
      display: block;
      left: 50%;
      padding: 0.2em 0;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

.events-list {
  margin: 0 auto;
  max-width: 800px;

  > li {
    margin-bottom: 2em;

    @include media($medium-up) {
      display: flex;
    }
  }

  .col {
    display: block;
    width: 100%;
  }

  .left {
    display: none;

    @include media($medium-up) {
      background-image: url("../images/calendar-background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 160px;
      text-align: center;
      width: 160px;
    }

    h2 {
      color: $dark-gray;
      font-size: $base-font-size * 4;
      font-weight: 700;
    }

    h3 {
      color: $white;
      font-size: $base-font-size * 1;
      font-weight: 700;
      margin-bottom: 3px;
      margin-top: 14px;
    }
  }

  .right {
    @include media($medium-up) {
      flex: 1;
    }

    h2 {
      margin-bottom: 0;

      a {
        color: $base-font-color;
        font-size: $base-font-size * 0.8;
        font-weight: 700;
      }
    }

    p {
      margin: 0.75em 0;
    }

    a {
      color: $pink;
      font-weight: 700;

      &:hover {
        color: darken($pink, 20%);
      }
    }

    .meta {
      color: $post-meta;

      span {
        display: block;

        @include media($medium-up) {
          display: inline-block;
        }

        &.divider {
          display: none;

          @include media($medium-up) {
            display: inline-block;
            margin-left: 0.5em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}
