.feature-list {
  color: $medium-gray;
  text-align: center;

  h2,
  h3 {
    color: $base-font-color;

    a {
      color: $base-font-color;
    }
  }

  .headline {
    margin-bottom: 4em;
    max-width: 790px;

    h2 {
      font-size: 2em;

      @include media($large-up) {
        font-size: 2.4em;
      }
    }
  }

  .row {
    @include clearfix;
    max-width: 1580px;
  }

  .col {
    margin-bottom: 2em;
    padding: 0 1em;
    position: relative;

    h3 {
      font-size: 1.4em;
      font-weight: 500;
    }
  }

  &.three .col {
    @include media($large-up) {
      @include span-columns(4);
    }
  }
}
