.header-image {
  background-size: cover;

  .hero {
    background: transparent;
  }
}

.header {
  height: $header-height;
  padding: 0 1em;
  z-index: 9999;

  @include media($menu-desktop) {
    background: $white;
    padding: 0;
    position: fixed;
    text-align: right;
    top: 0;
    transition: background 0.2s ease,
                box-shadow 0.2s ease;
    width: 100%;

    &.header-fixed {
      background: $white;
      box-shadow: 0 4px 2px -2px rgba($black, 0.1);

      &.header {
        .brand-mark {
          fill: $orange-logo;
        }

        .word-mark {
          fill: $gray-menu;
        }
      }

      .main-nav {
        &.header-white,
        &.header-invert {
          a {
            color: $gray-menu;

            &:hover,
            &:focus,
            &:active,
            &.active {
              color: $orange;
            }
          }

          ul > li {
            &.active > a {
              color: $orange;
            }
          }
        }
      }
    }

    &.header-invert,
    &.header-white {
      background: transparent;

      &.header-fixed {
        background: $white;
      }
    }

    .header-container {
      @include outer-container;
      padding: 0 1em;
    }
  }

  &.header-white {

    .brand-mark {
      fill: $white;
    }

    .word-mark {
      fill: $white;
    }
  }

  &.header-invert {

    .brand-mark {
      fill: $orange-logo;
    }

    .word-mark {
      fill: $white;
    }
  }

  .logo {
    float: left;
    line-height: $header-height - 4px;

    svg {
      display: inline-block;
      height: 37px;
      margin-top: 0;
      vertical-align: middle;
      width: 164px;
    }
  }

  .main-nav {
    display: none;

    @include media($menu-desktop) {
      display: inline-block;

      ul:hover li > a {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      li {
        display: inline-block;
        float: left;
        line-height: $header-height;
      }

      a {
        color: $gray-menu;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 0 14px;
        transition: opacity 0.2s ease;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $orange;
        }

        &.header-search {
          line-height: inherit;
          padding-right: 30px;
        }
      }

      &.header-invert {
        a {
          color: $white;

          &:hover,
          &:focus,
          &:active,
          &.active {
            color: $orange;
          }
        }
      }

      &.header-white {
        a {
          color: $white;

          &:hover,
          &:focus,
          &:active,
          &.active {
            color: $white;
          }
        }
      }
    }
  }

  .flags {
    margin-right: 10px;

    a {
      display: inline-block;
      margin-right: 3px;
      opacity: 0.9;
      padding: 0;
      transition: opacity 0.2s ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 18px;
    }
  }
}
