.index {
  .header-image {
    $hero-image: "../images/moods/defacto.jpg";
    background-image: url($hero-image);

    .hero {
      h1 {
        font-size: 1.6em;
        font-weight: 300;
        margin: 0 auto 1em;
        max-width: 900px;

        @include media($large-up) {
          font-size: 2.8em;
        }
      }

      h2 {
        font-size: 1.6em;
        margin: 0 auto 1.4em;
        max-width: 860px;

        @include media($large-up) {
          font-size: 2.2em;
        }
      }

      .hero-inner {
        padding: 5em 1em 6em;
      }
    }
  }

  &.nl .hero {
    .announcing {
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 3.2em;
      opacity: 0.5;
      text-transform: uppercase;
    }

    .logo {
      margin-bottom: 2.4em;
      max-width: 280px;
    }

    h1 {
      font-weight: 700;
      margin-bottom: 0.5em;

      @include media($large-up) {
        font-size: 3em;
      }
    }

    .button {
      @include button(#ec677a);
    }
  }

  &.de {
    .header-image {
      $hero-image: "../images/moods/healthcare.jpg";
      background-image: url($hero-image);
    }
  }

  .home-copy {
    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }

    ul {
      list-style: disc;
      padding-left: 2em;
    }

    a {
      font-weight: 700;
    }

    h2 {
      font-size: 1.4em;
      font-weight: 700;
    }

    p {
      margin: 0;
      margin-bottom: 1.5em;
    }
  }
}
