.index {
  .header-image {
    .hero {
      h1 {
        font-size: 1.6em;
        font-weight: 300;
        margin: 0 auto 1em;
        max-width: 900px;

        @include media($large-up) {
          font-size: 2.8em;
        }
      }

      h2 {
        font-size: 1.6em;
        margin: 0 auto 1.4em;
        max-width: 860px;

        @include media($large-up) {
          font-size: 2.2em;
        }
      }

      .hero-inner {
        padding: 5em 1em 6em;
      }
    }
  }

  &.nl {
    .header-image {
      $background-image: "../images/capp-12-intro-bg.svg";

      background-color: $capp-dark-blue;
      background-image: url($background-image);
      background-position: top 0 right -150px;
      background-repeat: no-repeat;
      background-size: 800px auto;
    }

    .hero {
      .logo {
        margin-bottom: 2.4em;
        max-width: 280px;
      }

      h1 {
        font-weight: 700;
        margin-bottom: 0.5em;

        @include media($large-up) {
          font-size: 3em;
        }
      }
    }
  }

  &.de {
    .header-image {
      $hero-image: "../images/moods/healthcare.jpg";
      background-image: url($hero-image);
    }
  }

  &.en {
    .header-image {
      $hero-image: "../images/moods/defacto.jpg";
      background-image: url($hero-image);
    }
  }

  .home-copy {
    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }

    ul {
      list-style: disc;
      padding-left: 2em;
    }

    a {
      font-weight: 700;
    }

    h2 {
      font-size: 1.4em;
      font-weight: 700;
    }

    p {
      margin: 0;
      margin-bottom: 1.5em;
    }
  }
}
