.jobs {
  a {
    color: $blog-link-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: darken($blog-link-color, 15%);
    }
  }

  .main {
    .row {
      padding: 1em;

      p {
        @include media($medium-up) {
          font-size: $base-font-size * 1.2;
        }
      }
    }

    .col {
      margin: 0 auto;
      max-width: 960px;
    }
  }

  .job {
    h1 {
      margin: 0;
    }

    h2 {
      font-size: 1.6em;

      @include media($medium-up) {
        font-size: 1.8em;
      }
    }
  }

  .jobs-header {
    background-image: url("../images/moods/defacto-pand.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;

    @include media($medium-up) {
      padding-bottom: 3em;
      padding-top: 3em;
    }

    .col {
      color: $white;
      max-width: 800px;
      text-align: center;

      h1 {
        font-size: $base-font-size * 1.5;
        font-weight: 700;

        @include media($medium-up) {
          font-size: $base-font-size * 2.4;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .jobs-overview {
    padding-bottom: 3em;
    padding-top: 3em;

    .jobs-list-title {
      font-size: 2em;
    }
  }

  article {
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .jobs-list {
    li:first-child article {
      padding-top: 0;
    }

    li {
      border-bottom: $post-border 1px solid;
      padding: 2em 0 1em;

      h2 {
        font-size: $base-font-size * 1.6;
        font-weight: 700;
      }
    }
  }

  .post-body li {
    @include media($medium-up) {
      font-size: $base-font-size * 1.2;
    }
  }

  .jobs-related {
    background-color: $lightest-gray;
  }

  .job-form {
    background: $lightest-gray;
    margin-bottom: 3em;
    margin-top: 3em;
    padding: 1em;

    @include media($medium-up) {
      margin-left: -3em;
      margin-right: -3em;
      padding: 3em;
    }

    .form-contact {
      max-width: none;
    }
  }
}
