article.post {
  margin: 0;
  max-width: none;
  width: 100%;

  h1 {
    font-size: $base-font-size * 2.4;
    margin: 0 auto;
    max-width: 960px;

    body.blog-article & {
      margin: 0 auto 0.8em;
    }
  }

  .blog-meta {
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $light-gray;
      }
    }
  }
}

.post-body {
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 2em;

  @include media($medium-up) {
    font-size: $base-font-size * 1.2;
  }

  a:not(.button) {
    color: $blog-link-color;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
      color: darken($blog-link-color, 15%);
    }
  }

  .col {
    margin: 0 auto;
    max-width: 960px;

    &.sidebar-content {
      @include media($large-up) {
        @include span-columns(8);
      }
    }
  }

  h2 {
    font-size: $base-font-size * 1.6;

    @include media($medium-up) {
      font-size: $base-font-size * 1.8;
    }
  }

  h3 {
    font-size: $base-font-size * 1.4;

    @include media($medium-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  img {
    display: block;
    left: 50%;
    padding: 0.6em 0;
    position: relative;
    transform: translateX(-50%);
  }
}

.post-list {
  h2 {
    font-size: $base-font-size * 1.2;
    font-weight: 700;
    text-align: left;

    @include media($medium-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  h3 {
    font-size: $base-font-size * 2;
  }

  li:first-child article {
    padding-top: 0;
  }

  li {
    border-bottom: $post-border 1px solid;
    padding: 3em 0;
  }

  article {
    max-width: none;
    width: 100%;
  }
}
