<section class="social-proof">

  <div class="row">

    <div class="proof-item">

      <h3 class="number">
        <span class="number-integer">100%</span>
        <span class="words">geslaagde koppelingen</span>
      </h3>

      <p class="description">
        CAPP Learning & Talent Management wordt via onze slimme HR Importer gevoed vanuit (HR) systemen als Beaufort, People Soft, SAP en nog vele andere.
      </p>

    </div>

    <div class="proof-item">

      <h3 class="number">
        <span class="number-integer">99,99%</span>
        <span class="words">hosting up-time</span>
      </h3>

      <p class="description">
        Onze hostingspecialisten zorgen ervoor dat CAPP Learning & Talent Management altijd en overal door onze klanten te gebruiken is.
      </p>

    </div>

    <div class="proof-item">

      <h3 class="number">
        <span class="number-integer">&lt; 10 minuten</span>
        <span class="words">responstijd</span>
      </h3>

      <p class="description">
        Via de geïntegreerde chatfunctionaliteit in CAPP Learning & Talent Management staan onze service & support specialisten voor u klaar.
      </p>

    </div>

    <div class="proof-item">

      <h3 class="number">
        <span class="number-integer">250.000+</span>
        <span class="words">gebruikers</span>
      </h3>

      <p class="description">
        Meer dan 250.000 mensen, in dienst bij high-end klanten in verschillende branches, leren en ontwikkelen met behulp van ons inhouse ontwikkelde CAPP Learning & Talent Management.
      </p>

    </div>


  </div>

</section>
