<div class="hero variant-product overlay-darken" role="banner" style="background-image: url(<%= image_path("moods/capp-compliance-new.jpg") %>)">

  <div class="hero-inner">

    <div class="row">

      <iframe src="https://player.vimeo.com/video/386706770?dnt=1&title=1" width="640" height="360" frameborder="0" allowfullscreen allowscriptaccess="never"></iframe>

    </div>

  </div>

</div>
