<section class="product-introduction" id="introduction">
  <div class="row">

    <h1>
      <%= t("capp-compliance.h1") %>
    </h1>

    <p>
      Is compliance voor uw organisatie een uitdaging? Voldoen aan wet- en regelgeving of branche-specifieke eisen is een voorwaarde voor kwaliteit. Maar compliance organiseren en sturen is vaak een tijdrovend en ingewikkeld proces.
    </p>

    <p>
      Met <strong>CAPP Compliance</strong> stelt u leren in dienst van compliance, krijgt u inzicht in het kennisniveau binnen uw organisatie en de handvatten om gericht te sturen. Hierdoor voldoen uw medewerkers niet alleen aan de gestelde eisen, maar loopt uw organisatie altijd voorop.
    </p>

  </div>
</section>
