<section class="product-overview" id="features">

  <div class="row">

    <div class="col col-text">
      <h2>
        Operationaliseer wet- en regelgeving
      </h2>

      <p>
        CAPP Compliance ondersteunt de wet- en regelgeving voor uw branche of organisatie. Voor een functie, taak en/of afdeling stelt u eenvoudig de verplichtingen (vereisten) op waaraan medewerkers moeten voldoen, bijvoorbeeld voorbehouden handelingen. Deze worden <strong>automatisch toegekend</strong> en gekoppeld aan <strong>concrete leerinterventies</strong>, waarmee medewerkers hun bekwaamheid aantonen. Onze consultants geven deskundig advies voor uw specifieke situatie op basis van <strong>uitgebreide praktijkervaring</strong> in verschillende branches.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-certificaatbeheer.png", title: "CAPP Compliance Certificaatbeheer", alt: "CAPP Compliance Certificaatbeheer" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-kwaliteitspaspoort.png", title: "CAPP Compliance Kwaliteitspaspoort", alt: "CAPP Compliance Kwaliteitspaspoort" %>
    </div>

    <div class="col col-text">

      <h2>
        Kwaliteitspaspoort: ondersteun uw medewerkers
      </h2>

      <p>
        Defacto was in 2012 de eerste LMS-leverancier met het toonaangevende <strong>Kwaliteitspaspoort</strong> voor medewerkers. Hiermee ondersteunt u uw medewerkers om bekwaam te blijven en biedt u hen altijd <strong>realtime inzicht</strong> in hun eigen vereisten en ontvangen ze meldingen als deze dreigen te verlopen. Zo weten zij altijd wat er van hen wordt verwacht en tonen ze hun bekwaamheid gemakkelijk in één keer aan.
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Monitor compliance op elk niveau
      </h2>

      <p>
        Met de overzichten van CAPP Compliance heeft u <strong>altijd inzicht</strong> in alle vereisten van uw medewerkers, of u nu direct leidinggevende bent, verantwoordelijk bent voor kwaliteit of geen operationele verantwoordelijkheid draagt. Met CAPP Compliance monitort u compliance per afdeling, functie, rol en een combinatie daarvan. Zo maakt u zowel intern monitoren als extern rapporteren voor accreditaties <strong>efficiënt en gebruiksvriendelijk</strong>.
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-inzicht-manager.png", title: "CAPP Compliance inzicht voor managers", alt: "CAPP Compliance inzicht voor managers" %>
    </div>

  </div>

  <div class="row" id="compliance-api">

    <div class="col">
      <h2>
        Compliance API: delen met externe toepassingen
      </h2>

      <p>
        Met de <strong>Compliance API</strong> deelt u <strong>realtime</strong> de compliance status van uw medewerkers met diverse systemen, op een <strong>veilige</strong> en <strong>betrouwbare</strong> wijze. De Compliance API is inbegrepen bij CAPP Compliance.
      </p>

      <h3>
        Meer informatie over de Compliance API?
      </h3>

      <p>
        <%= link_to "Bekijk de productpagina", "/compliance-api.html", class: "button outline persian-green" %>
      </p>
    </div>

  </div>

</section>
