<section class="usp-overview" id="usp">

  <div class="row">

    <ul class="usp-list">
      <li>
        <div class="icon">
          <img class="icon" title="Automatische certificering" alt="Automatische certificering" src="/images/icons/compliance-automatische-certificering.svg" />
        </div>

        <div class="title">
          <h3>
            Automatische certificering
          </h3>
        </div>

        <div class="description">
          <p>
            Medewerkers blijven automatisch gecertificeerd door de koppeling met concrete leerinterventies.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Kwaliteitspaspoort" alt="Kwaliteitspaspoort" src="/images/icons/compliance-kwaliteitspaspoort.svg" />
        </div>

        <div class="title">
          <h3>
            Kwaliteitspaspoort
          </h3>
        </div>

        <div class="description">
          <p>
            Medewerkers zien hun eigen voortgang en hebben de regie over hun ontwikkeling.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Gemakkelijk rapporteren" alt="Gemakkelijk rapporteren" src="/images/icons/compliance-rapporteren.svg" />
        </div>

        <div class="title">
          <h3>
            Gemakkelijk rapporteren
          </h3>
        </div>

        <div class="description">
          <p>
            Dankzij uitgebreide inzichten rapporteert u gemakkelijk intern en extern.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Compliance API" alt="Compliance API" src="/images/icons/compliance-api.svg" />
        </div>

        <div class="title">
          <h3>
            Compliance API
          </h3>
        </div>

        <div class="description">
          <p>
            Altijd actuele compliance data beschikbaar voor gebruik in andere systemen.
          </p>
        </div>
      </li>

    </ul>

  </div>

</section>
