<section class="cta-bottom gray">
  <div class="row">

    <h3>
      <%= t("cases.cta.title") %>
    </h3>

    <%= partial "partials/form", locals: { title: "Contact Request: #{current_article.title}",
                                           fields: ["name", "email", "organisation", "phone"],
                                           button_text: t("actions.make_appointment"),
                                           button_class: "button orange",
                                           variant: "inline",
                                           action_url: t("urls.contact")} %>

  </div>
</section>
