<div class="col">

  <%= link_to t("jobs.apply"), "https://defacto.homerun.co/#{current_article.data.apply_link}/#{root_locale.to_s}/apply",
      class: "button apply",
      target: "_blank",
      rel: "noopener",
      "data-event" => "button_apply" %>

</div>

<div class="col">

  <p>
    <strong><em><%= t("jobs.acquisition") %></em></strong>
  </p>

</div>
