---
title:
  nl: Werken bij Defacto
  de: Arbeiten bei Defacto
blog: jobs
description:
  nl: Wil je werken bij een van de leukste bedrijven van Groningen?
  de: Wollen Sie bei einem der besten Unternehmen von Groningen zu arbeiten?
pageable: true
index: false
unique_for_locale: true
---

<section class="row">
  <div class="col">
    <%= partial "jobs/job-text" %>
  </div>
</section>

<section class="row jobs-overview">
  <div class="col">
    <h2><%= t("jobs.vacancies") %></h2>
    <ol class="jobs-list">
      <% page_articles.each do |article| %>
        <%= partial "jobs/job-preview", locals: { article: article } %>
      <% end %>
    </ol>
  </div>
</section>

<%= partial "over-ons/team" %>
