---
title:
  nl: Werken bij Defacto
  de: Arbeiten bei Defacto
blog: jobs
description:
  nl: Wil je werken bij een van de leukste bedrijven van Groningen?
  de: Wollen Sie bei einem der besten Unternehmen von Groningen zu arbeiten?
pageable: true
index: false
unique_for_locale: true
---

<section class="jobs-text">
  <div class="row">
    <article>
      <%= partial "jobs/jobs-text" %>
    </article>
  </div>
</section>

<section class="jobs-overview">
  <div class="row">
    <div class="col">

      <h2>
        <%= t("jobs.vacancies") %>
      </h2>

      <ol class="post-list">
        <% page_articles.each do |article| %>
          <li>
            <%= partial "jobs/job-preview", locals: { article: article } %>
          </li>
        <% end %>
      </ol>

    </div>
  </div>
</section>

<%= partial "over-ons/team" %>
