<section class="product-introduction single-col" id="introduction">

  <div class="row">

    <p>
      Met CAPP Agile Learning zet u bestaande kennis uit uw organisatie om in relevante informatie voor uw medewerkers. Stimuleer onderlinge kennisdeling met laagdrempelige tools om zelf informatie te creëren en te delen. Of faciliteer eenvoudig Performance Support met relevante informatie voor de werkvloer.
    </p>

    <h3>
      1. Creëer
    </h3>

    <p>
      Creëer op een eenvoudige manier eigen content of hergebruik bestaand materiaal van internet.
    </p>

    <h3>
      2. Deel
    </h3>

    <p>
      Maak groepen voor verschillende afdelingen en bundel thema's en kennisdomeinen in leerpaden.
    </p>

    <h3>
      3. Leer
    </h3>

    <p>
      Selecteer relevante onderwerpen uit het aanbod, doorzoek de bibliotheek en abonneer op relevante onderwerpen.
    </p>

  </div>

</section>
