<section class="product-overview" id="features">

  <div class="row">

    <div class="col col-text">

      <h2>
        Maak & deel leercontent
      </h2>
      <p>
        Creëer op een eenvoudige manier eigen content of hergebruik bestaand materiaal van internet.Maken en delen van <strong>zelfgemaakte en bestaande</strong> (leer)content. Zorg voor ordening met <strong>hoofdstukken</strong> en bundel gelijksoortige onderwerpen in <strong>leerpaden</strong>. <strong>Slimme editor</strong> voor opmaak en insluiten video's (YouTube/Vimeo) en afbeeldingen. <strong>Eenduidige en professionele uitstraling</strong>: geschreven content wordt altijd gepubliceerd in een strakke lay-out.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-up-to-date.png", title: "Altijd up-to-date", alt: "Altijd up-to-date", class: "screenshot" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-dashboard.png", title: "CAPP Agile Learning dashboard", alt: "CAPP Agile Learning dashboard", class: "screenshot" %>
    </div>

    <div class="col col-text">

      <h2>
        Gepersonaliseerd aanbod voor medewerkers
      </h2>

      <p>
        Maak groepen voor verschillende afdelingen en bundel thema's en kennisdomeinen in leerpaden. <strong>Relevante onderwerpen</strong> uit het aanbod selecteren. <strong>Dashboard</strong> met favorieten en aanbevelingen. Inschrijven op onderwerpen en up-to-date blijven met <strong>wekelijkse e-mailupdates</strong>. Maakt leren <strong>sociaal</strong>: discussie rondom onderwerpen faciliteren en stimuleren.
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        On demand leren
      </h2>

      <p>
        Selecteer relevante onderwerpen uit het aanbod, doorzoek de bibliotheek en abonneer op relevante onderwerpen. <strong>Altijd en overal beschikbaar</strong> (desktop, tablet en smartphone). Gebruik QR-codes voor <strong>snelle toegang</strong> tot werkinstructies en protocollen. <strong>Delen zonder inloggen</strong> met handige <em>shared spaces</em> functionaliteit. Snel vinden wat je zoekt dankzij <strong>krachtige zoekfunctie</strong>.
      </p>

    </div>

    <div class="col col-img col-center">
      <%= image_tag "screenshots/capp-agile-on-demand.png", title: "Leren On Demand", alt: "Leren On Demand", class: "image" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-questions.png", title: "Vraaggestuurd met vragen & antwoorden", alt: "Vraaggestuurd met vragen & antwoorden", class: "screenshot" %>
    </div>

    <div class="col col-text">

      <h2>
        Vraag & Antwoord
      </h2>

      <p>
        Laat uw medewerkers <strong>vragen stellen en beantwoorden</strong> bij ontbrekende kennis/informatie. <strong>Iedereen</strong> kan deelnemen aan de discussie rondom een vraag. Maakt <strong>kennisdeling</strong> integraal onderdeel van een organisatie én een gedeelde verantwoordelijkheid.
      </p>

    </div>

  </div>

</section>
