<div class="hero">
  <div class="row">
    <div class="col">
      <%= image_tag "logos/capp-new-version.svg", alt: "CAPP LMS", class: "logo" %>

      <h2>Learning & Talent Management</h2>

      <h3>CAPP LMS faciliteert elke vorm van leren en houdt de medewerkers up-to-date en compliant.</h3>

    </div>

    <div class="col card">

      <h4><%= t("capp_new.heading_contact") %></h4>

      <%= partial "capp-lms-new/form" %>
    </div>

  </div>
</div>
