<section class="capp-introduction" id="introduction">
  <div class="row">
    <div class="col">
      <h3>
        Das CAPP Learning Management System (LMS) bedeutet für Ihr Unternehmen motivierendes und effizientes Bildungsmanagement. Mit der von uns entwickelten Lernplattform strukturieren und automatisieren Sie Ihre Fort- und Weiterbildung – bei steigender Qualität sparen Sie Zeit und Geld.<br>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        In der nutzerfreundlichen Lernumgebung arbeitet jeder Mitarbeiter eigenverantwortlich an seiner Kompetenzerhaltung und persönlichen Entwicklung. Der Vorgesetzte hat jederzeit einen Überblick zum Stand der Qualifikation.
      </p>
      <p>
        Mit der motivierenden Lernumgebung begegnen Sie dem steigenden Fachkräftemangel: Sie fördern vorhandenes Personal, schaffen flexible Einsetzbarkeit und steigern ihre Attraktivität als Arbeitgeber.
      </p>
    </div>
  </div>
</section>
