<section class="capp-introduction" id="introduction">
  <div class="row">
    <div class="col">
      <h3>
        CAPP LMS biedt een op de individuele medewerker afgestemd persoonlijk leeraanbod gerelateerd aan functie, rol en/of afdeling. Zo wordt compliance en vakbevoegdheid van medewerkers en organisatie geborgd. Daarnaast biedt CAPP LMS ondersteuning in het doorgroeien, ontwikkelen en omscholen van medewerkers. Dit leidt tot kwalitatief goed en duurzaam inzetbaar personeel dat gemotiveerd is de organisatiedoelstellingen te helpen realiseren.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Organisaties hebben voortdurend te maken met maatschappelijke en technologische ontwikkelingen, nieuwe inzichten binnen vakgebieden en nieuwe wet- en regelgeving. Deze veranderingen volgen elkaar steeds sneller op en hebben consequenties voor zowel medewerker als organisatie. Van medewerkers wordt verwacht dat ze permanent (bij-)leren, bekwaam blijven en voldoen aan nieuwe eisen en standaarden. Dat is een continu proces.
      </p>
      <p>
        Juist dat proces ondersteunt CAPP LMS, Learning & Talent Management Software, op een moderne, eenvoudige en persoonlijke wijze, zodat medewerkers gecertificeerd zijn en de organisatie compliant is. Op basis van de eisen die de organisatie aan de medewerkers stelt krijgt iedere medewerker een persoonlijk dashboard, met doorlopend alle relevante (leer-)activiteiten. Er ontstaat een transparante en inzichtelijke leeromgeving, die iedere medewerker stimuleert en inspireert om door te blijven leren. Elke medewerker kan verantwoordelijkheid nemen om up-to-date te blijven. Bij- en nascholing is daarmee een geautomatiseerd onderdeel van het primaire werkproces.
      </p>
      <p>
        CAPP LMS zorgt ervoor dat elke medewerker compliant is: gecertificeerd en vakbevoegd. Accreditaties, visitaties en toetsingen kunnen moeiteloos worden geregeld. Ook zorgt CAPP LMS ervoor dat medewerkers kunnen doorgroeien en daarmee duurzaam inzetbaar zijn, belangrijk in een periode van een tekort aan vakbevoegd personeel.
      </p>
    </div>

    <div class="col">
      <%= image_tag "screenshots/capp-lms/dashboard-browser-notifications-big_nl.png", title: "Dashboard", alt: "Dashboard" %>
    </div>
  </div>
</section>
