<section class="on-page-navigation">
  <ul>
    <li>
      <a href="#introduction" data-scroll-to><%= t("capp-new.page-nav.introduction") %></a>
    </li>
    <li>
      <a href="#features" data-scroll-to><%= t("capp-new.page-nav.features") %></a>
    </li>
  </ul>
</section>
