<section class="capp-overview" id="features">

  <div class="row">
    <h2>Warum CAPP Learning Management?</h2>
  </div>

  <div class="row">
    <div class="col col-text">

      <h3>
        Persönliches E-Learning motiviert
      </h3>
      <p>
        Das CAPP LMS ist eine nutzerfreundliche Lernumgebung: Auf dem individuellen Dashboard haben Ihre Mitarbeiter alle relevanten Informationen zu ihren Lernaktivitäten im Blick. Von dort navigieren sie intuitiv durch die Weiterbildungsangebote.
      </p>

      <p>
        Mit der E-Learning-Plattform sind die Schulungszeiten endlich flexibel. Die Anwendung ist auf PC, Tablet und Smartphone verfügbar.
      </p>

      <p>
        Fördern Sie die Motivation zum Lernen und zur Weiterentwicklung Ihrer Mitarbeiter*innen!
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/learning-1-dashboard_de.png", title: "Persönliches Lernumgebung", alt: "Persönliches Lernumgebung" %>
    </div>
  </div>

  <div class="row">
    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/learning-2-schulungen_de.png", title: "Schulungen", alt: "Schulungen" %>
    </div>

    <div class="col col-text">

      <h3>
        Maßgeschneidertes Bildungsmanagement
      </h3>

      <p>
        Das digitale Bildungsmanagement unterstützt effektiv alle Formen des Lernens: Von Präsenzschulungen über Blended Learning bis hin zu E-Learning, Skillsmanagement und Assessment sowie Peer-Review. Externe Anbieter lassen sich nahtlos integrieren.
      </p>

      <p>
        Im CAPP Learning Management System können Sie sowohl Lernpfade, als auch komplette Fort- und Weiterbildungsprogramme zusammenstellen – mit Pflichtschulungen und darüberhinausgehenden Weiterbildungsangeboten.
      </p>

      <p>
        Lassen Sie Ihre Mitarbeiter*innen ihr ganz individuelles Schulungsangebot gestalten!
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col col-text">

      <h3>
        Effiziente Lernplattform
      </h3>

      <p>
        Auf zentraler und dezentraler Ebene haben Sie im CAPP Learning Management System einen Überblick über die Lern- und Qualifikationsstatistiken. Verantwortliche für Personal, Qualität oder Fortbildung erhalten für sie relevante Erkenntnisse und Reporte auf Organisations-, Abteilungs-, und Personenebene.
      </p>

      <p>
        Für Audits sind sie sofort aussagefähig – alle Angaben für eine ISO-Zertifizierung erhalten Sie auf Knopfdruck.
      </p>

      <p>
        Nutzen Sie die effiziente Lernplattform für ihr Bildungsmanagement!
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/learning-3-highlights_de.png", title: "Highlights fur Managers", alt: "Highlights fur Managers" %>
    </div>
  </div>

</section>
