<section class="capp-overview" id="features">

  <div class="row">
    <h2>Wat doet CAPP LMS voor u?</h2>
  </div>

  <div class="row">
    <div class="col col-text">
      <h3>Moderne Look & Feel en groot gebruiksgemak</h3>
      <p>
        Met het persoonlijke dashboard van CAPP LMS staat de gebruiker centraal. CAPP LMS is snel, intuïtief en voldoet in alle opzichten aan de verwachtingen van moderne applicaties.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/course-catalog-browser_nl.png", title: "Cursuscatalogus", alt: "Cursuscatalogus" %>
    </div>
  </div>

  <div class="row">
    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/course-browser_nl.png", title: "Cursus", alt: "Cursus" %>
    </div>

    <div class="col col-text">
      <h3>Ondersteunt alle vormen van leren</h3>
      <p>
        Alle denkbare vormen van leren worden ondersteund. Daardoor is CAPP LMS bij uitstek in staat om Leerconcepten- en Leermethodieken als <strong>Five moments of need</strong> of <strong>Performance Support</strong> zeer goed te ondersteunen.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-text">
      <h3>Compliance & Vakbevoegdheid</h3>
      <p>
        CAPP LMS geeft medewerkers inzicht in die zaken waarin ze voor hun werk bekwaam moeten zijn en biedt vervolgens passende leerondersteuning om dit aan te tonen. Zo word je goed in je vak en blijf je automatisch compliant.
      </p>
      <h4>Kwaliteitspaspoort®</h4>
      <p>
        CAPP LMS helpt bij het opstellen van de vereisten die horen bij functies, rollen en afdelingen. Door vereisten aan leerelementen te koppelen ontstaat een transparant en overzichtelijk systeem van leeractiviteiten waaraan moet worden voldaan om vakbevoegd te zijn.
      </p>
      <p>
        Voor elke team-, afdelings- of divisiemanager is er op elk niveau permanent inzicht in de kwaliteit en de vakbevoegdheid van de medewerkers. Dat inzicht complementeren we met onze Kwaliteitsmonitor®, die geaggregeerd inzicht geeft in de performance van de organisatie en die bij uitstek de resultaten biedt die aan de raad van bestuur of directie gerapporteerd kan worden. Zo worden accreditaties gemakkelijk en voldoet de organisatie altijd aan de wet- en regelgeving. Zo wordt compliant zijn en blijven onderdeel van het primaire proces.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/kwaliteitspaspoort-browser_nl.png", title: "Kwaliteitspaspoort", alt: "Kwaliteitspaspoort" %>
    </div>
  </div>

</section>
