<section class="capp-page-nav">
  <ul>
    <li>
      <a href="#introduction" data-scroll-to>Introductie</a>
    </li>
    <li>
      <a href="#features" data-scroll-to>Features</a>
    </li>
  </ul>
</section>
