---
title:
  nl: 404 - Pagina niet gevonden
  de: 404 - Seite nicht gefunden
  en: 404 - Page not found
directory_index: false
robots: noindex,nofollow
index: false
unique_for_locale: true
---

<section class="heading-secondary">
  <div class="row">
    <%= image_tag "warning.gif", class: "header-icon", alt: t("error.img_alt") %>
    <h1><%= t("error.heading") %></h1>
    <%= markitdown t("error.text_md") %>
  </div>
</section>

<%= partial "partials/contact-info" %>
