<section class="events">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="event-item">

      <div class="col left">
        <header>
          <h3>
            Workshop
          </h3>
        </header>
        <p class="info">
          7. Juni 2017 | Vivantes Klinikum Neukölln
        </p>
        <p>
          Arbeitgeberattraktivität, Wissensmanagement, Einweiserbindung: Wie Sie mittels E-Learning Zukunftsthemen bewegen.
        </p>
        <a href="mailto:info@defactolearning.de" target="_blank" title="Melden Sie sich hier an!">
          Melden Sie sich hier an!
        </a>
      </div>

      <div class="col right">
        <%= image_tag "de/logo-vivantes.png", alt: "Logo Vivantes", title: "Logo Vivantes" %>
        
        <%= image_tag "de/logo-zeq.png", alt: "Logo ZeQ - Qualität und Wirtschaftlichkeit", title: "Logo ZeQ - Qualität und Wirtschaftlichkeit" %>
        <%#= image_tag "deutsche-pflegetag-2017.png", alt: "Deutsche Pflegetag 2017 logo", title: "Deutsche Pflegetag 2017" %>
      </div>

    </div>

  </div>
</section>
