<section class="events">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="event-item">

      <div class="col left">
        <a href="http://www.gesundheitswirtschaftskongress.de/" target="_blank" rel="noopener">
          <%= image_tag "events/gesundheitswirtschaftskongress-2017.png", alt: "13. Gesundheitswirtschaftskongress", title: "13. Gesundheitswirtschaftskongress" %>
        </a>

      </div>

      <div class="col right">
        <h3>
          13. Gesundheitswirtschaftskongress
        </h3>
        <p class="info">
          20. und 21. September 2017
        </p>
        <p>
          Grand Elysee, Hamburg
        </p>
        <a href="http://www.gesundheitswirtschaftskongress.de/" target="_blank" rel="noopener">
          Mehr
        </a>
      </div>

    </div>

  </div>
</section>
