<section class="events">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="event-item">

      <div class="col left">
        <header>
          <h3>
            Hauptstadtkongress im CityCube Berlin
          </h3>
        </header>
        <p class="info">
          20.-22. Juni 2017
        </p>
        <p>
          Stand 19 (auf der Westseite)
        </p>
        <a href="http://www.hauptstadtkongress.de/" target="_blank" rel="noopener">
          Mehr
        </a>
      </div>

      <div class="col right">
        <%= image_tag "de/logo-hauptstadt-kongress-2017.gif", alt: "Logo Hauptstadt Kongress 2017", title: "Logo Hauptstadt Kongress 2017" %>
      </div>

    </div>

  </div>
</section>
