<section class="events">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="event-item">

      <div class="col left">
        <header>
          <h3>
            Deutscher Pflegetag 2017
          </h3>
        </header>
        <p class="info">
          23. - 25. März 2017 | STATION-Berlin
        </p>
        <p>
          Unser Stand ist in Halle 3 Nummer S01.
        </p>
        <a href="https://deutscher-pflegetag.de/" target="_blank" rel="noopener" title="Deutscher Pflegetag 2017">Weitere Infos</a>
      </div>

      <div class="col right">
        <%= image_tag "deutsche-pflegetag-2017.png", alt: "Deutsche Pflegetag 2017 logo", title: "Deutsche Pflegetag 2017" %>
      </div>

    </div>

  </div>
</section>
