---
title: Datenschutzerklärung von Defacto Software
description: Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
unique_for_locale: true
---

<section class="gray">
  <div class="row">
    <h1>Datenschutzerklärung von Defacto Software</h1>
  </div>
</section>

<section>
  <div class="row">
    <article>

      <h2>Google Analytics Datenschutzhinweis</h2>

      <p>
        Diese Website benutzt Google&trade; Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Das Deaktivierungs-Add-on für Browser von Google Analytics gibt dem Website-Besucher mehr Kontrolle darüber, welche Daten zu aufgerufenen Websites von Google Analytics erfasst werden. Sollten Sie keine Speicherung Ihrer Daten wünschen, installieren Sie sich bitte das von Google bereitgestellte De-Aktivierungswerkzeug unter <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
      </p>

      <p>
        Wir nutzen Google Analytics zudem dazu, Daten aus AdWords und dem Double-Click-Cookie zu statistischen Zwecken auszuwerten. Sollten Sie dies nicht wünschen, können Sie dies über den Anzeigenvorgaben-Manager (<a href="http://www.google.com/settings/ads/onweb/?hl=de" target="_blank" rel="noopener">http://www.google.com/settings/ads/onweb/?hl=de</a>) deaktivieren.
      </p>

      <p>
        Nähere Informationen hierzu finden Sie unter <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank" rel="noopener">http://tools.google.com/dlpage/gaoptout?hl=de</a> bzw. unter <a href="https://www.google.de/intl/de/policies/" target="_blank" rel="noopener">https://www.google.de/intl/de/policies/</a> (allgemeine Informationen zu Google Analytics und Datenschutz). Wir weisen Sie darauf hin, dass auf dieser Webseite Google Analytics um den Code „gat._anonymizeIp();“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.
      </p>

      <p>
        Alternativ zum Browser-Add-On oder innerhalb von Browsern auf mobilen Geräten, klicken Sie bitte diesen Link <a onclick="alert('Google Analytics wurde deaktiviert');" href="javascript:gaOptout()">Google Analytics deaktivieren</a>, um die Erfassung durch Google Analytics innerhalb dieser Website zukünftig zu verhindern (das Opt Out funktioniert nur in diesem Browser und nur für diese Domain). Dabei wird ein Opt-Out-Cookie auf Ihrem Ger&auml;t abgelegt. L&ouml;schen Sie Ihre Cookies in diesem Browser, m&uuml;ssen Sie diesen Link erneut klicken.
      </p>

    </article>
  </div>
</section>
