---
title:
  nl: Defacto demo aanvragen
  de: Defacto Demo-Anfrage
  en: Defacto demo request
description:
  nl: Maak leren eenvoudig! Wilt u weten hoe? Vraag nu een demo aan.
  de: Machen Sie das Lernen einfach! Wie? Fragen Sie jetzt eine Software-Demo an.
  en: Make learning easy! How? Get in touch with us and request a demo now.
image: images/social/demo-1200x630.png
---

<%= partial "demo-aanvragen/hero" %>

<% if root_locale == :nl %>
  <section class="content">
    <div class="row">
      <div class="col text">
        <%= partial "demo-aanvragen/content" %>
      </div>
      <div class="col img">
        <%= image_tag "screenshots/capp-lms/dashboard-browser-notifications-big_nl.png", title: "Dashboard", alt: "Dashboard" %>
      </div>
    </div>
  </section>
<% end %>

<%= partial "clients/clients-section" %>
