---
title:
  nl: Diensten
  de: Service
  en: Services
description:
  nl: Defacto Software levert e-learning, implementatietrajecten, veilige hosting en security en koppelingen met vele andere (HR) systemen.
  de: Defacto Software bietet E-Learning, Implementierungen, safe Hosting und Security und Verbindungen zu vielen anderen (Quell-)Systemen.
  en: Defacto Software delivers E-learning, implementation trajectories, safe hosting and security and integration with many other (HR) systems.
---

<section class="gray">
  <div class="row">
    
    <h1><%= t("services.title") %></h1>

    <%= partial "diensten/diensten" %>

  </div>
</section>
