---
title:
  nl: "E-Learning ontwikkelen"
  de: "E-Learning mit einem zukunftsorientierten Partner"
  en: "E-Learning"
description:
  nl: E-learning wordt een succes met Defacto als ervaren en technisch onderlegde partner
  de: "E-Learning ist das Lernen mit elektronischen Mitteln außerhalb der traditionellen Präsenzschulungen. In den meisten Fällen handelt es sich, um einen Kurs oder eine Schulung, die vollständig digitalisiert und online bereitgestellt wird."
  en: E-learning within your organisation will become a success with Defacto as an experienced and technically skilled partner
---

<section class="heading-secondary">
  <div class="row">
    <h1><%= t("elearning.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article>
      <%= partial "elearning/elearning" %>
    </article>
  </div>
</section>

<%= partial "call-to-actions/download-ebook" %>
<%= partial "clients/clients-section" %>
