---
title:
  de: "E-learning im Gesundheitswesen"
description:
  de: "Die Qualität im Krankenhaus lässt sich durch E-Learning für alle Mitarbeiter nachhaltig verbessern. Defacto hilft Ihnen bei Installation und Umsetzung."
lang_ignore: en, nl
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

      <h1>
        <%= t("elearning-in-healthcare.title") %>
      </h1>

      <a class="button outline white" href="#contact-request" data-scroll-to-form>
        <%= t("actions.contact") %>
      </a>

    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "elearning-in-healthcare/content" %>
    </article>
  </div>
</section>

<%= partial "call-to-actions/information-elearning-healthcare" %>
