---
title:
  nl: Evenementenagenda
  de: Veranstaltungskalender
description:
  nl: Bekijk hier en meld je aan voor de events die wij organiseren of waar we aan deelnemen.
  de: Sehen Sie hier, welche Veranstaltungen Defacto organisiert und besucht
lang_ignore: en
---

<div class="hero events">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("events.title") %></h1>
    </div>
  </div>
</div>

<section class="gray">
  <div class="row">
    <%= partial "evenementenagenda/events" %>
  </div>
</section>
