---
title:
  de: Events
description:
  de: Sehen Sie hier, welche Veranstaltungen Defacto organisiert und besucht
lang_ignore: en, nl
---

<div class="hero events">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("events.title") %></h1>
    </div>
  </div>
</div>

<section class="gray">
  <div class="row">
    <%= partial "events/events" %>
  </div>
</section>
