---
title:
  nl: Hosting en Security
description:
  nl: Defacto host CAPP LMS veilig en met betrouwbare security. Updates worden door Defacto geïnstalleerd en bijgewerkt.
unique_for_locale: true
---

<section class="gray">
  <div class="row">
    <h1><%= t("hosting.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "hosting/hosting" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients/clients" %>
