---
title:
  en: Hosting and Security
description:
  en: Defacto hosts CAPP LMS safely with reliable security. Updates will be installed and reviewed by Defacto.
unique_for_locale: true
---

<section class="gray">
  <div class="row">
    <h1><%= t("hosting.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "hosting/hosting" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients/clients" %>
