---
title:
  nl: Hosting en Security
  de: Hosting
  en: Hosting and Security
description:
  nl: Defacto host CAPP LMS veilig en met betrouwbare security. Updates worden door Defacto geïnstalleerd en bijgewerkt.
  de: Defacto bietet die Möglichkeit, CAPP LMS mit zuverlässiger Sicherheit zu hosten. Updates werden von Defacto installiert und aktualisiert.
  en: Defacto hosts CAPP LMS safely with reliable security. Updates will be installed and reviewed by Defacto.
---

<section class="gray">
  <div class="row">
    <h1><%= t("hosting.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "hosting/hosting" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients/clients" %>
