---
title:
  de: Impressum
description:
  de: Impressum von Defacto Software B.V.
lang_ignore: en, nl
---

<section class="gray">
  <div class="row">
    <h1><%= t("impressum.title") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article>

      <%= partial "impressum/impressum" %>

    </article>
  </div>
</section>
