---
title: "Informatiesessie"
description: "We nodigen je uit om te praten over onboarding en duurzame inzetbaarheid!"
lang_ignore: en, de
robots: noindex, nofollow
search_index: false
---

<%= partial "partials/hero", locals: { variant: "variant-normal",
                                       background_image: "capp-12-2.jpg",
                                       title: "Uitnodiging: informatiesessie",
                                       sub_title: "We nodigen je uit voor de informatiesessie over onboarding en duurzame inzetbaarheid"} %>

<section>
  <div class="row">
    <article>
      <%= partial "informatiesessie/content" %>
    </article>
  </div>
</section>

<section>

  <div class="row">

    <div class="col">

      <article>
        <h2>
          Inschrijfformulier
        </h2>

        <%= partial "partials/form", locals: { title: "Signup: informatiesessie",
                                               fields: ["name", "email", "position", "organisation", "phone", "organisation_message"],
                                               multiple_persons: true,
                                               button_text: "Aanmelden",
                                               action_url: "https://formkeep.com/f/c222c617a111"} %>
      </article>

    </div>

  </div>

</section>
