---
title: "Key User Event 2019"
description: "description"
lang_ignore: en, de
robots: noindex, nofollow
search_index: false
---

<%= partial "partials/hero", locals: { variant: "variant-normal",
                                       background_image: "capp-12-2.jpg",
                                       title: "Uitnodiging: CAPP LMS key user event",
                                       sub_title: "Meld je aan voor ons key user event op 3 oktober 2019"} %>

<section>
  <div class="row">
    <article>
      <%= partial "key-user-event/content" %>
    </article>
  </div>
</section>

<section>
  <div class="row">

    <div class="col">

      <article>
        <h2>
          Aanmeldformulier
        </h2>

        <%= partial "partials/form", locals: { title: "Signup: key user event",
                                               fields: ["name", "email", "phone", "organisation_message"],
                                               multiple_persons: false,
                                               button_text: "Aanmelden",
                                               action_url: "https://formkeep.com/f/99d8b5db9d3e"} %>
      </article>
    </div>
  </div>

</section>
