---
title: "Key User Event 2019"
description: "Bedankt voor je interesse in het CAPP LMS Key User Event"
lang_ignore: en, de
robots: noindex, nofollow
search_index: false
---

<%= partial "partials/hero", locals: { variant: "variant-normal",
                                       background_image: "capp-12-2.jpg",
                                       title: "CAPP LMS Key User Event",
                                       sub_title: "Het event is uitgesteld"} %>

<section>
  <div class="row">
    <article>
      <%= partial "key-user-event/content" %>
    </article>
  </div>
</section>
