---
title:
  nl: Onze klanten
  de: Unsere Kunden
  en: Our clients
description:
  nl: Enkele van onze klanten zijn TUI, LUMC, MUMC+, MMC, Gelre, Spaarne, Kennemer, Sint Franciscus, Vlietland, Sogeti en Schiphol Group
  de: Einige Kunden sind Evangelisches Krankenhaus Oldenburg, Friedrich Ebert Krankenhaus, Berendsohn, Maastricht UMC, TUI und Schiphol Group
  en: TUI, LUMC, MUMC+, MMC, Gelre, Spaarne, Kennemer, Sint Franciscus, Vlietland, Sogeti and Schiphol Group are some of our clients.
---

<section class="gray">
  <div class="row">

    <h1><%= t("clients.title") %></h1>

    <%= partial "clients/clients-overview" %>

  </div>
</section>
