---
title:
  nl: Defacto in de Media
  de: Defacto in der Presse
  en: Defacto in the Media
description:
  nl: Berichten in de media over Defacto
  de: Medienberichte über Defacto
  en: Articles about Defacto in the media 
---

<section class="gray">
  <div class="row">
    <h1><%= t("press.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "media/media" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>
