---
title: "Defacto op Next Learning 2020"
description: "Maak kans op gratis kaarten"
lang_ignore: en, de
robots: noindex, nofollow
search_index: false
---

<%= partial "partials/hero", locals: { variant: "variant-normal",
                                       background_image: "nextlearning2020.png",
                                       title: "Defacto op Next Learning 2020",
                                       sub_title: "Maak kans op gratis kaarten"} %>

<section>
  <div class="row">
    <article>
      <%= partial "next-learning/content" %>
    </article>
  </div>
</section>

<section>

  <div class="row">

    <div class="col">

      <article>

        <h2>
          Aanmeldformulier
        </h2>

        <%= partial "partials/form", locals: { title: "Aanmelding Next Learning 2020",
                                               fields: ["name", "email", "position", "organisation", "organisation_message"],
                                               button_text: "Aanmelden",
                                               action_url: "https://formkeep.com/f/4e0af9c776da"} %>
      </article>

    </div>

  </div>

</section>
