---
title:
  de: "Lösungen"
description:
  de: "Sehen Sie sich hier unsere Lösungen pro Branche an"
lang_ignore: en, nl
---

<section class="heading-secondary">

  <h1>
    <%= t("solutions.title") %>
  </h1>

  <div class="row">
    <%= partial "oplossingen/oplossingen" %>
  </div>

</section>
