---
title:
  nl: "Oplossingen"
  de: "Lösungen"
description:
  nl: "INSERT_META_DESCRIPTION"
  de: "Sehen Sie sich hier unsere Lösungen pro Branche an"
lang_ignore: en
---

<section class="heading-secondary">

  <h1>
    <%= t("solutions.title") %>
  </h1>

  <div class="row">
    <%= partial "oplossingen/oplossingen" %>
  </div>

</section>
