---
title:
  de: Datenschutzerklärung von Defacto Software
description:
  de: Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
lang_ignore: ["nl", "en"]
---

<section class="gray">
  <div class="row">
    <h1><%= t("privacy-statement.name") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article>

      <%= partial "privacy-statement/privacy-statement" %>

    </article>
  </div>
</section>
