---
title:
  nl: Privacy policy
  de: Datenschutzerklärung von Defacto Software
description:
  nl: Deze website maakt onder andere gebruik van Google Analytics, Intercom en Hotjar
  de: Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
lang_ignore: ["en"]
---

<section class="gray">
  <div class="row">
    <h1><%= t("privacy-policy.name") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article>

      <%= partial "privacy-policy/privacy-policy" %>

    </article>
  </div>
</section>
