---
title:
  nl: Producten
  de: Produkte
  en: Products
description:
  nl: Opleiden, leren en ontwikkelen met CAPP LMS, CAPP Kwaliteitspaspoort, CAPP Agile Learning en 360째 Feedback.
  de: Ausbildung, Lernen und Entwicklung mit CAPP LMS, CAPP Qualit채tspass, CAPP Agile Learning, E-Learning Starterkit und 360째 Feedback.
  en: Training, learning and developing with CAPP LMS, CAPP Quality Portfolio, CAPP Agile Learning and 360째 Feedback.
---

<section class="heading-secondary">
  <div class="row">

    <h1><%= t("products.title") %></h1>

    <%= partial "producten/producten.#{root_locale}" %>

  </div>
</section>
