---
title: "CAPP Quizzes"
description: "Toetsen maken en eenvoudig aanbieden"
lang_ignore: en, de
robots: noindex, nofollow
---

<div class="hero">
  <div class="hero-inner">
    <%= image_tag "logos/logo-quizzes.svg", alt: "Logo Quizzes", title: "Logo Quizzes" %>
  </div>
</div>

<section>
  <div class="row">
      <div class="col">
        <article>
          <%= partial "quizzes/content" %>
        </article>
      </div>
      <div class="col-img">
        <%= image_tag "screenshots/quizzes-screenshots.png", title: "Zo werkt Quizzes in de praktijk", alt: "Zo werkt Quizzes in de praktijk" %>
      </div>
  </div>
</section>

<% if root_locale == :nl %>
  <section class="cta-bottom gray" id="contact-request">
    <div class="row">

      <div>
        <h2>
          Geïnteresseerd in meer informatie over Quizzes?
        </h2>
        <p>
          Download ons handige productsheet met alle informatie.
        </p>
      </div>

    </div>

    <%= partial "partials/form", locals: { title: "Download: Quizzes Productsheet",
                                           form_type: "download pdf",
                                           download_link: data.downloads.quizzes_productsheet[I18n.locale],
                                           fields: ["name", "email", "organisation", "phone"],
                                           button_text: t("actions.download_productsheet"),
                                           action_url: t("urls.contact")} %>

  </section>
<% end %>
