---
title:
  nl: Testimonials
  de: Kundenstimmen
  en: Testimonials
description:
  nl: Wat zeggen onze klanten over de samenwerking met Defacto, over CAPP LMS en onze andere producten? Lees het hier.
  de: Was sagen unsere Kunden zur Zusammenarbeit mit Defacto, zu CAPP und unseren anderen Produkten? Lesen Sie es hier.
  en: What do our customers say about the cooperation with Defacto, about CAPP LMS and our other products? Read it here.
---

<section class="testimonials">
  <div class="headline">
    <h1><%= t("testimonials.title") %></h1>
  </div>
  <div class="row">
    <%= partial "partials/testimonials" %>
  </div>
</section>
