---
title:
  nl: Actuele thema's
description:
  nl: Artikelen over opleiden, leren, ontwikkelen, e-learning en HRM.
unique_for_locale: true
---

<section class="gray">
  <div class="row">
    <h1><%= t("themes.title") %></h1>
    <br>
    <%= partial "themas/themas" %>
  </div>
</section>
