---
title:
  nl: Actuele thema's
  de: Aktuelle Themen
description:
  nl: Artikelen over opleiden, leren, ontwikkelen, e-learning en HRM.
  de: "Artikel über Training, Lernen, Entwicklung, E-Learning und HRM."
lang_ignore: en
---

<section class="gray">
  <div class="row">

    <h1><%= t("themes.title") %></h1>

    <%= partial "themas/themas" %>

  </div>
</section>
