---
layout: "product_layout"
title: "Je upgrade naar CAPP LMS"
description: "Soepel en zorgeloos over naar CAPP LMS"
lang_ignore: en, de
robots: noindex, nofollow
search_index: false
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>
        Zorgeloos over naar CAPP LMS
      </h1>
    </div>
  </div>
</div>

<section class="content">
  <div class="row">
      <div class="col">
        <article>
          <%= partial "migration/content" %>
        </article>
      </div>
      <div class="col-img">
      <%= image_tag "screenshots/capp-lms/capp-lms-login.png", title: "Soepel en zorgeloos naar CAPP LMS", alt: "Soepel en zorgeloos naar CAPP LMS" %>
      </div>
  </div>
</section>

<% if root_locale == :nl %>
  <section class="cta-bottom gray" id="contact-request">
    <div class="row">

      <h2>
        Overtuigd of wil je meer informatie over de upgrade?
      </h2>

      <p>
        Download ons productsheet (met handige activiteitenlijst) met alles wat je moet weten over de upgrade.
      </p>


      <%= partial "partials/form", locals: { title: "Download: Upgradesheet",
                                             form_type: "download pdf",
                                             download_link: data.downloads.migratiekit_productsheet[I18n.locale],
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("actions.download_productsheet"),
                                             action_url: t("urls.upgrade_productsheet")} %>

    </div>
  </section>
<% end %>
