---
layout: "product_layout"
title: "Wat is een LMS?"
description: "Alles wat je moet weten over het thema LMS"
lang_ignore: en, de
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>
        Wat is een LMS?
      </h1>
      <p>
        Wat is dat eigenlijk een LMS? Welke mogelijkheden biedt het, welke organisaties hebben er baat bij en past een LMS bij mijn organisatie? Op deze pagina vind u antwoord op deze en meer vragen. Klik hieronder op een van de thema's om direct naar het onderwerp naar te gaan waarover u meer wil weten.
      </p>
    </div>
  </div>
</div>

<section class="index" id="top">
  <div class="row">

    <h3>
      Thema's
    </h3>
    <ol>
      <li>
        <a href="#lms" data-scroll-to>Wat is een LMS?</a>
      </li>
      <li>
        <a href="#ontwikkelingen" data-scroll-to>Ontwikkelingen op het gebied van learning management systemen</a>
      </li>
      <li>
        <a href="#organisaties" data-scroll-to>Wat kunnen organisaties met een LMS?</a>
        <ol>
          <li>
            <a href="#leerpaden" data-scroll-to>Leerpaden inrichten</a>
          </li>
          <li>
            <a href="#compliance" data-scroll-to>Compliance</a>
          </li>
          <li>
            <a href="#kennis" data-scroll-to>Kennis toetsen en delen</a>
          </li>
          <li>
            <a href="#rapportage" data-scroll-to>Rapportage</a>
          </li>
          <li>
            <a href="#curatie" data-scroll-to>Curatie van leermiddelen</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="#verschillen" data-scroll-to>Wat het is verschil tussen een LMS en e-learning?</a>
      </li>
      <li>
        <a href="#baat" data-scroll-to>Welke organisaties zijn gebaat bij een LMS?</a>
      </li>
      <li>
        <a href="#integratie" data-scroll-to>Integratie met bestaande systemen</a>
      </li>
      <li>
        <a href="#passend" data-scroll-to>Welk LMS past bij mijn organisatie?</a>
      </li>
      <li>
        <a href="#implementatie" data-scroll-to>Hoe werkt de implementatie van een LMS?</a>
      </li>
    </ol>
  </div>
</section>

<section class="content" id="lms">
  <div class="row">
    <h2>
      1. Wat is een LMS?
    </h2>

    <p>
      Een LMS, oftewel learning management system, is software waarmee organisaties een digitale leeromgeving voor medewerkers inrichten. Het is in de eerste plaats een platform om medewerkers te laten leren, te toetsen en te ondersteunen in hun ontwikkeling. Hierdoor zijn medewerkers altijd up-to-date in hun vakgebied en duurzaam inzetbaar.
    </p>
    <p>
      In de beheeromgeving kan de organisatie eenvoudig zelf leertrajecten inrichten. Afhankelijk van functie-eisen en verantwoordelijkheden van een medewerker kunnen diverse leerpaden ingericht worden binnen een digitale omgeving. Gebruikers kunnen zelf bepalen waar en wanneer zij willen leren. Door middel van curatie hebben zowel de organisatie als de medewerkers invloed op de inhoud, vorm en kwaliteit van het aanbod. Daarnaast geeft een LMS de organisatie stuurmiddelen en inzicht in voortgang en resultaten door middel van uitgebreide rapportagemogelijkheden. Zo worden ontwikkeling, compliance en vakbevoegdheid van medewerkers en organisatie geborgd. Met een LMS investeer je in de kennis en vaardigheden van je personeel en daarmee in de kwaliteit van je dienstverlening.
    </p>
    <p>
      Een LMS heeft twee doelgroepen:
      <ul>
        <li>
          De gebruikerskant geeft medewerkers toegang tot aangeboden leertrajecten in hun persoonlijke profiel, ze kunnen hun voortgang bijhouden in hun persoonlijk portfolio en kennis toetsen en delen.
        </li>
        <li>
          De organisatie wil graag grip op ontwikkeling van medewerkers en hierop kunnen sturen en toetsen. Deze meetbare resultaten zijn niet alleen voor eigen inzicht, maar moeten soms ook overlegd worden aan accrediterende instanties.
        </li>
      </ul>
    </p>
    <p>
      Een LMS integreert deze domeinen: een leeromgeving met kennisbronnen, lesmateriaal en trainingen en een omgeving voor beheer en administratie. Binnen het LMS hebben gebruikers verschillende rollen: beheerder, manager, moderator, trainer en medewerker. Deze rollen hangen samen met de bevoegdheden van gebruikers op het platform. In het LMS kan iedere gebruiker de taken rondom leren en ontwikkelen uitvoeren, die vanuit zijn/haar functie en opdracht relevant zijn.
    </p>

    <p>
      De omgeving is zowel binnen als buiten de organisatie toegankelijk. Medewerkers kunnen modules volgen waar en wanneer ze willen. Geïntegreerde performance support ondersteunt gebruikers bij vragen en issues.
    </p>
  </div>
</section>

<section class="content" id="ontwikkelingen">
  <div class="row">
    <h2>
      2. Ontwikkelingen op het gebied van learning management systemen
    </h2>
    <p>
      Organisaties houden zich steeds meer zelf bezig met opleiden van personeel. Enerzijds vanuit externe overwegingen, om bijvoorbeeld te voldoen aan eisen en kwalificaties die vanuit de branche of van overheidswege gesteld worden. Anderzijds omdat de markt dat vraagt; het innoverend vermogen van een organisatie hangt immers in hoge mate samen met het actuele kennisniveau van de medewerkers. Om de steeds snellere ontwikkelingen van de markt bij te houden, moeten organisaties blijven investeren in de ontwikkeling van hun medewerkers.
    </p>
    <p>
      Door de jaren heen wordt steeds meer belang gehecht aan persoonlijke en professionele ontwikkeling van medewerkers. Medewerkers verwachten door hun werkgever ondersteund te worden in hun groei en ambities. Ze willen hun competenties en vaardigheden binnen de organisatie waar zij werkzaam zijn kunnen ontwikkelen.
    </p>
    <p>
      De manier waarop we leren verandert in diverse opzichten. In plaats van klassikaal een cursus volgen, is de vraag steeds meer om flexibel (waar en wanneer het uitkomt) en gepersonaliseerd (een leeraanbod dat aansluit bij werkzaamheden, functie-eisen of competentieprofiel) te leren. De technische ontwikkelingen volgen de veranderende behoeften op dit gebied. Huidige learning management systemen zijn in hoge mate intuïtief en werken samen met andere systemen. Interactie staat steeds meer voorop en leermiddelen zijn een mix van tekst, beeld, infographics, video en quiz of toets. Dit noemen we ook wel blended learning.
    </p>
    <p>
      Ook de hoeveelheid informatie die we per les of module opnemen verandert. In plaats van een college van 4 uur, zien we lesstof liever verdeeld in hapklare brokjes. Micro-learning is hier een voorbeeld van. Een laatste ontwikkeling is dat leren steeds minder eenrichtingsverkeer wordt. Gebruikers krijgen steeds meer een stem als het gaat om hoe, wat en wanneer we leren. Dit is ook terug te zien in curatie van informatie. Gebruikers verzamelen, filteren en delen de aangeboden content, waardoor de relevantie en kwaliteit toeneemt. Kennis delen en sociaal leren worden daarbij steeds belangrijker.
    </p>
    <p>
      Dit zijn allemaal ontwikkelingen die we terugzien in de manier waarop mensen leren en waar een modern LMS op inspeelt.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>Lees meer over de manier waarop we leren:</strong>
    </p>
    <p>
      <a href="/blog/micro-toekomst/" target="_blank">Leren op micro-niveau: toekomst</a>
    </p>
    <p>
      <a href="/blog/elliott-masies-learning-2018/" target="_blank">Leren verandert! Elliott Masie's Learning 2018</a>
    </p>
    <p>
      <a href="/blog/combineer-kennis-met-games/" target="_blank">Combineer kennis met games</a>
    </p>
    <p>
      <a href="/blog/5-moments-of-need/" target="_blank">De juiste manier van leren op het juiste moment met de '5 moments of need'</a>
    </p>
    <p>
      <a href="/70-20-10/" target="_blank">70:20:10 in de praktijk</a>
    </p>
  </div>
</section>

<section class="content" id="organisaties">
  <div class="row">
    <h2>
      3. Wat kunnen organisaties met een LMS systeem?
    </h2>

    <p>
      De mogelijkheden en functionaliteiten van een LMS systeem variëren per leverancier. LMS systemen bevatten over het algemeen functionaliteiten om leerpaden te ontwikkelen en te toetsen op individueel niveau of per categorie gebruikers. De leertrajecten kunnen worden vormgegeven als e-learning, workshops of standalone documenten, presentaties en losse trainingen.
    </p>
    <p>
      Dit zijn de belangrijkste functies van een learning management systeem:
    </p>
      <ol>
        <li>
          Leerpaden inrichten, onderwijs plannen en organiseren
        </li>
        <li>
          Compliance organiseren en sturen
        </li>
        <li>
          Kennis toetsen en delen
        </li>
        <li>
          Rapportages genereren
        </li>
        <li>
          Curatie van leermiddelen
        </li>
      </ol>
  </div>
  <div class="row" id="leerpaden">
    <h3>
      3.1 Leerpaden inrichten
    </h3>
    <p>
      In een LMS kun je een op de individuele medewerker afgestemd persoonlijk leeraanbod inrichten, gerelateerd aan functie, rol en/of afdeling. Op basis van de eisen die de organisatie aan de medewerkers stelt, krijgt iedere medewerker een persoonlijk profiel en dashboard, met daarin relevante (leer-)activiteiten. Ook krijgen medewerkers met behulp van het LMS inzicht in groeimogelijkheden en ruimte voor persoonlijke ontwikkeling en competentiemanagement. Je kunt binnen een LMS verschillende leerinterventies toepassen. Denk hierbij aan online, klassikale of blended trainingen, maar ook aan informatieve en inspirerende micro-learning.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>Meer lezen:</strong>
    </p>
    <p>
      <a href="/capp-lms/">CAPP Learning</a>
    </p>
  </div>
  <div class="row" id="compliance">
    <h3>
      3.2 Compliance organiseren en sturen
    </h3>
    <p>
      Voldoen aan wet- en regelgeving of branche-specifieke eisen is een voorwaarde voor kwaliteit. Compliance organiseren en sturen is echter vaak een tijdrovend en ingewikkeld proces. Een LMS helpt bij het opstellen van de vereisten die horen bij functies, rollen en afdelingen. Door deze aan leerelementen te koppelen, ontstaat een transparant en overzichtelijk systeem van leeractiviteiten waaraan moet worden voldaan om vakbevoegd te zijn. Een LMS zorgt ervoor dat elke medewerker, en dus de organisatie, compliant is en dat dit moeiteloos kan worden aangetoond tijdens accreditaties, visitaties en toetsingen.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>Meer lezen:</strong>
    </p>
    <p>
      <a href="/capp-compliance/" target="_blank">CAPP Compliance: maak compliance eenvoudig, inzichtelijk en meetbaar</a>
    </p>
    <p>
      <a href="/capp-compliance-api/" target="_blank">CAPP Compliance API: deel actuele compliance data met andere systemen</a>
    </p>
    <p>
      <a href="/convenant-medische-technologie/" target="_blank">In drie stappen geen zorgen meer rondom het Convenant Medische Technologie</a>
    </p>
  </div>
  <div class="row" id="kennis">
    <h3>
      3.3 Kennis toetsen en delen
    </h3>
    <p>
      In de beheeromgeving kan de organisatie eenvoudig zelf toetsen aanmaken. Rapportages bieden per toets inzicht in de prestaties van gebruikers met allerlei relevante statistieken, zoals aantal pogingen, gemiddeld cijfer en de verstreken tijd. Ook kunt u met een LMS kennisdeling een integraal onderdeel én een gedeelde verantwoordelijkheid binnen uw organisatie maken. Laat uw medewerkers discussiëren en elkaar vragen stellen en beantwoorden bij ontbrekende kennis/informatie.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>Meer lezen:</strong>
    </p>
    <p>
      <a href="/capp-agile-learning/" target="_blank">CAPP Agile Learning: zet kennis om in relevante informatie voor de werkvloer</a>
    </p>
    <p>
      <a href="/capp-quizzes/" target="_blank">CAPP Quizzes: gemakkelijk toetsen maken en aanbieden</a>
    </p>
    <p>
      <a href="/360-feedback/" target="_blank">360 Feedback: Maak een efficiëntieslag in je HRD</a>
    </p>
  </div>
  <div class="row" id="rapportage">
    <h3>
      3.4 Rapportages
    </h3>
    <p>
      Rapportages geven de organisatie inzicht in voortgang, en andere gebruikersstatistieken. Zo kan het aanbod steeds verbeterd worden en kan ingespeeld worden op vragen, behoeften en ontwikkelingen. Rapportages zijn beschikbaar op individueel of groepsniveau, maar ook op module of competentie. U kunt relevante data zelf samenvoegen in een maatwerkrapportage. U heeft altijd real-time inzicht in de voortgang en status van medewerkers, teams, afdelingen en uw organisatie als geheel. Deze data is vervolgens ook makkelijk deelbaar met accrediterende organisaties of andere partijen, voor ultieme transparantie.
    </p>
  </div>
  <div class="row" id="curatie">
    <h3>
      3.5 Curatie van leermiddelen en aanbod
    </h3>
    <p>
      Curatie of curation is het gestructureerd verzamelen, filteren, beoordelen, organiseren en delen van informatie (content) voor een bepaald doel, behoefte of doelgroep. Zowel gebruikers als beheerders kunnen binnen een LMS als contentcurator optreden. Gebruikers kunnen als contentcurator sturing aan hun persoonlijke ontwikkeling geven. Leervraag en leeraanbod komen bij elkaar, door hen aan te laten geven wat relevant is. Gebruikers houden op die manier zelf de regie over hun leerproces door voor hen interessante bronnen en leermiddelen te ontdekken en te delen met anderen. Curatie is daarom een belangrijk onderdeel van sociaal leren.
    </p>
    <p>
      Het proces van curatie kan ook (deels) door middel van algoritmes en andere statistische gegevens worden vormgegeven. Welke bronnen worden veel gebruikt of goed beoordeeld? Welke gebruikerspatronen zijn te ontdekken en welke leermiddelen en kanalen horen daarbij? Op basis van dergelijke inzichten kunnen selecties worden gemaakt en kan de organisatie bronnen thematiseren en categoriseren. Door curatie een onderdeel te maken van je LMS, wordt content relevanter en kwalitatief steeds beter.
    </p>
  </div>
  <div class="row row-more">
    <p>
    <strong>Meer lezen:</strong>
    </p>
    <p>
      <a href="/blog/curation-mijn-lijst-persoonlijke-ontwikkeling-capp-lms" target="_blank">Interview: 'Curation biedt gebruikers meer orde en keuze in het LMS'</a>
    </p>
  </div>
</section>

<section class="content" id="verschillen">
  <div class="row">
    <h2>
      4. Wat is het verschil tussen een LMS en e-learning?
    </h2>
    <p>
      Er bestaat een zekere begripsverwarring als het gaat om learning management systemen en e-learning. Hoewel de twee termen met elkaar te maken hebben, betekenen ze niet hetzelfde. E-learning is kort gezegd digitaal leren en is zeker onderdeel van een LMS. Een LMS bestaat echter uit zo veel verschillende functionaliteiten en uitgebreide mogelijkheden, dat de term e-learning het tekort doet.
    </p>
    <p>
      E-learning is leren met behulp van elektronische technologieën, buiten het traditionele klaslokaal. In de meeste gevallen verwijst het naar een cursus of opleidingsprogramma dat volledig online wordt geleverd. Een LMS is het gehele platform dat leren binnen een organisatie organiseert, toetst en stuurt, waarvan e-learning een mogelijke leertoepassing is.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>Meer lezen:</strong>
    <p>
      <a href="/e-learning#ebook-download" target="_blank">Download gratis ons E-learning Handboek</a>
    </p>
  </div>
</section>

<section class="content" id="baat">
  <div class="row">
    <h2>
      5. Welke organisaties zijn gebaat bij een LMS?
    </h2>
    <p>
      Afhankelijk van uw organisatiedoelstellingen en de eisen die in de markt of branche van de organisatie bestaan, kunt u leren op diverse mogelijkheden faciliteren. Een LMS is dus zeker niet de enige of juiste oplossing om educatie, compliance en toetsing vorm te geven.
    </p>
    <p>
      Ook zijn er veel verschillende aanbieders van learning management systemen. Van simpele oplossingen voor kleinere bedrijven tot uitgebreide systemen die meegroeien en -leren met grotere organisaties.
    </p>
    <p>
      Welke organisaties zijn gebaat bij een LMS van Defacto? Als we kijken naar onze klantenkring, onderscheiden we een of meerdere van de volgende kenmerken:
      <ul>
        <li>
          Grotere organisaties met gedifferentieerde functieprofielen en bijbehorende leervragen
        </li>
        <li>
          High risk organisaties in de zakelijke dienstverlening, onderwijsinstellingen, zorg en overheid, waarbij compliance een rol speelt
        </li>
        <li>
          High Performance organisaties in branches en markten die zich snel ontwikkelen en waarbij up-to-date blijven en kennis delen voorop staat
        </li>
      </ul>
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>
        Meer lezen:
      </strong>
    <p>
      <a href="/blog/consultant-bastiaan-barelds/" target="_blank">Consultant Bastiaan Barelds: We kijken naar wat er speelt bij de klant</a>
    </p>
    <p>
      <a href="/klanten/" target="_blank">Klanten van Defacto</a>
    </p>
    <p>
      <a href="/cases/" target="_blank">Klantcases van Defacto</a>
    </p>
  </div>
</section>

<section class="content" id="integratie">
  <div class="row">
    <h2>
      6. Integratie met bestaande systemen
    </h2>
    <p>
      Organisaties waar wij mee samenwerken, werkten voor het overgrote deel al met een LMS, dat niet (meer) voldeed aan huidige eisen. Als organisatie ontgroeit men een LMS als dit te beperkt is in opzet, mogelijkheden of schaalbaarheid. Het is dus belangrijk om rekening te houden met ambities en ontwikkelingen van de organisatie op de lange termijn.
    </p>
    <p>
      Tegelijkertijd is integratie met bestaande interne en externe software en systemen belangrijk. Een LMS moet aansluiten op de huidige situatie en deze verrijken, zonder dat u opnieuw moet beginnen met inrichten. CAPP LMS is bijvoorbeeld te integreren met het HR-systeem, waardoor er altijd met een actueel medewerkersbestand gewerkt wordt.
    </p>
    <p>
      We gebruiken API’s om koppelingen met andere systemen te maken, zoals bijvoorbeeld met de CAPP Compliance API. Hiermee kunnen koppelingen met elektronische dossiers, toegangssystemen, planning/roostering of Business Intelligence-toepassingen gemaakt worden. De Compliance API deelt op een eenvoudige manier de status van certificering en bevoegdheid (compliance) van medewerkers uit CAPP LMS realtime met andere applicaties binnen een organisatie.
    </p>
  </div>
  <div class="row row-more">
    <p>
      <strong>
        Wat zijn API's?
      </strong>
    </p>
    <p>
      API’s (Application Programming Interface) zijn softwarekoppelingen die uitwisseling van gegevens tussen verschillende systemen mogelijk maken. Een API verbindt bedrijfsprocessen, diensten, content en data.
    </p>
    <p>
      <strong>Meer lezen:</strong>
    <p>
      <a href="/blog/zelfsturende-teams-ondersteunen-met-kwaliteitspaspoort/" target="_blank">Zelfsturende teams ondersteunen met het Kwaliteitspaspoort van CAPP Compliance</a>
    </p>
    <p>
      <a href="/open-source/" target="_blank">Wij zijn open source</a>
    </p>
    <p>
      <a href="/capp-compliance-api/" target="_blank">CAPP Compliance API: deel actuele compliance data met andere systemen</a>
    </p>
  </div>
</section>

<section class="content" id="passend">
  <div class="row">
    <h2>
      7. Welk LMS past bij mijn organisatie?
    </h2>
    <p>
      Welk LMS past bij uw organisatie, hangt dus af van de functie-eisen en organisatiedoelstellingen. Belangrijke vragen zijn bijvoorbeeld:
      <ul>
        <li>
          Heeft uw organisatie te maken met diverse functieprofielen met ieder hun eigen functie-eisen?
        </li>
        <li>
          Wilt u voortgang bijhouden en medewerkers kunnen toetsen op vaardigheden?
        </li>
        <li>
          Speelt compliance een rol en heeft u te maken met (externe) accrediterende organisaties?
        </li>
        <li>
          Wilt u zelf digitale leermaterialen ontwikkelen?
        </li>
      </ul>
    </p>
    <p>
      Doe de <a href="/wat-voor-lms-past-bij-mij/" target="_blank">uitgreide LMS-test</a> om te zien wat voor LMS aansluit op uw wensen en behoeften
    </p>
  </div>
</section>

<section class="content" id="implementatie">
  <div class="row">
    <h2>
      8. Hoe werkt de implementatie van een LMS?
    </h2>
    <p>
      Beslissen of uw organisatie een LMS nodig heeft en welk systeem voldoet aan uw wensen zijn slechts de eerste stappen in het proces. De implementatie en adoptie van het LMS binnen een organisatie zijn minstens zo belangrijk. Een LMS raakt vaak diverse afdelingen en lagen en moet dus met de grootste zorgvuldigheid geïntroduceerd worden.
    </p>
    <p>
      Door onze ruime praktijkervaring weten wij dat een goede implementatie van een LMS meer is dan alleen een systeemimplementatie. Onze consultants weten daarom wat er speelt bij u als klant en in uw branche. Zij spreken uw taal en weten voor welke uitdagingen u staat op het gebied van onder andere accreditering, wet- en regelgeving en behoud van gemotiveerd en vakkundig personeel.
    </p>
    <p>
      Daarnaast is een LMS een lange termijn oplossing, die met het oog op de toekomst wordt ingericht. De toekomstvisie en ambitie van uw organisatie vormen dus belangrijke randvoorwaarden voor de inrichting en functionaliteiten van het learning management systeem. Schaalbaarheid van het aantal gebruikers kan daarom van groot belang zijn, Maar ook meertaligheid, koppelingen met andere systemen of uitbreiding van functionaliteit zijn criteria om rekening mee te houden. Een LMS is geen statisch systeem, maar een platform dat altijd in ontwikkeling is.
    </p>
    <p>
      De oplossings- en inrichtingsmogelijkheden die onze consultants bieden met CAPP LMS zijn altijd afgestemd op uw specifieke situatie. Hetzelfde geldt voor onze dienstverlening, waarbij gebruik gemaakt wordt van vele best practices.
    </p>
  </div>
  <div class="row">
    <p><a href="#top" data-scroll-to>Terug naar boven</a></p>
</section>
