---
title:
  de: "Webinar: Curated Learning am 26.06.2019 um 10 Uhr"
description:
  de: "Melden Sie sich jetzt an für das Webinar 'Curated Learning- Zielorientiertes Lernen mit einer nutzerfreundlichen Lernplattform'."
lang_ignore: en, nl
---

<%= partial "partials/hero", locals: { variant: "variant-normal",
                                       variant_overlay: "overlay-darken",
                                       background_image: "webinar.jpg",
                                       title: t("webinar.title")} %>

<section>
  <div class="row">

    <article>
      <%= partial "webinar/content" %>
      <%= partial "partials/form", locals: { title: "Signup: webinar 25.06.2019",
                                             fields: ["name", "email", "organisation", "phone_required"],
                                             button_text: t("actions.register"),
                                             action_url: t("urls.register_webinar")} %>
    </article>

  </div>
</section>
