---
title:
  nl: Zoeken
  de: Suche
  en: Search
description:
  nl: Zoek in onze website
  de: Durchsuchen Sie unsere Website
  en: Search our website
popup: false
index: false
---

<% content_tag :div, class: "js-search", data: {
  result: t("search.result"),
  results: t("search.results"),
  read_more: t("actions.read_more"),
  build_date: DateTime.now().to_time.to_i,
} do %>
  <section class="gray">
    <div class="row">
      <div class="headline">
        <h1><%= t("search.heading") %></h1>
        <input id="search-input" placeholder="<%= t("search.placeholder") %>" type="text">

        <div class="index-info">
          <div id="downloading">
            <div class="spinner spinner-steps icon-spinner" aria-hidden="true" id="search-spinner"></div>
            <%= t("search.downloading") %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <ul class="search-results"></ul>
    </div>
  </section>
<% end %>
