<div class="hero">
  <div class="hero-inner">

    <%= image_tag t("kwaliteitspaspoort.logo"), alt: t("kwaliteitspaspoort.name"), class: "kpp-logo" %>

    <div class="hero-copy">

      <h1><%= t("kwaliteitspaspoort.hero.text_md") %></h1>

      <%= image_tag t("kwaliteitspaspoort.hero.image"), title: t("kwaliteitspaspoort.name"), alt: t("kwaliteitspaspoort.name") %>

    </div>
  </div>
</div>
