.avatar {
  @include avatar-size(60px);
  @include user-select(none);
  background-color: $lightest-gray;
  border-radius: 50%;
  color: $no-image;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &.no-image {
    &::after,
    &::before {
      background-color: $avatar;
      border-radius: 50%;
      content: "";
      left: 50%;
      position: absolute;
    }

    &::after {
      bottom: 0;
      height: 80%;
      margin-bottom: -40%;
      margin-left: -40%;
      width: 80%;
    }

    &::before {
      height: 40%;
      margin-left: -20%;
      top: 21%;
      width: 40%;
    }
  }
}
