.blog-article-preview {
  @include media($medium-up) {
    @include fill-parent();
    @include row(table);
  }

  .col {
    vertical-align: top;

    &.left {
      margin-bottom: 1em;

      @include media($medium-up) {
        @include span-columns(3);
      }

      img {
        display: block;
        margin: 0;
        width: 100%;
      }
    }

    &.right {
      padding: 0;
      text-align: left;
      vertical-align: middle;

      @include media($medium-up) {
        @include span-columns(9);
        @include reset-display;
        padding-left: 4%;
      }
    }
  }

  article {
    margin: 0;
    max-width: 100%;
  }

  .post-body {
    font-size: $base-font-size;
    margin: 1em 0;

    @include media($medium-up) {
      font-size: $base-font-size * 1.2;
      padding-right: 4em;
    }

    @include media($large-up) {
      padding-right: 6em;
    }
  }

  .post-title {
    font-size: $base-font-size;
    font-weight: 600;
    margin: 0;
    max-width: none;
    text-align: left;

    @include media($medium-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  .post-meta {
    font-size: $base-font-size * 0.8;

    @include media($medium-up) {
      font-size: $base-font-size;
    }

    .author-name {
      display: block;

      @include media($medium-up) {
        display: inline-block;
      }
    }

    time {
      display: block;

      @include media($medium-up) {
        display: inline-block;
        font-size: $base-font-size;
      }

      &::before,
      &::after {
        display: none;

        @include media($medium-up) {
          display: inline;
        }
      }
    }
  }
}
