.blog-meta {
  color: $post-meta;
  display: block;
  font-size: $base-font-size * 0.9;

  body.blog-article & {
    margin-bottom: 2em;
  }

  .avatar {
    @include avatar-size(30px);
    margin-right: 0.5em;
  }

  .separator {
    padding: 0 0.2em;
  }

  time {
    display: block;
    white-space: nowrap;

    @include media($medium-up) {
      display: inline-block;
    }
  }
}
