.events {
  background: $gray;

  h2 {
    color: $medium-gray;
    text-align: center;
  }

  h3 {
    color: $medium-gray;
  }

  .event-item {
    background: $white;
    border-radius: $base-border-radius;
    margin: 0 auto;
    max-width: 800px;
    padding: 1.5em;

    @include media($medium-up) {
      @include clearfix;
    }

    .col {
      vertical-align: top;

      &.left {
        @include media($medium-up) {
          @include span-columns(6);
          border-right: 1px solid $gray;
          padding-right: 4%;
        }
      }

      &.right {
        @include media($medium-up) {
          @include span-columns(6);
          padding-left: 4%;
        }

        img {
          display: block;
          margin: 1em auto;
          max-width: 75%;

          @include media($medium-up) {
            margin: 0 0 2em;
            max-width: 100%;
          }
        }
      }
    }

    .info {
      color: $post-meta;
    }
  }
}
