.events {
  background: $lighter-gray;

  h2 {
    color: $base-font-color;
    text-align: center;
  }

  h3 {
    color: $base-font-color;
    font-size: $base-font-size * 1.2;

    @include media($large-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  h4 {
    font-size: $base-font-size;

    @include media($large-up) {
      font-size: $base-font-size * 1.4;
    }
  }

  .event-item {
    background: $white;
    border-radius: $base-border-radius;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;

    @include media($medium-up) {
      display: flex;
    }

    .info {
      color: $post-meta;
    }

    .col {
      padding: 1em;

      @include media($medium-up) {
        &.left {
          flex: 2;
        }

        &.right {
          flex: 3;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
