.form-inline {
  max-width: none;
  text-align: center;

  @include media ($medium-up) {
    input,
    button,
    .button {
      margin-left: 0.3em;
      margin-right: 0.3em;
    }

    div,
    input {
      display: inline-block;
      min-width: 250px;
      width: auto;
    }
  }
}

.form-contact {
  @include clearfix;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  text-align: left;

  @include media ($medium-up) {
    .form-name,
    .form-phone,
    .form-persons {
      float: left;
      width: 48.5%;
    }

    .form-company,
    .form-email {
      float: right;
      width: 48.5%;
    }
  }

  &:last-child {
    margin-bottom: -$base-spacing;
  }

  input,
  select[multiple=multiple],
  textarea {
    margin-bottom: $base-spacing;
  }

  button,
  .button {
    border-width: 1px;
    margin-bottom: $base-spacing;
  }

  .form-text {
    clear: both;
  }
}

.form-subscribe {
  .form-subscribe-inputs {
    display: flex;
  }

  input {
    flex: 1;
    margin-bottom: 0;
    max-width: 320px;
  }

  input,
  button {
    padding: 0.5em 0.75em;
  }

  button {
    width: auto;
  }
}

select {
  $arrow-image: "../images/arrow.png";
  @include appearance(none);
  background: $white url($arrow-image) no-repeat;
  background-position: right 20px center;
  background-size: 16px;
  border-radius: 0;
  color: $placeholder;
  margin-bottom: $base-spacing;
  max-width: 100%;
  padding-right: 40px;
  width: 100%;
}

.selected {
  color: $dark-gray;
}

 // IE9+ fix for the arrow image position
select::-ms-expand {
  display: none;
}
