.hero {
  background: $orange-alt no-repeat center fixed;
  background-size: cover;
  color: $white;

  h1 {
    font-family: 'Montserrat', $base-font-family;
    font-size: 1.6em;
    font-weight: $font-weight-bold;
    margin-bottom: 1em;

    @include grid-media($large-up) {
      font-size: 4em;
      margin-bottom: 0.6em;
    }

    img {
      max-width: 400px;
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0 auto 2em;
    max-width: 500px;

    @include grid-media($large-up) {
      font-size: 1.6em;
      max-width: 720px;
    }
  }

  .hero-inner {
    @include container;
    @include clearfix;
    margin: auto;
    padding: calc(7em + #{$header-height}) 1em 7em;
    text-align: center;

    input {
      border-color: transparent;
      box-shadow: none;
    }

    button,
    .button {
      margin: 0 0 1.5em;

      @include grid-media($medium-up) {
        display: inline-block;
        margin: 0 0.5em 1.5em;
      }
    }
  }

  .hero-copy {
    text-align: center;
  }

  &.variant-normal {

    .hero-inner {
      padding: calc(3em + #{$header-height}) 1em 3em;
    }

    .title {
      font-size: $base-font-size * 1.6;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 2.4;
      }
    }

    .sub-title {
      font-size: $base-font-size * 1.2;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 2;
      }
    }
  }
}
