section.on-page-navigation {
  padding: 1em 0;
  text-align: center;

  @include grid-media($medium-up) {
    padding: 0;
  }

  li {
    @include grid-media($medium-up) {
      display: inline-block;
    }
  }

  a {
    display: block;
    font-weight: $font-weight-bold;
    padding: 0.2em 0;

    @include grid-media($medium-up) {
      padding: 1em;
    }
  }
}
