.sidebar {
  @include grid-column(12);
  background-color: $light-gray-two;
  padding: 1em;

  @include grid-media($medium-up) {
    @include grid-column(4);
  }

  &.case-sidebar {
    background: $white;
  }

  nav {
    li {
      border-bottom: 2px solid $gray;

      &:last-child {
        border: 0;
      }
    }

    a {
      display: block;
      font-weight: $font-weight-bold;
      padding: 0.5em 0;

      &.active {
        color: darken($orange, 15%);
      }
    }

    span {
      color: darken($light-gray, 15);
      display: block;
      font-weight: $font-weight-bold;
      padding: 0.5em 0;
    }
  }
}
