<section class="capp-introduction" id="introduction">
  <div class="row">
    <article>
      <p>
        <strong>Ein anspruchsvolles Qualifikationsmanagement sollte die permanente Fort- und Weiterbildung Ihrer Mitarbeiter auch nachweisen können. Nur so können Sie Compliance sicherstellen.</strong>
      </p>
      <p>
        Mit der digitalen Lernplattform CAPP Learning Management System (LMS) lässt sich der Qualifikationsstand Ihrer Mitarbeiter jederzeit nachvollziehen. Akkreditierungen, Zertifizierungen und Prüfungen lassen sich zukünftig leicht und zeitnah umsetzen. Ihr Unternehmen entspricht den gesetzlichen Anforderungen – und das äußerst effektiv.
      </p>
    </article>
  </div>
</section>
