.footer {
  background-color: $dark-gray;
  color: $testimonial-gray;
  padding-top: 2em;
  text-align: left;

  a {
    color: $footer-gray;
    display: inline-block;
    position: relative;
    z-index: 1;

    &:active,
    &:focus,
    &:hover {
      color: $orange;
    }
  }

  .row {
    max-width: 1500px;
  }

  .footer-main {
    border-bottom: 1px solid $gray-menu;

    @include media($xxlarge-up) {
      display: flex;
    }
  }

  .connect {
    padding-bottom: 2em;

    @include media($large-up) {
      display: flex;
      padding-bottom: 2em;
    }

    @include media($xxlarge-up) {
      flex: 2;
      flex-flow: column wrap;
      order: 2;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0.75em 0;
    }

    .newsletter-subscribe {
      padding-bottom: 2em;

      @include media($large-up) {
        flex: 1;
        margin-right: 2em;
      }

      @include media($xxlarge-up) {
        margin-right: 0;
      }
    }

    .social-links {
      @include media($large-up) {
        flex: 1;
      }

      li {
        display: inline-block;
        font-size: $base-font-size * 1.6;
        margin-right: 0.5em;
      }
    }
  }

  .navigation {
    @include media($large-up) {
      display: flex;
      padding-bottom: 2em;
    }

    @include media($xxlarge-up) {
      flex: 5;
      order: 1;
    }

    .navigation-list {
      padding-bottom: 2em;
      padding-right: 2em;

      @include media($large-up) {
        flex: 1;
        padding-bottom: 0;
      }

      &:last-of-type {
        padding-right: 0;

        @include media($xxlarge-up) {
          padding-right: 2em;
        }
      }

      h6 {
        border-bottom: 1px solid $gray-menu;
        margin-bottom: 5px;
        padding: 0 0 0.6em;
      }

      li a {
        padding: 7px 0;
      }
    }
  }

  .footer-sub {
    border-bottom: 1px solid $gray-menu;
    padding-bottom: 2em;
    padding-top: 2em;

    @include media($large-up) {
      align-items: center;
      display: flex;
    }

    p {
      font-size: $base-font-size * 0.95;
      margin: 0;
    }
  }

  .about {
    padding-bottom: 2em;

    @include media($large-up) {
      flex: 3;
      padding-bottom: 0;
    }

    h4 {
      font-size: $base-font-size * 1.1;

      @include media($medium-up) {
        font-size: $base-font-size * 1.4;
      }
    }

    span {
      display: block;

      @include media($medium-up) {
        display: inline-block;
      }

      &.divider {
        display: none;

        @include media($medium-up) {
          display: inline-block;
          margin-left: 0.1em;
          margin-right: 0.1em;
        }
      }
    }
  }

  .certificates {
    display: flex;

    @include media($large-up) {
      flex: 1;
      justify-content: flex-end;
    }

    img {
      display: block;
    }

    div {
      align-items: center;
      display: flex;
      margin-right: 1em;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .footer-last {
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: left;

    @include media($large-up) {
      text-align: center;
    }
  }
}
