<div class="row" id="learning-platform">

  <div class="col col-text">

    <h2>
      Virtuelle Lernplattform für alle
    </h2>
    <p>
      Ihren Mitarbeitern bietet <%= link_to "CAPP Learning & Talent Management", "/capp-talent-management.html" %> eine digitale Lernplattform, die überall zu jeder Zeit erreichbar ist. Hier können sie sich das komplette Lernangebot ansehen – sowohl E-Learning als auch Präsenzschulungen - und den Verlauf der Kurse verfolgen, an denen sie teilnehmen. Da die Software es ermöglicht, den Mitarbeitern ein persönliches Profil anzuerkennen mit organisationseigenen Kenmerken (z.B. Logo), schaffen Sie eine intuitive Lernplattform mit Wiedererkennungswert.
    </p>

    <h2>
      Seminarverwaltung und Kursverwaltung
    </h2>
    <p>
      Unsere Software unterstützt Sie grundlegend bei der Organisation des Kurssystems und der Seminarverwaltung. Indem Sie mithilfe von CAPP Kursplanungen, Anmeldeverfahren, Benachrichtigungen und Wartelisten automatisieren, nutzen Sie klare Vorteile bei der Kursverwaltung und sparen wertvolle Zeit, in der Sie sich anderen wichtigen Aufgaben widmen können.
    </p>

  </div>

  <div class="col col-img">
    <%= image_tag "screenshots/gesundheitswesen-schulungen.png", title: "Schulungen Gesundheitswesen", alt: "Schulungen Gesundheitswesen" %>
  </div>

</div>

<div class="row" id="human-resource-development">

  <div class="col col-img">
    <%= image_tag "screenshots/gesundheitswesen-qualitatspass.png", title: "Qualitatspass Gesundheitswesen", alt: "Qualitatspass Gesundheitswesen" %>
  </div>

  <div class="col col-text">
    <h2>
      Das E-Portfolio fördert die Eigenverantwortung
    </h2>
    <p>
      Ihre Mitarbeiter erhalten ein persönliches <%= link_to "E-Portfolio", "/capp-talent-management/" %> und haben so einen Überblick über ihren Lernverlauf. Dies fördert sowohl die Motivation als auch das Verantwortungsgefühl. Mit CAPP LMS genießen Ihre Mitarbeiter die Freiheit, individuell und ungebunden zu lernen, da jeder selbst bestimmen kann, wann und wo er sich mit Theorie beschäftigt und die E-Learning-Module durcharbeitet.
    </p>

    <h2>
      Seminarverwaltung und Kursverwaltung
    </h2>
    <p>
      Unsere Software unterstützt Sie grundlegend bei der Organisation des Kurssystems und der Seminarverwaltung. Indem Sie mithilfe von CAPP Kursplanungen, Anmeldeverfahren, Benachrichtigungen und Wartelisten automatisieren, nutzen Sie klare Vorteile bei der Kursverwaltung und sparen wertvolle Zeit, in der Sie sich anderen wichtigen Aufgaben widmen können.
    </p>
  </div>

</div>
