<section class="more-about">
  <div class="row">
    <div>
      <h2>
        <%= t("solutions.pages.healthcare.more.title") %>:
      </h2>

      <ul>
        <li>
          <%= link_to "Medizinproduktegesetz", "/medizinproduktegesetz/" %>
        </li>
        <li>
          <%= link_to "Digitalisierung im Krankenhaus", "/digitalisierung-im-krankenhaus/" %>
        </li>
        <li>
          <%= link_to "E-Learning im Gesundheitswesen", "/e-learning/" %>
        </li>
      </ul>
    </div>
  </div>
</section>
