<section class="on-page-navigation">
  <ul>
    <li>
      <a href="#general" data-scroll-to><%= t("solutions.pages.healthcare.page-navigation.general") %></a>
    </li>
    <li>
      <a href="#learning-platform" data-scroll-to><%= t("solutions.pages.healthcare.page-navigation.learning-platform") %></a>
    </li>
    <li>
      <a href="#human-resource-development" data-scroll-to><%= t("solutions.pages.healthcare.page-navigation.human-resource-development") %></a>
    </li>
    <li>
      <a href="#references" data-scroll-to><%= t("solutions.pages.healthcare.page-navigation.references") %></a>
    </li>
  </ul>
</section>
