<section class="features">

  <div class="row">

    <div class="col col-text">
      <p>
        <strong>E-Learning hat auch im Gesundheitswesen einen immer größeren Stellenwert. Inzwischen geht es dabei nicht mehr nur um Lerninhalte, die am Bildschirm statt im Seminarraum durchgenommen und bearbeitet werden. E-Learning im weiteren Sinne meint heute den flexiblen und interaktiven Austausch von Wissen mithilfe von Online-Anwendungen. Das beste Beispiel ist die Software CAPP Agile Learning von Defacto!</strong>
      </p>

      <p>
        Modernes E-Learning ist Geben und Nehmen. Ob Sie selbst Inhalte erstellen oder schon vorhandenes Content nutzen möchten: CAPP Agile Learning unterstützt beides. Wenn Sie Texte schreiben, werden diese automatisch in ein übersichtliches Layout gesetzt, damit Ihre Plattform eine klare, professionelle Ausstrahlung bekommt. Links zu YouTube-Videos oder zu Abbildungen im Internet erkennt der Editor automatisch und wandelt sie in die dazugehörigen Bilder oder Videos um. Sie brauchen sich somit nur um den Inhalt zu kümmern – das Layout übernimmt CAPP Agile Learning.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-editor.png", title: "CAPP Agile Learning editor", alt: "CAPP Agile Learning editor", class: "screenshot" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-auf-dem-laufenden.png", title: "Jederzeit auf dem Laufenden", alt: "Jederzeit auf dem Laufenden", class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3>E-Learning on demand</h3>

      <p>
        Mit CAPP Agile Learning können Sie Ihren Mitarbeitern Informationen genau zu dem Zeitpunkt anbieten, wenn diese sie brauchen. Auf der anderen Seite können die Mitarbeiter aus dem großen Online-Angebot genau die Themen auswählen, die für sie relevant sind. Sie erhalten eine Mitteilung, sobald sich etwas ändert, und bleiben dadurch jederzeit auf dem Laufenden.
      </p>

      <p>
        Zudem erhalten Sie die Möglichkeit, Geräte oder andere Gegenstände mit QR-Codes auszustatten, die direkt mit Arbeitsanweisungen oder Protokollen verlinkt sind – scannen Sie doch einfach den nebenstehenden Code und erleben Sie, wie gut das funktioniert. Mit der Funktion "Shared Spaces" schließlich können Sie aktuelle Informationen bereitzustellen, ohne dass ein Einloggen auf der Plattform erforderlich ist. Durch diese innovative Form des E-Learnings erhält jeder Mitarbeiter "just in time" genau die richtigen Informationen, die er zu diesem Zeitpunkt für eine optimale Leistung benötigt.
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">
      <h3>Ein Wechselspiel aus Fragen und Antworten</h3>

      <p>
        Welche Informationen in einem Unternehmen aktuell gebraucht werden, kann niemand genau vorhersagen. Oftmals wird erst spät entdeckt, wo welches spezielle Wissen fehlt, da die Nachfrage zunächst nicht offensichtlich war. Mit CAPP Agile Learning verhindern Sie das, weil alle Beteiligten in einen Dialog treten.
      </p>

      <p>
        Mit der "Frage und Antwort"-Funktion kann der Mitarbeiter dem Unternehmen eine Frage stellen, wenn er eine Information benötigt und sie im System nicht finden kann. Helfen Sie dem Fragesteller weiter, indem Sie ihm eine direkte Antwort geben – und nutzen Sie seinen Input zur Erstellung von zusätzlichen Inhalten für das interaktive E-Learning!
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-fragen.png", title: "An der Nachfrage orientiert mit Frage und Antwort", alt: "An der Nachfrage orientiert mit Frage und Antwort", class: "screenshot" %>
    </div>

  </div>

</section>
