<section class="features">

  <div class="row">

    <div class="col col-text">
      <h3>Maak & deel</h3>
      <p>
        Of je nu zelf content maakt of bestaande content wilt ontsluiten, CAPP Agile Learning ondersteunt beide. Onze slimme editor herkent links van bijvoorbeeld YouTube of afbeeldingen die je online vindt en zet deze automatisch om in plaatjes of filmpjes.
      </p>
      <p>
        Geschreven content wordt automatisch gepubliceerd in een strakke lay-out, waardoor je platform een eenduidige, professionele uitstraling heeft.
      </p>
      <p>
        Kortom, je hoeft je alleen druk te maken over de inhoud, de lay-out wordt door CAPP Agile Learning geregeld.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "gifs/wat-is-agile-learning.gif", title: "Wat is CAPP Agile Learning?", alt: "Wat is CAPP Agile Learning?", class: "screenshot" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-up-to-date.png", title: "Altijd up-to-date", alt: "Altijd up-to-date", class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3>Blijf up-to-date</h3>
      <p>
        Selecteer uit het aanbod de onderwerpen die voor jou relevant zijn. Schrijf in op het aanbod wat voor jou interessant is om bericht te ontvangen wanneer er aan de inhoud ervan iets veranderd. Zo ben en blijf je altijd up-to-date.
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">
      <h3>On demand</h3>
      <p>
        Ontsluit informatie voor medewerkers op het moment dat zij het nodig hebben. Voorzie apparaten of andere fysieke objecten van QR-codes die direct linken naar werkinstructies of protocollen (scan zelf de QR-code hiernaast en ervaar hoe snel dit werkt).
      </p>

      <p>
        Maak gebruik van de ‘shared spaces’ functionaliteit om informatie beschikbaar te stellen zonder dat inloggen op het platform noodzakelijk is.
      </p>

      <p>
        Zo wordt iedere medewerker ‘just in time’ aan de juiste informatie geholpen die op dat moment nodig is om te presteren.
      </p>
    </div>

    <div class="col col-img">
      <a href="https://zorgdemo.learningspaces.nl/s/qi4Dge-L_qY5aLzJnciT-A" target="_blank" rel="noopener">
        <%= image_tag "screenshots/capp-agile-qr-code_nl.png", title: "On demand met QR-codes", alt: "On demand met QR-codes", class: "screenshot" %>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-questions.png", title: "Vraaggestuurd met vragen & antwoorden", alt: "Vraaggestuurd met vragen & antwoorden", class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3>Vraaggestuurd</h3>
      <p>
        Niemand kan volledig voorspellen aan welke kennis binnen een organisatie behoefte is. Vaak wordt een gebrek aan kennis pas (te) laat ontdekt, omdat de vraag naar deze kennis verborgen is. Met CAPP Agile Learning voorkomen we dit door een dialoog aan te gaan met de medewerker.
      </p>

      <p>
        Met onze ‘Vraag en antwoord’ functionaliteit wordt de medewerker in staat gesteld een vraag te stellen aan de organisatie wanneer hij een stuk informatie mist of niet kan vinden. Help deze medewerker met een direct antwoord meteen verder en gebruik zijn input voor het creëren van extra content.
      </p>
    </div>

  </div>

</section>
