<section class="features">

  <div class="row">

    <div class="col col-text">
      <h3>Create & share</h3>
      <p>
        Whether you produce your own content or wish to share existing information, CAPP Agile Learning makes it all possible. Our smart editor recognises links to YouTube, graphics and other online media, and automatically converts them into videos or images within the platform.
      </p>

      <p>
        Written content is automatically published in a sleek layout, giving your platform a uniform and professional look.
      </p>

      <p>
        This means you only need to focus on the content while CAPP Agile Learning takes care of the layout.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-editor_en.png", title: "The CAPP Agile Learning Markdown Editor", alt: "The CAPP Agile Learning Markdown Editor", class: "screenshot" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-up-to-date_en.png", title: "Always up-to-date", alt: "Always up-to-date", class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3>Stay up to date</h3>
      <p>
        Select the subjects that matter to you. Subscribe to relevant information and receive notifications of any content changes. This way, you will always be up to date.
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">
      <h3>On demand</h3>
      <p>
        Give your employees information exactly when they need it. Assign QR codes that link directly to work instructions or protocols to devices or other physical objects (try it for yourself by scanning the adjacent QR code and see how fast it works).
      </p>

      <p>
        Use the Shared Spaces functionality to make information available without having to log on to the platform.
      </p>

      <p>
        This ensures that every user receives the information required for optimal performance exactly when they need it, in other words: just in time.
      </p>
    </div>

    <div class="col col-img">
      <a href="https://learningspaces.cappagile.com/s/pFcU-F6g-7ji_MkiQW7pYww" target="_blank" rel="noopener noreferrer">
        <%= image_tag "screenshots/capp-agile-qr-code_en.png", title: "On demand with QR-codes", alt: "On demand with QR-codes", class: "screenshot" %>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-agile-questions_en.png", title: "Demand-driven with Questions &amp; Answers", alt: "Demand-driven with Questions &amp; Answers", class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3>Demand-driven</h3>
      <p>
        It is impossible to predict exactly which expertise will be required within an organisation. A lack of knowledge is often discovered (too) late because the need for this expertise is hidden. CAPP Agile Learning solves this problem by starting a dialogue with the users.
      </p>

      <p>
        Our Question and Answer functionality allows employees to ask the organisation questions when they lack or cannot locate certain information. Help your staff on their way by providing an immediate answer and use their input to create extra content.
      </p>
    </div>

  </div>

</section>
