<section class="product-introduction single-col" id="introduction">
  <div class="row">

    <p>
      Een snel veranderende werkomgeving vraagt van uw medewerkers dat ze snel nieuwe kennis en vaardigheden aanleren. Dit vereist een divers leeraanbod en verschillende leeractiviteiten. Maar hoe zorgt u ervoor dat dit aanbod niet versplintert en in de praktijk wordt gebruikt?
    </p>
    <p>
      Met <strong>CAPP Learning</strong> brengt u alle leeractiviteiten, zoals online- en werkplekleren, toetsing en klassikale scholing samen in één persoonlijk en overzichtelijk leerplatform voor uw medewerkers. Een platform dat past bij uw ambities om een professionele bedrijfsacademie op te zetten.
    </p>

    </div>
</section>
