<section class="usp-overview gray" id="usp">

  <div class="row">

    <ul class="usp-list">
      <li>
        <div class="icon">
          <img class="icon" title="Automatische certificering" alt="Automatische certificering" src="/images/icons/compliance-automatische-certificering.svg" />
        </div>

        <div class="title">
          <h3>
            Personal Learning Experience
          </h3>
        </div>

        <div class="description">
          <p>
            Een persoonlijk leeraanbod voor medewerkers – eigen verantwoordelijkheid als uitgangspunt.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Kwaliteitspaspoort" alt="Kwaliteitspaspoort" src="/images/icons/compliance-kwaliteitspaspoort.svg" />
        </div>

        <div class="title">
          <h3>
            Gebruiksvriendelijk & intuïtief
          </h3>
        </div>

        <div class="description">
          <p>
            Modern LMS met een gebruiksvriendelijke en intuïtieve interface.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Gemakkelijk rapporteren" alt="Gemakkelijk rapporteren" src="/images/icons/compliance-rapporteren.svg" />
        </div>

        <div class="title">
          <h3>
            Flexibel beheer
          </h3>
        </div>

        <div class="description">
          <p>
            Optimale ondersteuning voor leren, registreren en beoordelen op de werkvloer; Centraal en decentraal.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Compliance API" alt="Compliance API" src="/images/icons/compliance-api.svg" />
        </div>

        <div class="title">
          <h3>
            Authoring
          </h3>
        </div>

        <div class="description">
          <p>
            Combineer zelf ontwikkelde leerinhoud snel en eenvoudig met bestaand materiaal, zoals video's.
          </p>
        </div>
      </li>

    </ul>

  </div>

</section>
