<section class="usp-overview gray" id="usp">

  <div class="row">

    <ul class="usp-list">
      <li>
        <div class="icon">
          <img class="icon" title="Personal Learning Experience" alt="Personal Learning Experience" src="/images/icons/learning-lxp.svg" />
        </div>

        <div class="title">
          <h3>
            Personal Learning Experience
          </h3>
        </div>

        <div class="description">
          <p>
            Een persoonlijk leeraanbod voor medewerkers – eigen verantwoordelijkheid als uitgangspunt.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Gebruiksvriendelijk en intuïtief" alt="Gebruiksvriendelijk en intuïtief" src="/images/icons/learning-gebruiksvriendelijk.svg" />
        </div>

        <div class="title">
          <h3>
            Gebruiksvriendelijk & intuïtief
          </h3>
        </div>

        <div class="description">
          <p>
            Modern LMS met een gebruiksvriendelijke en intuïtieve interface.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Flexibel beheer" alt="Flexibel beheer" src="/images/icons/learning-beheer.svg" />
        </div>

        <div class="title">
          <h3>
            Flexibel beheer
          </h3>
        </div>

        <div class="description">
          <p>
            Optimale ondersteuning voor leren, registreren en beoordelen op de werkvloer; Centraal en decentraal.
          </p>
        </div>
      </li>

      <li>
        <div class="icon">
          <img class="icon" title="Authoring" alt="Authoring" src="/images/icons/learning-authoring.svg" />
        </div>

        <div class="title">
          <h3>
            Authoring
          </h3>
        </div>

        <div class="description">
          <p>
            Combineer zelfontwikkelde leerinhoud snel en eenvoudig met bestaand materiaal, zoals video's.
          </p>
        </div>
      </li>

    </ul>

  </div>

</section>
