body.bedankt {
  .gray {
    background-color: $lightest-gray;
    background-image: radial-gradient($lightest-gray, $light-gray);
    padding-top: calc(4em + #{$header-height});
  }

  .header-icon {
    margin: 0 0 1em;
    opacity: 0.9;
    width: 150px;
  }
}
