body.bedankt {
  .gray {
    background-color: #fbfbfb;
    background-image: radial-gradient(#fbfbfb, #dfdfdf);
    padding-top: calc(4em + #{$header-height});
  }

  .header-icon {
    margin: 0 0 1em;
    opacity: 0.9;
    width: 150px;
  }
}
