body.en {
  .kpp-logo {
    margin-bottom: 1em;
    max-width: 240px;

    @include grid-media($medium-up) {
      max-width: 300px;
    }

    body.de & {
      max-width: 100%;

      @include grid-media($large-up) {
        max-width: 750px;
      }
    }
  }

  &.capp-compliance {
    $color: lighten($turquoise, 5);

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: $base-font-size * 2;
      font-weight: $font-weight-regular;
      margin-bottom: 1em;
    }

    .hero {
      $color: lighten($turquoise, 5);

      @include radial-gradient($color);

      background-attachment: scroll;
      padding-bottom: 0;

      + section {
        box-shadow: 0 -20px 20px -20px rgba($black, 0.2);
        position: relative;
      }

      .hero-copy {
        img {
          display: block;
          margin: 0 auto;
        }
      }

      .hero-inner {
        padding-bottom: 0;
      }
    }
  }
}

body.nl.capp-compliance {

  section.usp-overview {

    .row {
      margin: 0 auto;
      max-width: 1260px;
      padding: 0 1em;
      position: relative;
    }

    .usp-list {

      margin-bottom: 1em;

      @include grid-media($large-up) {
        display: flex;
        justify-content: center;
        max-width: 1200px;

        li {
          flex: 1;
          margin-bottom: 2em;
          margin-left: 1em;
          margin-right: 1em;
          max-width: 800px;

          @include grid-media($medium-up) {
            margin-bottom: 0;
          }
        }
      }

      @media screen and (min-width: 640px){

        img {
          height: 60px;
          line-height: 60px;
        }

        .icon {
          margin: 0.75em;
        }

        h3 {
          font-weight: 400;
        }
      }
    }
  }

  section.product-overview.persian-green {

    .row {
      padding: 3em 0;

      &:first-of-type {
        padding-top: 2em;
      }
    }

    @media screen and (min-width: 640px){

      .row {

        p {
          font-size: 1.3em;
        }

        h2 {
          padding: 0;
          text-align: left;
        }
      }

      a.button.outline.persian-green {
        font-size: 1em;
      }
    }
  }

  section.testimonials {

    background-color: $persian-green;

    h2 {
      color: $white;
      text-align: center;
    }

    .testimonial-list .author {

      .name {
        color: $white;
      }

      .company {
        color: $white;
      }
    }
  }

  section.cta-bottom.green {

    background-color: $persian-green;

    h2 {
      color: $white;
    }
  }

  section.clients {

    .logos .client img {
      opacity: 1;
    }

  }
}
