body:not(.en).capp-lms {
  color: $capp-color;

  :not(.footer) {
    .cta-bottom {
      .row {
        max-width: 1500px;
      }
    }

    .row {
      max-width: 1260px;

      @include media($large-up) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .col {
        @include media($medium-up) {
          padding: 0;
        }
      }
    }

    .col {
      padding: 0 1em;

      @include media($xlarge-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }
      }

      &.card {
        flex: 0;
        flex-basis: 480px;
        padding: 40px 30px;

        @include media($medium-up) {
          padding: 40px 60px;
        }
      }
    }

    form:not(.form-inline) .button {
      width: 100%;
    }

    #{$all-text-inputs} {
      &:focus {
        border-color: $pink;
        box-shadow: 0 0 5px $pink;
      }
    }
  }

  .card {
    background: $white;
    box-shadow: 0 1px 2rem rgba($black, 0.1);
    margin: 0 auto;
    max-width: 1160px;
    position: relative;
    text-align: left;

    @include media($large-up) {
      margin-right: 15px;
    }

    &::before,
    &::after {
      border-radius: 100px / 10px;
      bottom: 0;
      box-shadow: 0 0 20px rgba($black, 0.25);
      content: "";
      left: 25px;
      position: absolute;
      right: 25px;
      top: 15px;
      z-index: -1;
    }
  }

  .hero {
    $hero-image: "../images/moods/capp-12.jpg";

    background: url($hero-image);
    background-size: cover;
    color: $capp-color;
    position: relative;
    text-align: center;
    z-index: 1;

    @include media($large-up) {
      text-align: left;
    }

    .row {
      padding: em($header-height) + 3em 1em 3em;
    }

    .logo {
      margin-bottom: 1.7em;
      max-width: 240px;

      @include media($medium-up) {
        margin-left: -5px;
        max-width: 260px;
      }
    }

    .col {
      flex: 1;
    }

    h4 {
      font-size: 1.3em;
      font-weight: 700;
    }
  }

  .on-page-navigation {
    background-color: $pink;

    a {
      color: $white;

      &:hover {
        color: darken($white, 10%);
      }

    }
  }

  .capp-introduction {
    $background-image: "../images/moods/home.svg";

    background-color: $capp-dark-blue;
    background-image: url($background-image);
    background-position: top 0 right -150px;
    background-repeat: no-repeat;
    background-size: 800px auto;
    color: $white;

    h3 {
      @include media($xlarge-up) {
        margin-bottom: 2em;
      }
    }
  }

  .capp-overview {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1380px;
      padding: 3em 0;
      text-align: left;

      @include media($medium-up) {
        align-items: center;
      }
    }

    .col {
      padding: 0 1em;

      @include media($medium-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }

        &:last-child {
          margin-left: 2em;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;

        @include media($medium-up) {
          margin: 0;
        }
      }

      &-img {
        margin-bottom: 1em;
        order: 1;

        @include media($medium-up) {
          order: initial;
        }
      }

      &-text {
        order: 2;

        @include media($medium-up) {
          order: initial;
        }
      }
    }

    h2 {
      @include media($medium-up) {
        font-size: $base-font-size * 3;
      }
    }

    h3 {
      font-weight: 500;
    }

    h4 {
      font-size: $base-font-size * 1.5;
      font-weight: 500;
    }
  }
}
