body.nl.capp-lms {

  section.usp-overview {

    .row {
      margin: 0 auto;
      max-width: 1260px;
      padding: 0 1em;
      position: relative;
    }

    .usp-list {

      margin-bottom: 1em;

      @include grid-media($large-up) {
        display: flex;
        justify-content: center;
        max-width: 1200px;

        li {
          flex: 1;
          margin-bottom: 2em;
          margin-left: 1em;
          margin-right: 1em;
          max-width: 800px;

          @include grid-media($medium-up) {
            margin-bottom: 0;
          }
        }
      }

      @media screen and (min-width: 640px){

        img {
          height: 60px;
          line-height: 60px;
        }

        .icon {
          margin: 0.75em;
        }

        h3 {
          font-weight: 400;
        }
      }
    }
  }

  section.product-overview.amaranth {

    h3 {
      font-size: $base-font-size * 2;
    }

    p {
      @include grid-media($medium-up) {
        font-size: $base-font-size * 1.3;
      }
    }

    .row {
      border-top: $base-border;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: $normal-row;
      padding: 3em 0;
      text-align: left;

      @include grid-media($medium-up) {
        align-items: center;
      }

      h2 {
        padding: 0;
        text-align: left;
      }

      &:first-of-type {
        border-top: 0;
        padding-top: 2em;
      }

      a {
        color: $amaranth;

        &:hover:not(.button) {
          text-decoration: underline;
        }

        &.button:hover {
          background-color: $amaranth;
          color: $white;
        }
      }
    }

    .button {
      font-size: $base-font-size;
    }

    .col {
      padding: 0 1em;

      @include grid-media($medium-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }

        &:last-child {
          margin-left: 2em;
        }

        &:first-child:last-child {
          max-width: $medium-row;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;

        @include grid-media($medium-up) {
          margin: 0;
          width: 70%;
        }

        @include grid-media($large-up) {
          width: 80%;
        }

        @include grid-media($xlarge-up) {
          width: 90%;
        }

        @include grid-media($xxlarge-up) {
          width: 100%;
        }
      }

      &-img {
        margin-bottom: 1em;
        order: 1;

        @include grid-media($medium-up) {
          order: initial;
        }
      }

      &-text {
        order: 2;

        @include grid-media($medium-up) {
          order: initial;
        }
      }
    }
  }

  section.testimonials {
    background-color: $amaranth;

    h2 {
      color: $white;
      text-align: center;
    }

    .quote {
      font-style: normal;
      line-height: normal;
    }

    .testimonial-list {
      margin-bottom: 2em;

      li {
        display: flex;
        flex-direction: column;
      }

      .author {
        flex-basis: 80px;
        margin-top: 15px;
        padding-left: 90px;
        position: relative;

        .avatar {
          float: none;
          left: 0;
          position: absolute;
          top: 10px;
        }

        .name {
          color: $white;
        }

        .company {
          color: $white;
        }
      }

      .quote {
        flex: 1;
        font-size: $base-font-size;
        line-height: 1.75;

        &::before {
          bottom: -9.5px;
          height: 20px;
          left: 38px;
          width: 20px;
        }
      }
    }
  }

  section.cta-bottom {

    background-color: $amaranth;

    h2 {
      color: $white;
    }

    input {
      border: 0;
      border-radius: 3px;
    }

    button {
      border-radius: 3px;
    }
  }

  section.clients {

    .logos .client img {
      opacity: 1;
    }
  }
}

body.de.capp-lms {
  color: $capp-color;

  :not(.footer) {
    .cta-bottom {
      .row {
        max-width: 1500px;
      }
    }

    .row {
      max-width: 1260px;

      @include grid-media($large-up) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .col {
        @include grid-media($medium-up) {
          padding: 0;
        }
      }
    }

    .col {
      padding: 0 1em;

      @include grid-media($xlarge-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }
      }

      &.card {
        flex: 0;
        flex-basis: 480px;
        padding: 40px 30px;

        @include grid-media($medium-up) {
          padding: 40px 60px;
        }
      }
    }

    form:not(.form-inline) .button {
      width: 100%;
    }

    #{$all-text-inputs} {
      &:focus {
        border-color: $pink;
        box-shadow: 0 0 5px $pink;
      }
    }
  }

  .card {
    background: $white;
    box-shadow: 0 1px 2rem rgba($black, 0.1);
    margin: 0 auto;
    max-width: 1160px;
    position: relative;
    text-align: left;

    @include grid-media($large-up) {
      margin-right: 15px;
    }

    &::before,
    &::after {
      border-radius: 100px / 10px;
      bottom: 0;
      box-shadow: 0 0 20px rgba($black, 0.25);
      content: "";
      left: 25px;
      position: absolute;
      right: 25px;
      top: 15px;
      z-index: -1;
    }
  }

  .hero {
    $hero-image: "../images/moods/capp-12.jpg";

    background: url($hero-image);
    background-size: cover;
    color: $capp-color;
    position: relative;
    text-align: center;
    z-index: 1;

    @include grid-media($large-up) {
      text-align: left;
    }

    .row {
      padding: calc(3em + #{$header-height}) 1em 3em;
    }

    .logo {
      margin-bottom: 1.7em;
      max-width: 240px;

      @include grid-media($medium-up) {
        margin-left: -5px;
        max-width: 260px;
      }
    }

    .col {
      flex: 1;
    }

    h4 {
      font-size: 1.3em;
      font-weight: $font-weight-bold;
    }
  }

  .on-page-navigation {
    background-color: $pink;

    a {
      color: $white;

      &:hover {
        color: darken($white, 10%);
      }

    }
  }

  .capp-introduction {
    $background-image: "../images/moods/home.svg";

    background-color: $capp-dark-blue;
    background-image: url($background-image);
    background-position: top 0 right -150px;
    background-repeat: no-repeat;
    background-size: 800px auto;
    color: $white;

    h3 {
      @include grid-media($xlarge-up) {
        margin-bottom: 2em;
      }
    }
  }

  .capp-overview {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1380px;
      padding: 3em 0;
      text-align: left;

      @include grid-media($medium-up) {
        align-items: center;
      }
    }

    .col {
      padding: 0 1em;

      @include grid-media($medium-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }

        &:last-child {
          margin-left: 2em;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;

        @include grid-media($medium-up) {
          margin: 0;
        }
      }

      &-img {
        margin-bottom: 1em;
        order: 1;

        @include grid-media($medium-up) {
          order: initial;
        }
      }

      &-text {
        order: 2;

        @include grid-media($medium-up) {
          order: initial;
        }
      }
    }

    h2 {
      text-align: center;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 3;
      }
    }

    h3 {
      font-weight: $font-weight-regular;
    }

    h4 {
      font-size: $base-font-size * 1.5;
      font-weight: $font-weight-regular;
    }
  }
}
