body.capp-agile-learning {

  .header-image {
    $hero-image: "../images/moods/capp-agile-learning.jpg";
    background: $green url($hero-image) center fixed;
  }

  .hero {
    position: relative;

    .logo {
      margin: 0 auto 1.2em;
      max-width: 400px;
    }

    .hero-inner {
      padding: 2em 1em 4em;
      position: relative;

      @include media($large-up) {
        padding: 2em 1em 18em;
      }

      .button {
        display: inline-block;
        margin-bottom: 2em;
      }

      .hero-img {
        display: block;
        margin: 0 auto 4em;

        @include media($large-up) {
          left: 0;
          margin: 0 auto;
          position: absolute;
          right: 0;

          &.nl {
            top: 325px;
          }

          &.de {
            top: 225px;
          }
        }
      }
    }

    h1 {
      color: $white;
      font-family: $base-font-family;
      font-size: 1.4em;
      font-weight: 500;
      margin: 0 auto 1.2em;
      max-width: 800px;
    }
  }

  h2 {
    color: $dark-gray;
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 1.2em;

    @include media($medium-up) {
      font-size: 2.4em;
    }
  }

  .clients {
    border-bottom: 1px solid $gray;

    @include media($large-up) {
      padding-top: 16em;
    }
  }

  .features {
    text-align: center;

    .row {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 2em;
      padding: 2em 0;
      text-align: left;

      @include media($xlarge-up) {
        display: block;
        padding: 4em 0;
      }
    }

    .row:last-child {
      border-bottom: 0;
    }

    .col {
      flex: 2 100%;
      padding: 0 1em;

      @include media($large-up) {
        @include span-columns(6);

        &-img:first-child {
          padding-right: 2em;
        }

        &-img:last-child {
          padding-left: 2em;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;
      }

      &-img {
        margin-bottom: 1em;
        order: 1;
      }

      &-text {
        order: 2;
      }
    }

    h3 {
      font-weight: 500;
    }

    .screenshot {
      $border-color: #f1f2f1;
      border: 2px solid $border-color;
    }
  }

  .testimonials {
    background: $lighter-gray;
  }

  .info-request {
    text-align: left;

    h2 {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .col {
      margin-bottom: 2em;

      @include media($large-up) {
        @include span-columns(7);
        margin-top: 2em;

        &:first-child {
          @include span-columns(5);
          padding-right: 2em;
        }
      }
    }

    h3 {
      font-size: 1.4em;
    }

    label {
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .why {
    background: $lighter-gray;
    padding: 4em 0;
    text-align: center;

    h2 {
      padding: 0 1em;
    }

    .row {
      max-width: 1380px;
      padding: 0 1em;

      @include media($large-up) {
        display: flex;
      }
    }

    .reason {
      background: $white;
      border-radius: $base-border-radius;
      margin-bottom: 3em;
      padding: 2em;
      position: relative;
      text-align: center;

      @include media($large-up) {
        margin-right: 2em;
        width: 33%;
      }

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 1.6em;
      }

      p {
        margin: 0;
      }
    }

    .number {
      background: $green;
      border-radius: 50%;
      display: inline-block;
      height: 80px;
      line-height: 80px;
      margin-bottom: 1em;
      position: relative;
      vertical-align: middle;
      width: 80px;

      span {
        color: $white;
        font-size: 2em;
        font-weight: 700;
      }
    }
  }
}
