body.compliance-api {
  .hero {
    $hero-image: "../images/moods/bridge.jpg";

    background-attachment: scroll;
    background-color: $orange;
    background-image: url($hero-image);
    background-position: center;
    padding: calc(3em + #{$header-height}) 1em 3em;
    text-align: center;

    h1 {
      padding-top: 0.5em;
      text-align: center;
    }
  }

  .main {
    h2,
    h3 {
      text-align: center;
    }

    article {
      h3 {
        text-align: left;
      }
    }
  }

  section.on-page-navigation {
    background-color: $orange;

    a {
      color: $white;

      &:hover {
        color: darken($white, 10%);
      }
    }
  }

  section.overview {
    $background-image: "../images/moods/home.svg";

    background-color: $capp-dark-blue;
    background-image: url($background-image);
    background-position: top 0 right -150px;
    background-repeat: no-repeat;
    background-size: 800px auto;
    color: $white;
  }

  section.how-it-works {
    h2 {
      margin-bottom: 2em;
    }

    .how-item {
      margin-bottom: 4em;
    }

    h3 {
      font-size: $base-font-size * 1.3;
      margin: 0;
      text-align: center;
      vertical-align: center;

      @include media($medium-up) {
        font-size: $base-font-size * 2;
        line-height: 60px;
      }

      img {
        display: block;
        height: 120px;
        margin: 0 auto 1em;

        @include media($medium-up) {
          display: inline-block;
          height: 60px;
          margin: 0 0.5em;
          vertical-align: middle;
        }
      }
    }
  }

  section.applications {
    background-color: $lighter-gray;
    background-image: radial-gradient($lightest-gray, $lighter-gray);
  }

  section.cta-bottom {
    .row {
      max-width: 960px;
    }

    form {
      max-width: 640px;
    }
  }
}
