$page-color: $amaranth;

body.compliance-management {
  .colored-background {
    background-color: $page-color;
    color: $white;
  }

  div.hero {
    $hero-image: "../images/moods/capp-12.jpg";

    background: url($hero-image);
    background-size: cover;
    color: $capp-color;

    .hero-inner {
      max-width: $medium-row;
    }

    h1 {
      color: $white;
      font-size: $base-font-size * 1.6;
      margin: 0 auto 0.75em;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 2.4;
      }
    }

    h2 {
      color: $white;
    }

    .button {
      margin-bottom: 0;
    }
  }

  section.usp-quote {
    font-size: $base-font-size * 1.6;
    padding: 1em 0;
    text-align: center;
  }

  section.steps {
    h2 {
      font-size: $base-font-size * 2.4;
      text-align: center;
    }

    .row {
      max-width: $small-row;
    }

    .item {
      align-items: center;
      display: flex;
      margin-bottom: 2em;

      .item-number {
        align-items: center;
        background: $page-color;
        border-radius: 50%;
        color: $white;
        display: flex;
        flex: 0 0 80px;
        font-size: $base-font-size * 2;
        font-weight: $font-weight-bold;
        height: 80px;
        justify-content: center;
      }

      .item-text {
        flex: 1;
        font-size: $base-font-size * 1.2;
        padding-left: 1em;
        text-align: left;
      }
    }
  }

  section.in-practice {
    h2 {
      font-size: $base-font-size * 2.4;
      text-align: center;
    }

    h3 {
      font-size: $base-font-size * 1.2;
    }

    .row {
      margin: 0 auto;
      max-width: $max-width;
    }

    ul.in-practice-list {
      margin-bottom: 1em;

      @include grid-media($large-up) {
        display: flex;
        justify-content: center;
      }

      li {
        margin: 1em;
        max-width: 200px;
        text-align: center;

        @include grid-media($large-up) {
          flex: 1;
          margin-bottom: 0;
          padding-left: 1em;
          padding-right: 1em;
        }

        img {
          @include grid-media($large-up) {
            height: 60px;
            line-height: 60px;
          }
        }
      }
    }
  }

  section.overview {
    h2 {
      padding: 0 1em;
      text-align: center;
    }

    h3 {
      font-size: $base-font-size * 2;
    }

    p {
      @include grid-media($medium-up) {
        font-size: $base-font-size * 1.3;
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: $normal-row;
      padding: 0.5em 0;
      text-align: left;

      @include grid-media($medium-up) {
        align-items: center;
      }

      &:first-of-type {
        border-top: 0;
        padding-top: 2em;
      }
    }

    .button {
      font-size: $base-font-size;
    }

    .col {
      padding: 0 1em;

      @include grid-media($medium-up) {
        flex: 1;

        &:first-child {
          margin-right: 2em;
        }

        &:last-child {
          margin-left: 2em;
        }

        &:first-child:last-child {
          max-width: $medium-row;
        }
      }

      img {
        display: block;
        margin: 0 auto 1em;

        @include grid-media($medium-up) {
          margin: 0;
        }
      }

      &-img {
        margin-bottom: 1em;
        order: 1;

        @include grid-media($medium-up) {
          order: initial;
        }
      }

      &-text {
        order: 2;

        @include grid-media($medium-up) {
          order: initial;
        }
      }
    }
  }

  section.clients {
    .client-logo {
      opacity: 1;
    }
  }
}
