body.index {
  &:not(.nl) {
    .hero {
      h1 {
        font-size: 1.6em;
        font-weight: $font-weight-small;
        margin: 0 auto 1em;
        max-width: 900px;

        @include grid-media($large-up) {
          font-size: 2.8em;
        }
      }

      h2 {
        font-size: 1.6em;
        margin: 0 auto 1.4em;
        max-width: 860px;

        @include grid-media($large-up) {
          font-size: 2.2em;
        }
      }
    }
  }

  &.de {
    .hero {
      $background-image: "../images/moods/home.svg";

      background-color: $capp-dark-blue;
      background-image: url($background-image);
      background-position: top 0 right -150px;
      background-repeat: no-repeat;
      background-size: 800px auto;

      .logo {
        margin-bottom: 2.4em;
        max-width: 280px;
      }

      h1 {
        font-weight: $font-weight-bold;
        margin-bottom: 0.5em;

        @include grid-media($large-up) {
          font-size: 3em;
        }
      }
    }
  }

  &.en {
    .hero {
      $hero-image: "../images/moods/defacto.jpg";
      background-image: url($hero-image);
    }
  }
}
