body.klanten_index {
  ul.references-list {
    > li {
      background-color: $white;
      height: 150px;
      line-height: 150px;
      margin-bottom: 2em;
      vertical-align: middle;

      @include grid-media($medium-only) {
        @include grid-column(6);
      }

      @include grid-media($large-only) {
        @include grid-column(3);
      }

      @include grid-media($xlarge-up) {
        @include grid-column(2);
      }

      img {
        display: inline-block;
        max-height: 130px;
        max-width: 80%;
        vertical-align: middle;
      }
    }
  }
}
