body.product-page {

  // Scoped to NL for now!
  &.nl {
    div.hero {
      h1 {
        font-size: $base-font-size * 1.6;
        text-align: center;

        @include grid-media($medium-up) {
          font-size: $base-font-size * 3;
        }
      }

      .row {
        padding: 0 1em;

        @include grid-media($medium-up) {
          padding: 1em;
        }
      }

      .product-logo {
        margin-bottom: 2em;
      }
    }

    section.single-col {
      .row {
        max-width: $medium-row;
      }
    }

    section.light-gradient-background {
      background-color: $lighter-gray;
      background-image: radial-gradient($lightest-gray, $lighter-gray);
    }

    section.dark-background {
      $background-image: "../images/moods/home.svg";

      background-color: $capp-dark-blue;
      background-image: url($background-image);
      background-position: top 0 right -150px;
      background-repeat: no-repeat;
      background-size: 800px auto;
      color: $white;
    }

    section.product-introduction {
      padding: 1em 0;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 1.3;
        padding: 2em 0;
      }

      .row {
        @include grid-media($medium-up) {
          &.small-text {
            font-size: $base-font-size * 0.8;
          }

          &.flex-wrapper {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
              flex: 1;
              padding: 0 1em;
            }
          }
        }
      }
    }

    section.product-overview {
      h2 {
        padding: 0 1em;
        text-align: center;
      }

      .row {
        border-top: $base-border;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $normal-row;
        padding: 6em 0;
        text-align: left;

        @include grid-media($medium-up) {
          align-items: center;
        }

        &:first-of-type {
          border-top: 0;
          padding-top: 4em;
        }
      }

      .col {
        padding: 0 1em;

        @include grid-media($medium-up) {
          flex: 1;

          &:first-child {
            margin-right: 2em;
          }

          &:last-child {
            margin-left: 2em;
          }

          &:first-child:last-child {
            max-width: $medium-row;
          }
        }

        img {
          display: block;
          margin: 0 auto 1em;

          @include grid-media($medium-up) {
            margin: 0;
          }
        }

        &-img {
          margin-bottom: 1em;
          order: 1;

          @include grid-media($medium-up) {
            order: initial;
          }
        }

        &-text {
          order: 2;

          @include grid-media($medium-up) {
            order: initial;
          }
        }

        &-center {
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }

    section.product-explanation {
      text-align: center;

      .item {
        margin-bottom: 3em;

        img {
          height: 120px;
          margin: 0 0 1em;

          @include grid-media($medium-up) {
            display: inline-block;
            height: 60px;
            line-height: 60px;
            margin: 0 1em 0 0;
            vertical-align: middle;
          }
        }

        h3 {
          @include grid-media($medium-up) {
            display: inline-block;
            height: 60px;
            line-height: 60px;
            margin: 0;
            vertical-align: middle;
          }
        }
      }
    }
  }

  section.cta-bottom {
    .row {
      max-width: $medium-row;
      text-align: center;
    }

    .form {
      margin: 0 auto;
      max-width: $small-row;
      text-align: left;
    }
  }

  section.testimonials {
    h2 {
      text-align: center;
    }
  }
}
