body.product-page {

  // Scoped to NL for now!
  &.nl {
    div.hero {
      h1 {
        font-size: $base-font-size * 1.6;
        text-align: center;

        @include grid-media($medium-up) {
          font-size: $base-font-size * 3;
        }
      }

      .row {
        padding: 0 1em;

        @include grid-media($medium-up) {
          padding: 1em;
        }
      }

      .product-logo {
        margin-bottom: 2em;
      }
    }

    section.single-col {
      .row {
        max-width: $medium-row;
      }
    }

    section.product-introduction {
      padding: 1em 0;

      @include grid-media($medium-up) {
        font-size: $base-font-size * 1.3;
        padding: 2em 0;
      }
    }

    section.product-overview {
      .row {
        border-top: $base-border;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $normal-row;
        padding: 6em 0;
        text-align: left;

        @include grid-media($medium-up) {
          align-items: center;
        }

        &:first-child {
          border-top: 0;
          padding-top: 4em;
        }
      }

      .col {
        padding: 0 1em;

        @include grid-media($medium-up) {
          flex: 1;

          &:first-child {
            margin-right: 2em;
          }

          &:last-child {
            margin-left: 2em;
          }

          &:first-child:last-child {
            max-width: $medium-row;
          }
        }

        img {
          display: block;
          margin: 0 auto 1em;

          @include grid-media($medium-up) {
            margin: 0;
          }
        }

        &-img {
          margin-bottom: 1em;
          order: 1;

          @include grid-media($medium-up) {
            order: initial;
          }
        }

        &-text {
          order: 2;

          @include grid-media($medium-up) {
            order: initial;
          }
        }

        &-center {
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }

    .form {
      display: block;
      margin: 0 auto;
      max-width: 800px;
      padding: 0 1em;
      position: relative;
      text-align: left;
    }
  }

  section.testimonials {
    h2 {
      text-align: center;
    }
  }
}
