.producten_index,
.diensten_index,
.themas_index {
  h1 {
    margin-bottom: 1.5em;
  }
}

.solutions-list {
  > li {
    background-color: $white;
    margin-bottom: 2em;

    @include media($medium-up) {
      @include fill-parent();
      @include row(table);
      min-height: 300px;
    }
  }

  .col {
    @include pad();
    vertical-align: middle;

    p {
      font-size: 1em;

      @include media($medium-up) {
        font-size: 1.3em;
      }

      &:last-child {
        margin: 0;
      }

      a {
        color: inherit;
        font-weight: $font-weight-bold;
      }
    }
  }

  .left {
    background-position: center;
    color: $white;
    display: table;
    height: 200px;
    text-align: center;
    width: 100%;

    @include media($medium-up) {
      @include span-columns(5);
      height: auto;
    }

    h2 {
      display: table-cell;
      font-family: 'Montserrat', $base-font-family;
      font-size: $base-font-size * 1.4;
      font-weight: $font-weight-bold;
      line-height: 1.5;
      margin: 0;
      vertical-align: middle;

      @include media($medium-up) {
        display: inline-block;
        font-size: $base-font-size * 2;
      }
    }

    img {
      max-width: 100%;
      vertical-align: text-top;
    }
  }

  .right {
    text-align: left;

    @include media($medium-up) {
      @include span-columns(7);
      @include reset-display;
    }
  }
}

.capp {
  .left {
    background: radial-gradient(circle at 50%,
    $blue 33%,
    rgba($blue, 0.5) 33%,
    rgba($blue, 0.5) 66%,
    $blue-alt 66%,
    $blue-alt);
  }
}

.capp-lms {
  .left {
    background: $pink;

    img {
      width: 210px;
    }
  }
}

.kwaliteitspaspoort {
  $color: lighten($turquoise, 5);

  .left {
    background: radial-gradient(circle at 50%,
    lighten($color, 10) 33%,
    rgba($color, 0.3) 33%,
    rgba($color, 0.3) 66%,
    lighten($color, 5) 66%,
    lighten($color, 10));

    h2 {
      img {
        width: 250px;

        body.de & {
          width: 350px;
        }
      }
    }
  }
}

.kwaliteitsmonitor {
  .left {
    background: $blue;

    h2 {
      img {
        width: 230px;
      }
    }
  }
}

.capp-agile-learning {
  .left {
    background-color: $green;
    background-image: url("../images/moods/capp-agile-learning.jpg");
    background-position: center;
    background-size: 250%;

    h2 {
      img {
        width: 300px;
      }
    }
  }
}

.threesixty {
  $color: $orange;

  .left {
    background: radial-gradient(circle at 50%,
    rgba($color, 0.15) 120px,
    rgba($color, 0.3) 240px,
    $white);

    img {
      width: 150px;
    }
  }
}

.elearning {
  .left {
    background: radial-gradient(circle at 50%,
    $blue 33%,
    rgba($blue, 0.5) 33%,
    rgba($blue, 0.5) 66%,
    $blue-alt 66%,
    $blue-alt);
  }
}

.implementaties {
  $color: $orange;

  .left {
    background: radial-gradient(circle at 50%,
    lighten($color, 10) 33%,
    rgba($color, 0.3) 33%,
    rgba($color, 0.3) 66%,
    lighten($color, 5) 66%,
    lighten($color, 10));
  }
}

.hosting {
  $color: lighten($red, 10);

  .left {
    background: radial-gradient(circle at 50%,
    lighten($color, 10) 33%,
    rgba($color, 0.3) 33%,
    rgba($color, 0.3) 66%,
    lighten($color, 5) 66%,
    lighten($color, 10));
  }
}

.koppelingen {
  $color: lighten($green, 10);

  .left {
    background: radial-gradient(circle at 50%,
    lighten($color, 10) 33%,
    rgba($color, 0.3) 33%,
    rgba($color, 0.3) 66%,
    lighten($color, 5) 66%,
    lighten($color, 10));
  }
}

.x70-20-10 {
  .left {
    background-color: $green;
    background-image: url("../images/moods/70-20-10.jpg");
    background-position: center;
    background-size: 250%;
  }
}

.convenant-mt {
  .left {
    background-color: $blue-gray;
    background-image: url("../images/moods/medische-technologie.jpg");
    background-position: center;
    background-size: 250%;
  }
}

.digital-hospital {
  .left {
    background-color: $red;
    background-image: url("../images/moods/digital-hospital.jpg");
    background-position: center;
    background-size: 250%;
  }
}

.elearning-in-healthcare {
  .left {
    background-color: $blue;
    background-image: url("../images/moods/healthcare.jpg");
    background-position: center;
    background-size: 250%;
  }
}

.healthcare {
  .left {
    background-image: url("../images/moods/capp-12.jpg");

    h2 {
      color: $capp-color;
    }
  }
}

.performance-support {
  .left {
    background-image: url("../images/moods/capp-12.jpg");

    h2 {
      color: $capp-color;
    }
  }
}
