body.demo-aanvragen {
  .hero {
    $hero-image: "../images/moods/capp-12.jpg";

    background: url($hero-image);
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
      @include hero-header-overlay;
      background-color: rgba($dark-gray, 0.1);
    }

    .row {
      padding-bottom: 5em;
      padding-top: 5em;
    }

    h1 {
      font-size: $base-font-size * 1.8;
      margin-bottom: 2em;
      text-align: center;

      @include media($medium-up) {
        font-size: $base-font-size * 2.2;
      }
    }

    h2 {
      color: $base-font-color;
      font-weight: 700;
      text-align: center;
    }

    .hero-inner {
      position: relative;
      z-index: 2;
    }

    .card {
      background: $white;
      box-shadow: 0 1px 2rem rgba($black, 0.1);
      margin: 0 auto;
      max-width: 740px;
      padding: 1.5em;
      position: relative;
      text-align: center;

      @include media($medium-up) {
        padding: 3em;
      }

      input {
        border-color: $base-border-color;
      }

      button,
      .button {
        margin: 0 0 1.5em;

        @include media($medium-up) {
          display: inline-block;
          margin: 0;
        }
      }

      &::before,
      &::after {
        @include card-shadow;
      }

      #{$all-text-inputs} {
        &:focus {
          border-color: $pink;
          box-shadow: 0 0 5px $pink;
        }
      }

      p {
        color: $base-font-color;
      }

      button {
        width: 100%;
      }
    }
  }

  section.content {
    .row {
      @include media($large-up) {
        display: flex;
      }
    }

    .col {
      &.text {
        @include media($large-up) {
          flex: 3;
          padding-right: 2em;
        }
      }

      &.img {
        @include media($large-up) {
          flex: 2;
        }
      }
    }

    p {
      font-size: $base-font-size * 1.2;
    }

    ul {
      font-size: $base-font-size * 1.2;
      list-style: disc;
      padding-left: 2em;
    }
  }
}
