body.support {
  .hero {
    background-color: $orange;
    background-image: url("../images/moods/support.jpg");
    background-position: center;

    .hero-inner {
      padding: calc(4em + #{$header-height}) 1em 4em;

      h1 {
        font-size: 3em;
      }

      p {
        font-size: 1.4em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  section.support-team {
    background: $light-gray-two;

    h2 {
      text-align: center;
    }

    .row {
      max-width: 800px;
    }
  }

  .support-team-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .support-team-item {
      padding: 0 1em;
      text-align: center;
      width: 100%;

      @include media($medium-up) {
        width: 50%;
      }

      @include media($large-up) {
        width: 20%;
      }

      img {
        @include avatar-size(100px);
        margin-bottom: 0.2em;
      }

      h5 {
        font-weight: $font-weight-bold;

        span {
          display: block;
        }
      }
    }
  }
}
