body.upgrade {
  .hero {
    $hero-image: "../images/moods/capp-12.jpg";

    background-attachment: scroll;
    background-color: $orange;
    background-image: url($hero-image);
    background-position: center;

    h1 {
      color: $dark-gray;
    }
  }

  .content {
    .row {
      max-width: 1260px;

      @include grid-media($medium-up) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .col-img {
        align-items: right;
      }

      .col {
        max-width: 1500px;

        @include grid-media($medium-up) {
          padding: 0;
        }

        @include grid-media($xlarge-up) {
          flex: 1;
        }
      }
    }
  }
}
