<section class="capp-introduction" id="introduction">
  <div class="row">
    <div class="col">
      <h3>
        Gutes Talentmanagement bedeutet zu wissen, was die Mitarbeiter*innen alles können, sie entsprechend zu fördern und gezielt einzusetzen.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Personalentwicklungsmaßnahmen lassen sich mit dem CAPP Learning Management System (LMS) effizient und effektiv gestalten. E-Learning eröffnet ganz neue Möglichkeiten: Ihre Mitarbeiter*innen bilden sich eigenverantwortlich weiter – wann immer es zeitlich passt am PC, auf dem Laptop oder mit dem Smartphone. Mit diesen individuellen wie auch flexiblen Fort- und Weiterbildungsmöglichkeiten fördern Sie Ihr Personal und schaffen flexible Einsetzbarkeit. Begegnen Sie dem Fachkräftemangel!
      </p>
    </div>
  </div>
</section>
