<section class="more-about">
  <div class="row">
    <div>
      <h2>
        <%= t("capp-new.more-about.title") %>:
      </h2>

      <ul>
        <li>
          <%= link_to "Learning Management", "/capp-lms.html" %>
        </li>
        <li>
          <%= link_to "Compliance & Qualifikationsmanagement", "/kwaliteitspaspoort.html" %>
        </li>
        <li>
          <%= link_to "Agile Learning", "/capp-agile-learning.html" %>
        </li>
      </ul>
    </div>
  </div>
</section>
