<section class="capp-overview" id="features">

  <div class="row">
    <h2>Warum Talentmanagement von CAPP?</h2>
  </div>

  <div class="row">
    <div class="col col-text">
      <h3>
        Individuelle Personalentwicklung mit E-Portfolios
      </h3>
      <p>
        Personalentwicklung sollte so individuell sein wie Ihre Mitarbeiter*innen. Für ein wirkungsvolles Talentmanagement werden im CAPP LMS individuelle E-Portfolios zur Förderung der unterschiedlichen Fähigkeiten angelegt.
      </p>
      <p>
        Die digitale Personalakte gibt eine Übersicht zu:
      </p>

      <ul class="bulleted-list">
        <li>Lernzielen und -aktivitäten</li>
        <li>Kompetenzen</li>
        <li>Qualifikationen</li>
        <li>Selbstbeurteilungen</li>
        <li>Peer-Review etc.</li>
      </ul>
      <p>
        Alles ist einsehbar vom Mitarbeiter wie auch von Vorgesetzten. Ihre Personalentwicklungsmaßnahmen werden zielgenau!
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/talent-1-leistungen_de.png", title: "Leistungen", alt: "Leistungen" %>
    </div>
  </div>

  <div class="row">
    <div class="col col-img">
      <%= image_tag "screenshots/capp-lms/talent-2-skills_de.png", title: "Skills", alt: "Skills" %>
    </div>

    <div class="col col-text">

      <h3>
        Talentmanagement über den Standard hinaus
      </h3>

      <p>
        Gezieltes Talentmanagement geht über Pflichtschulungen für Compliance und Audits hinaus. Im CAPP Learning Management System sehen Ihre Mitarbeiter*innen welche Möglichkeiten zur persönlichen Weiterentwicklungen sie nutzen können: Eine Übersicht von Qualifikations- und Funktionsprofilen bzw. Stellenbeschreibungen im Haus zeigen den Mitarbeiter*innen Entwicklungschancen auf.
      </p>

      <p>
        Im LMS lassen sich die entsprechenden Weiterbildungsmaßnahmen als Lernziele in das eigene E-Portfolio laden. Vorgesetzte entdecken in diesem Portfolio möglicherweise bisher verborgene Talente und können ihr Personal entsprechend einsetzen und fördern. Das ist Talentmanagement mit Gewinnern auf beiden Seiten!
      </p>

    </div>
  </div>

</section>
