<section class="capp-page-nav">
  <ul>
    <li>
      <a href="#introduction" data-scroll-to><%= t("capp-talent-management.page-nav.introduction") %></a>
    </li>
    <li>
      <a href="#features" data-scroll-to><%= t("capp-talent-management.page-nav.features") %></a>
    </li>
  </ul>
</section>
