.author-name {
  font-weight: $font-weight-bold;
}

.blog-list {
  padding-bottom: 4em;

  li:first-child article {
    padding-top: 0;
  }

  li {
    border-bottom: $post-border 1px solid;
    padding: 4em 0;
  }
}

div.featured-blog {
  padding: 3em 1em;
  text-align: center;

  .blog-article-preview {
    margin-bottom: 3em;
  }
}

body.blog_tags_index {
  ol {
    border-bottom: $post-border 1px solid;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}
