.blog-article-preview {
  text-align: left;

  @include grid-media($large-up) {
    display: flex;
  }

  a {
    color: $blog-link-color;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:hover {
      color: darken($blog-link-color, 15%);
    }

    &.read-more {
      font-weight: $font-weight-bold;
    }
  }

  h2 {
    font-size: $base-font-size * 1.2;
    font-weight: $font-weight-bold;

    @include grid-media($medium-up) {
      font-size: $base-font-size * 1.6;
    }

    a {
      color: $dark-gray;

      &:active,
      &:hover {
        color: $blog-link-color;
      }
    }
  }

  .col {
    &.left {
      margin-bottom: 1em;

      @include grid-media($large-up) {
        margin-bottom: 0;
        margin-right: 3em;
        max-width: 310px;
      }

      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &.right {
      @include grid-media($large-up) {
        align-items: center;
        flex: 1;
      }

      article {
        max-width: none;
        width: 100%;
      }

      p {
        font-size: $base-font-size;
        margin: 1.25em 0;

        @include grid-media($medium-up) {
          font-size: $base-font-size * 1.2;
        }
      }
    }
  }
}
