section.other-posts {
  background-color: $lightest-gray;
  background-image: linear-gradient(darken($lightest-gray, 2), $lightest-gray 120px);

  a {
    color: $blog-link-color;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
      color: darken($blog-link-color, 15%);
    }
  }
}
