.post-header {
  background: $orange-alt url("../images/moods/defacto.jpg") no-repeat top fixed;
  color: $white;
  padding-bottom: 6em;
  padding-top: em($header-height) + 6em;
  position: relative;
  text-align: center;
  width: 100%;

  @include media($medium-up) {
    background-size: cover;
  }

  &::before {
    @include hero-header-overlay;
  }

  h1 {
    font-size: $base-font-size * 1.5;
    font-weight: $font-weight-bold;
    margin: 0 auto;
    max-width: $post-max-width;

    @include media($medium-up) {
      font-size: $base-font-size * 2.4;
    }

    body.blog-article & {
      margin: 0 auto 0.8em;
    }
  }

  .blog-meta {
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $light-gray;
      }
    }
  }

  h2 {
    font-size: $base-font-size * 2;
  }

  .case-logo {
    display: block;
    margin: 0 auto 2em;
    max-height: 200px;
    max-width: 200px;
  }
}
