article.post {
  margin: 0;
  max-width: none;
  width: 100%;
}

.post-body {
  padding-bottom: 2em;
  padding-top: 2em;

  body:not(.cases) & a:not(.button) {
    color: $blog-link-color;
    font-weight: $font-weight-bold;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
      color: darken($blog-link-color, 15%);
    }
  }

  .col {
    margin: 0 auto;
    max-width: $post-max-width;

    &.sidebar-content {
      @include grid-media($large-up) {
        @include grid-column(8);
      }
    }
  }

  .avatar {
    @include avatar-size(160px);
    padding: 0;
  }

  h2 {
    font-size: $base-font-size * 1.6;

    @include grid-media($medium-up) {
      font-size: $base-font-size * 1.8;
    }
  }

  h3 {
    font-size: $base-font-size * 1.4;

    @include grid-media($medium-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  img {
    display: block;
    left: 50%;
    padding: 0.6em 0;
    position: relative;
    transform: translateX(-50%);
  }
}

.post-list {
  h2 {
    font-size: $base-font-size * 1.2;
    font-weight: $font-weight-bold;
    text-align: left;

    @include grid-media($medium-up) {
      font-size: $base-font-size * 1.6;
    }
  }

  h3 {
    font-size: $base-font-size * 2;
  }

  li:first-child article {
    padding-top: 0;
  }

  li {
    border-bottom: $post-border 1px solid;
    padding: 3em 0;
  }

  article {
    max-width: none;
    width: 100%;
  }
}

.blog-article {
  section.cta-bottom {
    .row {
      max-width: $medium-row;
      text-align: center;
    }

    .form {
      margin: 0 auto;
      max-width: $small-row;
      text-align: left;
    }
  }
}
