<section class="product-introduction single-col" id="introduction">
  <div class="row">

    <p>
      <strong>CAPP Quizzes</strong> is een gebruiksvriendelijke webapplicatie voor elke organisatie die gemakkelijk toetsen wil maken én aanbieden. Quizzes integreert naadloos met <%= link_to "CAPP LMS", "/capp-lms.html" %> middels LTI en Single Sign-On, maar is ook eenvoudig te gebruiken als losse LTI-provider in combinatie met een ander <%= link_to "LMS", "/wat-is-een-lms" %>.
    </p>

  </div>
</section>
