<section class="product-overview" id="features">

  <div class="row">

    <div class="col col-text">

      <h2>
        Gemakkelijk toetsen maken en aanbieden
      </h2>

      <p>
        CAPP Quizzes is een nieuwe applicatie van Defacto voor het maken en aanbieden van toetsen. Combineer toetsing en feedback in een gebruiksvriendelijke webapplicatie en verkrijg inzicht in de prestaties van gebruikers door relevante statistieken.
      </p>

      <h3>
        Kennisniveau toetsen
      </h3>
      <p>
        Waar <%= link_to "CAPP LMS", "/capp-lms.html" %> de basis vormt voor leren en ontwikkelen, biedt Quizzes de mogelijkheid om het kennisniveau te toetsen. Allereerst wordt aantoonbaar gemaakt dat het geleerde beklijft. Daarnaast krijgt de gebruiker inzicht in zijn kennisniveau waardoor leren meer is dan een verplichte oefening en ook leuk kan zijn.
      </p>

      <h3>
        Webapplicatie en LTI-provider ineen
      </h3>

      <p>
        CAPP Quizzes is niet alleen een moderne en veelzijdige webapplicatie voor het maken van toetsen, maar is ook de eerste LTI-provider voor het aanbieden ervan. Kies voor naadloze integratie met CAPP LMS of gebruik Quizzes in een platform dat LTI-modules ondersteunt.
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/quizzes-screenshots.png", title: "Zo werkt Quizzes in de praktijk", alt: "Zo werkt Quizzes in de praktijk" %>
    </div>

  </div>

</section>
