<section class="product-overview" id="features">

  <div class="row">

    <div class="col col-text">
      <h2>
        Zelf toetsen maken
      </h2>

      <p>
        CAPP Quizzes biedt een <strong>gebruiksvriendelijke beheeromgeving</strong> om eenvoudig zelf toetsen aan te maken. De ingebouwde wizard begeleidt u stap voor stap bij het aanmaken van toetsen en het opstellen van vragen. Die kunnen voorzien worden van begeleidende teksten en afbeeldingen. U bepaalt bovendien zelf in welke volgorde vragen aangeboden worden.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-quizzes/capp-quizzes-wizard.png", title: "CAPP Quizzes Toetswizard", alt: "CAPP Quizzes Toetswizard" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-quizzes/capp-quizzes-toets-maken.png", title: "CAPP Quizzes toetsinterface", alt: "CAPP Quizzes toetsinterface" %>
    </div>

    <div class="col col-text">

      <h2>
        Laagdrempelig aanbieden
      </h2>

      <p>
        Na het aanmaken van een toets biedt u de toets aan via een unieke link. Dankzij ondersteuning voor de <strong>LTI-standaard</strong> starten gebruikers de toets eenvoudig vanuit elk LMS, waaronder <%= link_to "CAPP LMS", "/capp-lms.html" %>. De resultaten worden vervolgens veilig en betrouwbaar teruggekoppeld.
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Relevante statistieken per toets
      </h2>

      <p>
        De beheeromgeving van CAPP Quizzes biedt <strong>per toets inzicht in de prestaties van gebruikers</strong> met allerlei relevante statistieken, zoals aantal pogingen, gemiddeld cijfer en de verstreken tijd.
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-quizzes/capp-quizzes-statistieken.png", title: "CAPP Quizzes statistieken", alt: "CAPP Quizzes statistieken" %>
    </div>

  </div>

</section>
