<section>
  <article>

    <div class="row">

      <p>
        For every organisation the quality of its employees is an important fact, but it can be hard to measure. With Defacto’s <em>CAPP Quality Portfolio&trade;</em> you can measure, safeguard and control the quality within your organisation in a simple, recognizable and tangible manner. Drafting and implementing the Quality Portfolio is a simple process.
      </p>

      <p>
        CAPP Quality Portfolio provides employees with a personal tool to manage their own qualifications.
      </p>

      <p>
        The Quality Portfolio provides the company’s management, team leaders and HR-professionals with up-to-date and real-time insight into their employee qualifications. Certification, accreditation (NIAZ, AFM, etc.) and other external accountabilities can thus be delivered directly.
      </p>

      <p>
        <figure>
          <%= image_tag "screenshots/capp-quality-portfolio-manager.png", title: "CAPP Quality Portfolio for managers", alt: "CAPP Quality Portfolio for managers" %>
          <figcaption>CAPP Quality Portfolio for managers</figcaption>
        </figure>
      </p>

      <p>
        New requirements and certification criteria can easily be added to the Quality Portfolio. Moreover the Quality Portfolio enables you to oversee which specialist skills are present within your organisation. This makes it easy to create trajectories for retraining and additional training.
      </p>

      <h2>CAPP Quality Portfolio, in short</h2>

      <ul>
        <li>
          Your organisation creates different profiles wherein the job-requirements and organisation-requirements or the occupational profiles within the sector are described
        </li>
        <li>
          These profiles form the basis of the Quality Portfolio of an employee, containing all internal and external requirements they need to meet
        </li>
        <li>
          The individual portfolio serves as a monitor for the employee and assists the employee in maintaining his or her competencies and skills
        </li>
        <li>
          A manager can discover problems, on an individual level and on the team level, in a timely manner. This helps to translate these problems into development plans
        </li>
        <li>
          HR has access to up-to-date and accurate information with regards to the present competencies and skills on every level of the organisation
        </li>
        <li>
          The board of directors can prove their managerial responsibility towards supervisors and accreditation bodies
        </li>
        <li>
           The Quality Portfolio also issues authorisations for the use of specialist equipment, the entry levels within the IT-systems or for an integration with external quality registers
        </li>
      </ul>
    </div>

  </article>
</section>
