<section>
  <div class="row">
    <article>


      <p>
        <strong>Das Gesundheitswesen ist dynamisch und komplex – die Anforderungen an die Mitarbeiter steigen kontinuierlich. Dadurch werden deren Kompetenzen immer relevanter und das Talentmanagement ein zentrales Thema, um die Qualität im Krankenhaus zu sichern. Um einen Entwicklungsplan für alle Mitarbeiter auf den Weg zu bringen, müssen Sie deren Qualifikationen und Entwicklungsstände jedoch so genau wie möglich kennen. Wissen Sie immer, welche ärztlichen Tätigkeiten an wen übertragen wurden oder wer über welchen Gerätepass verfügt? Eine Antwort auf diese und andere Compliance-Fragen liefert der Qualitätspass von Defacto!</strong>
      </p>

      <h2>Übersicht aller Qualifikationen</h2>

      <p>
        Mit dem Qualitätspass erhalten Sie eine Übersicht über die Kompetenzen in Ihrem Haus und Einblick in die Qualifikationen Ihrer Mitarbeiter. Sie legen damit individuelle oder organisationsweite Berufs- und Anforderungsprofile fest und behalten den Überblick über die Qualität des Personals. So können Sie rechtzeitig mögliche Probleme feststellen und den individuellen Entwicklungsplan für jeden Mitarbeiter entsprechend anpassen.
      </p>

      <p>
        Auch die Planung Ihres Fortbildungsbudgets lässt sich dadurch noch effektiver auf Ihre Ziele und Prioritäten zuschneiden. Die übersichtliche Darstellung fördert ein zielgerichtetes Vorgehen und sorgt dafür, dass Sie Ihr Budget für besonders relevante Themen ausschöpfen. Der Qualitätspass bietet Ihnen somit eine …
      </p>

      <ul>
        <li>Einsicht in Qualifikationen und Entwicklungsstände</li>
        <li>Übersicht über Pflichtschulungen, Gerätepässe und ärztliche Tätigkeiten</li>
        <li>Grundlage für die Organisation des Beauftragtenwesens</li>
      </ul>

      <h2>Eckdaten für ein ausgewogenes Talentmanagement</h2>

      <p>
        Auch Ihre Mitarbeiter selbst erkennen dank des Qualitätspasses, was sie tun müssen, um sich weiter zu entwickeln. Zeigen Sie ihnen, welche Anforderungen sie für Ihre tägliche Arbeit brauchen, zum Beispiel die jährliche Brandschutz-Unterweisung oder Hygieneschulung. Geben Sie Ihnen einen Überblick über die Qualifikationen, die Sie für eine bestimmte Entwicklung erfüllen müssen. Legen Sie organisationsweite Anforderungsprofile an oder spezifizieren Sie diese auf das Niveau der einzelnen Abteilungen oder Stationen. All dies ist möglich mit dem Qualitätspass!
      </p>

      <p>
        Durch ihn erhalten sowohl Sie als auch Ihre Mitarbeiter eine Übersicht über deren Kompetenzen und persönliche Entwicklung. Daraus ergeben sich die wichtigsten Eckdaten für das individuelle Talentmanagement.
      </p>

      <h2>Zertifizierung: Hohe Ansprüche einfach erfüllen</h2>

      <p>
        Neben dem individuellen Talentmanagement unterstützt der Qualitätspass auch nachhaltig die gemeinschaftliche Qualitätssicherung und Compliance Anforderungen an Ihr Haus. Steigende Anforderungen und rechtliche Neuerungen im Gesundheitswesen machen es immer schwieriger, die Leistungen und Qualitäten eines Krankenhauses gezielt anzuzeigen. Dabei sind Zertifizierungen wie das KTQ und ISO 9001 heutzutage Voraussetzungen, um im Wettbewerb bestehen zu können.
      </p>

      <p>
        Mit dem Qualitätspass vereinfachen Sie diese Prozesse erheblich und sparen dabei auch noch Zeit. Nicht nur, dass alle Kompetenzen und Qualifikationen strukturiert dargestellt werden – Sie erhalten zudem alle für das umfassende Berichtwesen benötigten Informationen in Sekundenschnelle. Dank der so geschaffenen Transparenz werden sämtliche Audits zum Kinderspiel!
      </p>

      <p class="featured"><span class="star">*</span>
        Sorgen Sie in Ihrem Krankenhaus für ein effizientes Qualitäts- und Talentmanagement. Und steigern Sie die Wettbewerbsfähigkeit sowohl der Organisation als auch jedes einzelnen    Mitarbeiters – mithilfe des Defacto-Qualitätspasses!
      </p>

    </article>
  </div>
</section>
