<section class="capp-introduction" id="introduction">
  <div class="row">
    <div class="col">
      <h3>
        CAPP LMS biedt een op de individuele medewerker afgestemd persoonlijk leeraanbod gerelateerd aan functie, rol of afdeling. Zo wordt de compliance en vakbevoegdheid van de medewerkers en de organisatie geborgd. Daarnaast biedt CAPP LMS ondersteuning in het doorgroeien, ontwikkelen of omscholen van medewerkers. Dit leidt tot kwalitatief goed, duurzaam inzetbaar personeel, dat gemotiveerd is de organisatiedoelstellingen te helpen realiseren.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Organisaties hebben voortdurend te maken met veranderingen: maatschappelijke en technologische ontwikkelingen, nieuwe inzichten binnen vakgebieden en nieuwe wet- en regelgeving. Deze veranderingen volgen elkaar steeds sneller op en hebben grote consequenties voor zowel medewerkers en als organisatie. Van medewerkers wordt verwacht dat ze permanent (bij-)leren en bekwaam blijven; steeds voldoen aan nieuwe eisen en standaarden. Dit is een continu proces.
      </p>
      <p>
        Juist dit proces ondersteunt CAPP LMS, Learning & Talent Management Software, op een moderne, eenvoudige en persoonlijke manier wijze, zodat de medewerkers gecertificeerd zijn en de organisatie compliant is. Op basis van de eisen die de organisatie aan de medewerkers stelt, krijgt iedere medewerker een persoonlijk dashboard, met hierop doorlopend alle relevante (leer)activiteiten. Een transparante, inzichtelijke leeromgeving die iedere medewerker stimuleert en inspireert om door te blijven leren. En zo kan elke medewer-ker zijn of haar verantwoordelijkheid nemen om up-to-date te blijven. Bij- en nascholing is daarmee een geautomatiseerd onderdeel van het primaire werkproces.
      </p>
      <p>
        CAPP LMS zorgt er dus voor dat elke medewerker compliant is: gecertificeerd en vakbevoegd.
        Accreditaties, visitaties en toetsingen kunnen nu moeiteloos worden geregeld.
        Ook zorgt CAPP LMS ervoor dat medewerkers kunnen doorgroeien en daarmee duurzaam inzetbaar zijn; niet onbelangrijk in een periode van een tekort aan vakbevoegd personeel.
      </p>
    </div>

    <div class="col">
      <%= image_tag "screenshots/capp12/dashboard-browser-notifications-big_nl.png", title: "Dashboard", alt: "Dashboard" %>
    </div>
  </div>
</section>
