<section class="capp-page-nav">
  <ul>
    <li>
      <a href="#introduction" data-scroll-to data-event="introduction">Introductie</a>
    </li>
    <li>
      <a href="#features" data-scroll-to data-event="features">Features</a>
    </li>
  </ul>
</section>
