## Get more done with less

By switching from traditional forms of learning to E-learning and developing the learning materials in-house, you can *decrease* your costs. It will save you money you can spend on something else.

## How does it work?

With the E-learning Starterkit you can easily, quickly and affordably develop your own E-learning modules focused on specific know-how, codes of conduct or even on digital tests. The Starterkit includes a total package of hardware, software and consultancy.

Defacto will make it easy for your organisation. We will procure the hardware and software for you and take care of the installation and the licenses.

Additional support and services are possible and we can take care of developing the more complex modules. We also can offer help with determining your E-learning policy. Or we can assist when there is a lack of capacity.

## What do you get?

- A laptop, on which is included:
  - User-friendly Authoring software
  - Inspirational sample Modules
- The book: 'Learn and Let Learn'
- High Definition camera
- A microphone
- Two days of training
- One year of helpdesk-support

## Immediately employable

By the end of the second day of training you will be fully trained and equipped to develop teaching materials independently. At this point, the first modules and final tests are often already waiting to be published.

> The days depending on expensive suppliers for all your E-learning materials are officially over. Nowadays you can easily create your own E-learning content, tailored to your organisation.
> <span>- Hans Veeger, Defacto CEO</span>
