
// ------------------------------------------------------------
// Google Fonts
// ------------------------------------------------------------

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

// ------------------------------------------------------------
// Icons (https://icomoon.io/app)
// ------------------------------------------------------------

@font-face {
  font-family: "icomoon";
  src:  url("../fonts/icomoon.eot?5lfrs8");
  src:  url("../fonts/icomoon.eot?5lfrs8#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?5lfrs8") format("truetype"),
    url("../fonts/icomoon.woff?5lfrs8") format("woff"),
    url("../fonts/icomoon.svg?5lfrs8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-chevron-left::before {
  content: "\f053";
}

.icon-chevron-right::before {
  content: "\f054";
}

.icon-checkmark::before {
  content: "\ea10";
}

.icon-pdf::before {
  content: "\e608";
}

.icon-twitter2::before {
  content: "\e604";
}

.icon-linkedin2::before {
  content: "\e605";
}

.icon-google-plus::before {
  content: "\e606";
}

.icon-facebook::before {
  content: "\e607";
}

.icon-twitter::before {
  content: "\ea91";
}

.icon-github::before {
  content: "\eab1";
}

.icon-linkedin::before {
  content: "\eac9";
}

.icon-youtube::before {
  content: "\f167";
}

.icon-location::before {
  content: "\e600";
}

.icon-phone::before {
  content: "\e601";
}

.icon-mail::before {
  content: "\e602";
}

.icon-paperplane::before {
  content: "\e603";
}

.icon-xing::before {
  content: "\ead3";
}

.icon-search::before {
  content: "\e986";
}

.icon-spinner::before {
  content: "\e984";
}

.icon-tags::before {
  content: "\e936";
}
