
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  height: 100%;

  @include media($menu-desktop) {
    padding-top: $header-height;
  }
}

.page-wrap {
  @include media($large-up) {
    margin-bottom: -524px;
    min-height: 100%;

    &::after {
      content: "";
      display: block;
      height: 524px;
    }
  }
}

section {
  padding: 3em 0;

  @include media($medium-up) {
    padding: 4em 0;
  }

  &.gray {
    background-color: $lightest-gray;
  }
}

.row {
  @include outer-container;
  padding: 0 1em;
  position: relative;
}

article {
  @include media($medium-up) {
    margin: 0 auto;
    max-width: 800px;

    &.sidebar-content {
      @include span-columns(8);
    }
  }

  ul {
    margin: $base-spacing 0 $base-spacing (2 * $base-spacing);
  }

  li {
    list-style-type: disc;

    ul {
      margin: 0 $base-spacing;

      li {
        list-style-type: circle;
      }
    }
  }
}

.headline {
  margin: 0 auto 3em;
  max-width: 790px;
  padding: 0 1em;
  text-align: center;
}

.sub-headline {
  color: $medium-gray;
  font-size: 1.125em;
}

.screenshot {
  border: 10px solid $lightest-gray;
}

.center {
  display: block;
  margin: 0 auto;
}

.gray {
  text-align: center;

  article {
    max-width: 700px;
    text-align: left;

    h2 {
      text-align: center;
    }
  }
}

.text-center {
  text-align: center;
}

figcaption {
  font-style: italic;
  margin: 1em;
  text-align: center;
}

.featured {
  background: $blue-alt;
  color: $white;
  padding: 1em 1em 1em 3em;
  position: relative;
}

.star {
  color: $white;
  font-size: 2em;
  font-weight: bold;
  left: 20px;
  position: absolute;
  top: 5px;
}

.featured-transparant {
  border: 1px solid $blue-alt;
  margin: 0 auto 2em;
  padding: 1em;

  p:last-child {
    margin: 0;
  }
}

// Fluid video wrapper
.fluid-width-video-wrapper {
  margin-bottom: 1em;
}
