// Header
$header-height: 74px;

// Typography
$base-font-family: 'Open Sans', $helvetica;
// $heading-font-family: 'Montserrat', $base-font-family;
$heading-font-family: $base-font-family;
$quote-font-family: "Trebuchet MS", $helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$post-max-width: 768px;

// Colors
$blue: #79c5d6;
$blog-link-color: darken($blue, 10);
$blue-alt: #73bbcb;
$blue-gray: #5e7088;
$orange: #f1b956;
$orange-alt: #fad46b;
$orange-logo: #ebb300;
$green: #5fc474;
$seagreendark: #95c198;
$red: #f47447;
$turquoise: #40b383;
$white: #fff;
$black: #000;
$gray-menu: #444;
$pink: #ec677a;
$capp-color: #393e46;
$capp-dark-blue: #353741;

// Tags
$tag-elixir: #6e4a7e;
$tag-html: #e34c26;
$tag-ruby: #701516;
$tag-javascript: #f1e05a;
$tag-phoenix: #f25825;

// Social icons
$social-share: #bbc7cc;
$twitter: #55acee;
$facebook: #3b5998;
$google-plus: #dd4b39;
$linkedin: #00a0dc;
$xing: #026466;

// Grays (needs clean-up)
$lightest-gray: #fbfbfb;
$lighter-gray: #f2f2f2;
$light-gray-two: #f9f9f9;
$light-gray: #ddd;
$gray: #eaeaea;
$footer-gray: #999;
$testimonial-gray: #888;
$medium-gray: #666;
$dark-gray: #333;

$post-meta: #9eabb3;
$post-border: #ebf2f6;
$post-shadow: #e7eef2;

$placeholder: #aaa;
$avatar: #e6e6e6;
$avatar-color: #c6c6c6;
$no-image: #d6d6d6;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Testimonials
$arrow-size: 25px;
$avatar-size: 50px;
$avatar-size-big: 80px;
