<h3>
  <%= t("capp-compliance.clients.title") %>
</h3>
<div class="logos">
  <div class="client">
    <%= image_tag "clients/colour/logo-sheerenloo.svg", alt: "'s Heeren Loo", title: "'s Heeren Loo", class: "client-logo" %>
  </div>
  <div class="client">
    <%= image_tag "clients/colour/logo-strukton.png", alt: "Strukton", title: "Strukton", class: "client-logo" %>
  </div>
  <div class="client">
    <%= image_tag "clients/colour/logo-delelie.svg", alt: "De Lelie Zorggroep", title: "De Lelie Zorggroep", class: "client-logo" %>
  </div>
</div>
