<div class="row">

  <h2>
    Toepassing in de praktijk
  </h2>

  <ul class="in-practice-list">
    <li>
      <div class="icon">
        <img src="/images/icons/icon-example.svg" class="icon" title="Icon Example" alt="Icon Example">
      </div>
      <div class="title">
        <h3>
          Item 1
        </h3>
      </div>
    </li>
    <li>
      <div class="icon">
        <img src="/images/icons/icon-example.svg" class="icon" title="Icon Example" alt="Icon Example">
      </div>
      <div class="title">
        <h3>
          Item 2
        </h3>
      </div>
    </li>
     <li>
      <div class="icon">
        <img src="/images/icons/icon-example.svg" class="icon" title="Icon Example" alt="Icon Example">
      </div>
      <div class="title">
        <h3>
          Item 3
        </h3>
      </div>
    </li>
  </ul>

</div>

