<div class="row">
  <h2>
    Toepassingen in de praktijk
  </h2>
  <ul class="in-practice-list">
    <li>
      <div class="icon">
        <img src="/images/icons/cmt.svg" class="icon" title="Convenant Medische Technologie" alt="Convenant Medische Technologie">
      </div>
      <div class="title">
        <h3>
          Convenant Medische Technologie
        </h3>
      </div>
    </li>
    <li>
      <div class="icon">
        <img src="/images/icons/niaz.svg" class="icon" title="NIAZ-certificering" alt="NIAZ-certificering">
      </div>
      <div class="title">
        <h3>
          NIAZ-certificering
        </h3>
      </div>
    </li>
     <li>
      <div class="icon">
        <img src="/images/icons/iso-cert.svg" class="icon" title="ISO-certificering" alt="ISO-certificering">
      </div>
      <div class="title">
        <h3>
          ISO-certificering
        </h3>
      </div>
    </li>
    <li>
     <div class="icon">
       <img src="/images/icons/pills.svg" class="icon" title="21 CFR Part 11" alt="21 CFR Part 11">
     </div>
     <div class="title">
       <h3>
         21 CFR Part 11
       </h3>
     </div>
   </li>
   <li>
    <div class="icon">
      <img src="/images/icons/pe-online.svg" class="icon" title="PE Online" alt="PE Online">
    </div>
    <div class="title">
      <h3>
        PE Online
      </h3>
    </div>
  </li>
  </ul>
</div>
