<div class="row">
  <h2>
    Onze aanpak gebaseerd op de inzet van onze software CAPP LMS en de ervaring van tientallen projecten
  </h2>
</div>
<div class="row">
  <div class="col col-text">
    <h3>
      Operationaliseer wet- en regelgeving in concreet meetbare vereisten
    </h3>
    <p>
      Definieer op basis van de wet- en regelgeving binnen uw branche of organisatie de zaken die u van uw medewerkers verwacht. Operationaliseer hoe medewerkers kunnen aantonen aan deze vereisten te voldoen en koppel relevante leerelementen en toetsingsmethodieken rechtstreeks aan deze vereisten.
    </p>
  </div>
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance-management/certificaatbeheer.png", title: "Operationaliseer wet- en regelgeving", alt: "Operationaliseer wet- en regelgeving" %>
  </div>
</div>
<div class="row">
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance-management/kwaliteitspaspoort.png", title: "Koppel vereisten automatisch aan de juiste medewerkers", alt: "CAPP Compliance Kwaliteitspaspoort" %>
  </div>
  <div class="col col-text">
    <h3>
      Koppel vereisten automatisch aan de juiste medewerkers
    </h3>
    <p>
      Koppel vereisten aan medewerkers op basis van hun functie/afdeling of rol binnen uw organisatie. Door een koppeling met uw personeelinformatiesysteem krijgt iedere medewerker altijd een up-to-date Kwaliteitspaspoort met de geldende vereisten. De medewerker kan daarmee zelf aan de slag met het aantonen van zijn of haar compliance.
    </p>
  </div>
</div>
<div class="row">
  <div class="col col-text">
    <h3>
      Monitor op elk niveau binnen uw organisatie
    </h3>
    <p>
      Onze persoonlijke dashboards geven u een realtime inzicht in de status van de door u vereiste onderwerpen per medewerker, afdeling of cluster binnen uw organisatie. De stuurinformatie die u nodig heeft voor (interne) audits, keuren of <em>quality control</em> is zo altijd binnen handbereik.
    </p>
  </div>
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance-management/inzicht-manager.png", title: "Monitor op elk niveau binnen uw organisatie", alt: "Monitor op elk niveau binnen uw organisatie" %>
  </div>
</div>
<div class="row">
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance/capp-compliance-api.svg", title: "Integreer uw data met andere systemen", alt: "Integreer uw data met andere systemen" %>
  </div>
  <div class="col col-text">
    <h3>
      Integreer uw data met andere systemen
    </h3>
    <p>
      Koppel automatisch relevante gegevens van compliance aan andere systemen binnen uw organisatie met onze <a href="/capp-compliance-api" title="CAPP Compliance API">Compliance API</a>. Op deze manier kunt u de compliance data nog waardevoller maken voor uw organisatie.
    </p>
  </div>
</div>
