<div class="row">
  <h2>
    Met onze expertise en software aan de slag
  </h2>
</div>
<div class="row">
  <div class="col">
    <h3>
      Operationaliseer wet- en regelgeving in concreet meetbare vereisten.
    </h3>
    <p>
       Definieer op basis van de wet- en regelgeving binnen uw branche of organisatie de zaken die u van uw medewerkers verwacht. Operationaliseer hoe medewerkers kunnen aantonen aan deze vereisten te voldoen en koppel relevante leerelementen en toetsingsmethodieken rechtstreeks aan deze vereisten.
    </p>
  </div>
</div>
<div class="row">
  <div class="col col-text">
    <h3>
      Item 1
    </h3>
    <p>
      Hier de tekst van item 1.
    </p>
  </div>
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance/capp-compliance-realtime-historisch-inzicht.png", title: "CAPP Compliance Realtime & historische inzicht", alt: "CAPP Compliance Realtime & historisch inzicht" %>
  </div>
</div>
<div class="row">
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance/capp-compliance-kwaliteitspaspoort-new.png", title: "CAPP Compliance Kwaliteitspaspoort", alt: "CAPP Compliance Kwaliteitspaspoort" %>
  </div>
  <div class="col col-text">
    <h3>
      Item 2
    </h3>
    <p>
      Hier de tekst van item 2.
    </p>
  </div>
</div>
<div class="row">
  <div class="col col-text">
    <h3>
      Item 3
    </h3>
    <p>
      Hier de tekst van item 3.
    </p>
  </div>
  <div class="col col-img">
    <%= image_tag "screenshots/capp-compliance/capp-compliance-clausules.svg", title: "CAPP Compliance relevante leerinterventies met clausules", alt: "CAPP Compliance relevante leerinterventies met clausules" %>
  </div>
</div>
