<div class="row">
  <h2>
    Ontdek onze producten
  </h2>

  <div class="our-products">
    <% link_to "/capp-lms.html", class: "product" do %>
      <div class="product-icon">
        <%= image_tag("icons/capp-lms.svg", alt: "CAPP Learning") %>
      </div>
      <div class="product-text item-capp">
        <h3>
          CAPP Learning
        </h3>
        <p>
          Bied uw organisatie één centrale plek voor alle leeractiviteiten.
        </p>
      </div>
    <% end %>

    <% link_to "/capp-compliance.html", class: "product" do %>
      <div class="product-icon">
        <%= image_tag("icons/capp-compliance-new.svg", alt: "CAPP Compliance") %>
      </div>
      <div class="product-text item-compliance">
        <h3>
          CAPP Compliance
        </h3>
        <p>
          Maak compliance eenvoudig, inzichtelijk en meetbaar voor uw organisatie.
        </p>
      </div>
    <% end %>

    <% link_to "/capp-compliance-api.html", class: "product" do %>
      <div class="product-icon item-api">
        <%= image_tag("icons/capp-compliance-api.svg", alt: "CAPP Compliance API") %>
      </div>
      <div class="product-text item-api">
        <h3>
          CAPP Compliance API
        </h3>
        <p>
          Deel actuele compliance data met andere systemen.
        </p>
      </div>
    <% end %>
  </div>
</div>
