<div class="row">
  <h2>
    Stappenplan
  </h2>
  <div class="item">
    <div class="item-number">
      1
    </div>
    <div class="item-text">
      Breng de relevante wet- en regelgeving rondom compliance voor uw branch in kaart.
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      2
    </div>
    <div class="item-text">
      Dit is de tekst voor item 2.
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      3
    </div>
    <div class="item-text">
      En dit is de tekst voor item 3, het derde item in dit stappenplan. Breng de relevante wet- en regelgeving rondom compliance voor uw branch in kaart.
    </div>
  </div>
</div>
