<div class="row">
  <h2>
    Stappenplan
  </h2>
  <div class="item">
    <div class="item-number">
      1
    </div>
    <div class="item-text">
      Breng relevante wet- en regelgeving rondom compliance voor uw branche in kaart
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      2
    </div>
    <div class="item-text">
      Operationaliseer deze wet- en regelgeving in concreet meetbare vereisten voor uw medewerkers
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      3
    </div>
    <div class="item-text">
      Koppel vereisten aan functies, afdelingen en rollen binnen uw organisatie
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      4
    </div>
    <div class="item-text">
      Creëer dashboards en monitor de voortgang
    </div>
  </div>
  <div class="item">
    <div class="item-number">
      5
    </div>
    <div class="item-text">
      Koppel uw data aan relevante systemen
    </div>
  </div>
</div>
