<section class="cta-bottom capp-pink">
  <div class="row">
    <h3>
      <%= t("home.hero_capp.text") %>
    </h3>
    <%= link_to t("actions.home.demo"), "/demo-aanvragen.html", class: "button white-pink" %>
  </div>
</section>
