<section class="cta-bottom gray" id="contact">
  <div class="row">

    <h3><%= t("capp_new.heading_contact") %></h3>

    <%= partial "capp-new-version/form", locals: { inline: true } %>

  </div>
</section>
