<section class="cta-bottom cta-event">
  <div class="row">

    <h3>
      Defacto Gebruikersbijeenkomst
    </h3>
    
    <p>
      5 november 2018 | 12.30 - 16.30 uur
    </p>
    <p>
      Antoni van Leeuwenhoek
    </p>

    <%= nav_link_to t("actions.tell_me_more"), "/evenementenagenda/gebruikersbijeenkomst-november-2018.html", class: "button white outline" %>

  </div>
</section>
