<section class="cta-bottom gray">
  <div class="row">

    <h3>
      <%= t("blog.subscribe") %>
    </h3>

    <%= partial "partials/newsletter-signup", locals: { id: "mc-embedded-blog-subscribe-form",
                                                        variant: "form-inline",
                                                        fields: ["name", "email"],
                                                        button_text: t("actions.subscribe")} %>

  </div>
</section>
