<div class="hero">
  <div class="hero-inner">

    <div class="row">
      <div class="hero-header">
        <h1><%= t("capp.hero.title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="hero-copy col">
        <h2><%= t("capp.hero.subtitle_1") %></h2>
        <h3><%= t("capp.hero.subtitle_2") %></h3>
      </div>
      <div class="hero-image col">
        <%= image_tag t("capp.hero.image"), title: "CAPP LMS", alt: "CAPP LMS" %>
      </div>
    </div>
    
  </div>
</div>
