<section>
  <article>

    <div class="row">

      <p>
        <strong>Die persönliche Entwicklung jedes Einzelnen fördern, um die gesamte Organisation voranzubringen: Das ist, grob gesagt, die Basis einer optimalen Personalentwicklung. Stärken und Schwächen eines Mitarbeiters gilt es in Gesprächen darzulegen und durch Zielvereinbarungen zu optimieren. Bei der Umsetzung hilft Ihnen ein E-Portfolio für jeden Mitarbeiter, welches Ihnen CAPP Entwickeln, die Personalentwicklungs-Software von Defacto, zur Verfügung stellt.</strong>
      </p>

      <p>
        Mit <strong>CAPP Entwickeln</strong> stellen wir Ihnen ein E-Portfolio zur Förderung der individuellen Fähigkeiten Ihrer Mitarbeiter zur Verfügung. Die Anwendung unterstützt Sie umfassend dabei, wichtige Prozesse der Mitarbeiterentwicklung, wie Jahresgespräche und Zielvereinbarungen, optimal zu planen, durchzuführen und zu dokumentieren. Als Führungskraft können Sie beispielsweise mit dem jeweiligen Mitarbeiter …
      </p>

      <ul>
        <li>Leistungsziele</li>
        <li>Lernziele</li>
        <li>sowie Verhaltensziele</li>
      </ul>

      <p>
        definieren und in Form von Aufgaben in <strong>CAPP Entwickeln</strong> festlegen. Zudem kann jedes dieser Ziele mit einem individuellen Zeitrahmen umrissen werden.
      </p>

      <h2>Optimale Personalentwicklung dank Defacto-Software</h2>

    </div>

    <div class="row">

      <div class="col">
        <p>
          Von Jahres- und Mitarbeitergesprächen bis hin zu Projektbesprechungen und Coaching-Sitzungen: Alle Gesprächen für die Personal-entwicklung sind dank unserer Software schnell und einfach zu organisieren.
        </p>

        <p>
          Für jedes einzelne von ihnen können Sie Themen bestimmen und Dokumente zur Verfügung stellen. Bei Mitarbeiter- oder Jahresgesprächen erhalten Sie zudem eine Übersicht mit dem Status des jeweiligen Mitarbeiters.
        </p>

        <p>
          Das gibt Ihnen die Möglichkeit, Folgegespräche effizienter einzuplanen. Gemeinsam erstellen Sie ein digitales Gesprächsprotokoll, das von den Beteiligten jederzeit eingesehen und bearbeitet werden kann. Als Führungskraft können Sie außerdem Ihre Genehmigungs-workflows integrieren und behalten so den Überblick.
        </p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/mitarbeitergesprache.png", title: "Mitarbeitergespräche", alt: "Mitarbeitergespräche", class: "center screenshot" %>
            <figcaption>Einplanung eines Jahresgespräches</figcaption>
          </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <h2>Kompetenz bewerten und zur Qualitätssicherung nutzen</h2>

    </div>

    <div class="row">

      <div class="col">
        <p>
          Jeder Mitarbeiter zeichnet sich durch Kompetenzen aus: <strong>CAPP Entwickeln</strong> ermöglicht die digitale Umsetzung eines Kompetenzkatalogs, egal, ob es sich um ein hauseigenes oder international geprägtes Modell handelt. Dabei können Sie Kompetenzen sowohl organisationsweit als auch auf Abteilungsebene festlegen.
        </p>

        <p>
          Sie können Hard Skills wie etwa die Patientenversorgung eindeutig von Soft Skills wie Stressprävention oder Motivation unterscheiden, um Ihre Mitarbeiter möglichst zur besten Zeit am richtigen Ort einzusetzen – so sichern Sie durch eine Personalentwicklung, die auf unserer Software basiert, ganz allgemein die Qualität in Ihrem Krankenhaus. Und eine grafische Darstellung im persönlichen E-Portfolio führt jedem Mitarbeiter vor Augen, wie er seine individuellen Kompetenzen weiterentwickeln kann.
        </p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "screenshots/eportfolio-2.png", title: "E-Portfolio", alt: "E-Portfolio", class: "center screenshot" %>
            <figcaption>E-Portfolio</figcaption>
          </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p class="featured">
        <span class="star">*</span>Ein E-Portfolio für die Personalentwicklung trägt dazu bei, jeden Mitarbeiter seinen Stärken gemäß am optimalen Platz einsetzen. Dabei unterstützt Sie "CAPP Entwickeln" mit einer Vielzahl hilfreicher Funktionen!
      </p>

    </div>

  </article>
</section>
