@mixin avatar-size($size) {
  @include size($size);
  font-size: $size * 0.4;
  line-height: $size;
}

@mixin hero-header-overlay() {
  background-color: rgba($dark-gray, 0.65);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

@mixin card-shadow() {
  border-radius: 100px / 10px;
  bottom: 0;
  box-shadow: 0 0 20px rgba($black, 0.25);
  content: "";
  left: 25px;
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: -1;
}

@mixin radial-gradient($color) {
  background: radial-gradient(circle at 50%, lighten($color, 10) 33%, rgba($color, 0.3) 33%, rgba($color, 0.3) 66%, lighten($color, 5) 66%), lighten($color, 10);
}
