<%
author = blog_author(article)
author_name = author ? blog_author_name(author) : article.data.author
%>

<div class="post-meta">
  <span class="author-name"><%= author_name %></span>
  <time datetime="<%= article.date.strftime("%F") %>">
    <%= I18n.l(article.date, format: :blog_date) %>
  </time>
  <span class="post-tags">
    <% article.tags.each_with_index do |tag, index| %>
      <%= link_to capitalize(tag), tag_path(tag, "blog"), class: "tag" %>
      <% unless index == article.tags.size - 1 %>
        <span class="separator">&bull;</span>
      <% end %>
    <% end %>
  </span>
</div>
