<% if paginate && num_pages > 1 %>
  <div class="text-center">
    <ul class="pagination">
      <% if prev_page %>
        <li><%= link_to t("blog.prev"), prev_page, class: "page-step prev" %></li>
      <% end %>

      <% for page in 1..num_pages %>
        <% if page == page_number %>
          <li class="current"><%= page %></li>
        <% else %>
          <%
          page_url = "/blog/"
          page_url << "tags/#{tagname.downcase}/" if defined?(tagname)
          page_url << "#{page}/" unless page == 1
          %>
          <li><%= link_to page, page_url %></li>
        <% end %>
      <% end %>

      <% if next_page %>
        <li><%= link_to t("blog.next"), next_page, class: "page-step next" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
