---
title: Blog
blog: blog
description:
  nl: Blogs over leren en ontwikkelen
  de: Blogs über Bilden und Entwickeln
  en: Blogs about learning and developing
pageable: true
index: false
---

<section class="row">

  <ol class="blog-list">
    <% page_articles.each do |article| %>
      <li>
        <%= partial "blog/blog-article-preview", locals: { article: article } %>
      </li>
    <% end %>
  </ol>

  <%= partial "blog/pagination", locals: current_page.metadata[:locals] %>

</section>
