---
blog: blog
pageable: true
index: false
---

<% content_for :page_title, t("blog.page_title", page_number: page_number, num_pages: num_pages) %>
<% content_for :meta_description, t("blog.meta_description", page_number: page_number, num_pages: num_pages) %>


<section class="row">

  <ol class="blog-list">
    <% page_articles.each do |article| %>
      <li>
        <%= partial "blog/blog-article-preview", locals: { article: article } %>
      </li>
    <% end %>
  </ol>

  <%= partial "blog/pagination", locals: current_page.metadata[:locals] %>

</section>
