---
description:
  nl: Ons blog staat vol met trends en verhalen over onze producten.
  de: Unser Blog ist voll von Trends und Geschichten über unsere Produkte.
blog: blog
pageable: true
---

<% content_for :page_title, "Tag: #{tagname} - Blog - Defacto" %>

<section class="row">

    <h2>Tag: <%= tagname %></h2>

    <ol class="blog-list">
      <% page_articles.each do |article| %>
        <li>
          <%= partial "blog/blog-article-preview", locals: { article: article } %>
        </li>
      <% end %>
    </ol>

    <%= partial "blog/pagination", locals: current_page.metadata[:locals] %>

</section>
