---
blog: blog
pageable: true
index: false
---

<% tagname = capitalize(tagname) %>
<% content_for :page_title, t("blog.tags.page_title", tagname: tagname, page_number: page_number, num_pages: num_pages) %>
<% content_for :meta_description, t("blog.tags.meta_description", tagname: tagname, page_number: page_number, num_pages: num_pages) %>

<section class="tags">
  <div class="row">

    <h2>Tag: <%= tagname %></h2>

    <ol class="blog-list">
      <% page_articles.each do |article| %>
        <li>
          <%= partial "blog/blog-article-preview", locals: { article: article } %>
        </li>
      <% end %>
    </ol>

    <%= partial "blog/pagination", locals: current_page.metadata[:locals] %>

  </div>
</section>
