<form class="validate form-subscribe" action="//defacto.us3.list-manage.com/subscribe/post?u=824afc560bd364b44c61499ad&amp;id=<%= t("urls.mc_newsletter") %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="form-subscribe-inputs">
    <input type="email" name="EMAIL" placeholder="<%= t("form.email") %>" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_824afc560bd364b44c61499ad_<%= t("urls.mc_newsletter") %>" tabindex="-1" value="">
    </div>
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"><%= t("form.submit") %></button>
  </div>
</form>
