<ul class="social-links">
  <li>
    <a href="https://github.com/DefactoSoftware" target="_blank" title="GitHub" class="icon-github" data-event="footer-github" rel="noopener"></a>
  </li>
  <li>
    <a href="<%= t("urls.twitter") %>" target="_blank" title="Twitter" class="icon-twitter" data-event="footer-twitter" rel="noopener"></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/489640" target="_blank" title="LinkedIn" class="icon-linkedin" data-event="footer-linkedin" rel="noopener"></a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCoyhrJQW4gCoZCuNVkwyrng" target="_blank" title="YouTube" class="icon-youtube" data-event="footer-youtube" rel="noopener"></a>
  </li>
  <li>
    <a href="https://www.xing.com/companies/defactosoftware" target="_blank" title="Xing" class="icon-xing" data-event="footer-xing" rel="noopener"></a>
  </li>
</ul>
