*Datum: 10 februari 2020*
*Versie: 1.3*

Deze webpagina geeft uitleg over onze benadering van privacy op alle Defacto-websites en wat we doen met uw gegevens als websitebezoeker.

## Wat we verzamelen, in het kort

- We verzamelen anonieme statistieken over uw websitebezoek, zoals welke pagina's uw hebt bekeken. Dit doen we met Google Analytics en Leadfeeder.
- Via Intercom verzamelen we een beperkte hoeveelheid gegevens om het te kunnen gebruiken als communicatiemedium.
- We leggen uw contactgegevens vast bij een contactaanvraag via een contact-, download- of sollicitatieformulier. We gebruiken deze gegevens alleen om uw (zeer beperkt) e-mail te sturen voor een goede afhandeling van jouw contact- of downloadaanvraag of sollicitatie.
- Wij delen uw gegevens niet met derden, tenzij deze integraal onderdeel uitmaken van onze eigen dienstverlening.

Als uw meer informatie nodig heeft, lees dan verder.

## Jouw rechten

U hebt het recht om van ons te verkrijgen: informatie over de manier waarop wij uw persoonlijke gegevens verwerken en een kopie van de persoonlijke gegevens die wij over u hebben opgeslagen. U hebt ook het recht om uw persoonlijke gegevens in onze bestanden te corrigeren, bij te werken, af te schermen of te verwijderen, evenals gegevensportabiliteit van uw persoonlijke gegevens aan een derde partij en om misbruik van uw persoonlijke gegevens te melden.

Als u vragen of opmerkingen heeft over hoe wij omgaan met uw persoonlijke gegevens of als u gebruik wilt maken van de hierboven beschreven rechten, neem dan contact met ons op via marketing@defacto.nl. Als u klachten hebt over deze verklaring of over hoe wij omgaan met uw persoonsgegevens, kunt u ook een klacht indienen bij de Nederlandse Autoriteit Persoonsgegevens. Zie <a href="https://autoriteitpersoonsgegevens.nl/" target="_blank" rel="noopener noreferrer">deze pagina</a> voor meer informatie.

## Het meten van het websitebezoek en het vastleggen van gegevens

We gebruiken diensten van derde partijen die ons helpen het bezoek en gebruik van onze websites beter te begrijpen. Daarnaast maken we gebruik van derde partijen die ons helpen om gegevens te verzamelen voor het zo goed mogelijk uitoefenen van onze dagelijkse werkzaamheden.

### Google Analytics

(a) We meten het bezoek aan onze websites met behulp van Google Analytics. Hiermee wordt vastgelegd welke pagina's u op onze websites bekijkt, hoe u op onze websites bent gekomen en verzamelen we een beperkte hoeveelheid basisinformatie over uw computer en browser. Al deze informatie is en blijft anoniem. De informatie die we verzamelen met behulp van Google Analytics helpt ons bijvoorbeeld te begrijpen op welke delen van onze websites het goed gaat en hoe mensen op onze websites belanden. Zoals bij de meeste websites gebruiken we deze informatie puur om onze websites te verbeteren.

(b) [Lees de Privacy Policy van Google Analytics hier](https://policies.google.com/privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="Google Analytics Privacy Policy"}.

### Leadfeeder

(a) In aanvulling op Google Analytics meten we het bezoek aan onze websites met Leadfeeder. Hiermee wordt vastgelegd welke pagina's u bezoekt en hoelang, evenals het IP-adres van de locatie waarop u onze websites bezoekt. Op deze manier kunnen we uitsluitend zien welke bedrijven/organisaties onze websites bezoeken; IP-adressen van privé-adressen worden automatisch gefilterd.

(b) [Lees de Privacy Policy van Leadfeeder hier](https://www.leadfeeder.com/privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="Leadfeeder Privacy Policy"}.

### Intercom

(a) We gebruiken Intercom als communicatiemedium door middel van berichten op onze websites en via e-mail. We verstrekken daarom voor een goede werking bij chatberichten een beperkte hoeveelheid informatie aan Intercom, zoals (wanneer u die opgeeft) uw e-mailadres, om later met u in contact te kunnen treden. De services van Intercom vallen onder de gebruiksvoorwaarden van Intercom. Als u niet wilt dat informatie wordt verzameld door of wordt ingediend bij Intercom, neemt dan contact met ons op.

(b) [Bezoek de Privacy Policy pagina van Intercom](https://www.intercom.com/terms-and-policies#privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="Intercom privacy policy"} voor meer informatie over de privacy policy van Intercom.

### Homerun

(a) We gebruiken Homerun voor het afhandelen van sollicitaties onder andere via deze website. We verstrekken daarom voor een goede werking van het sollicitatieproces een beperkte hoeveelheid informatie aan Homerun. Deze gegevens gebruiken we uitsluitend in verband met interne vacaturevervulling. We bewaren de gegevens waar u toestemming voor hebt gegeven voor een periode van maximaal zes maanden. U kunt deze toestemming op elk moment intrekken.

(b) [Bezoek de Privacy Policy pagina van Homerun](https://www.homerun.co/privacy-statement){:target="_blank"}{:rel="noopener noreferrer"}{:title="Homerun privacy policy"} voor meer informatie over de privacy policy van Homerun.

### FormKeep

(a) Contactaanvragen op onze websites verlopen via FormKeep. Voor een goede afwikkeling van een contactaanvraag slaan we met FormKeep beperkt gegevens op, waaronder uw naam en e-mailadres. Deze gegevens worden alleen gebruikt waar het voor bedoeld is: om u zeer beperkt e-mail te sturen over ons en onze producten.

(b) Meer informatie over de Privacy Policy van FormKeep kun [je vinden op hun website](https://formkeep.com/privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="FormKeep Privacy"}.

### Pipedrive

(a) We gebruiken Pipedrive om informatie over klanten en prospects te organiseren en ervoor te zorgen dat onze relatiebeheerders u van het best mogelijke advies kunnen voorzien. De informatie die we hier verzamelen bestaat uit onder andere uw naam, e-mailadres, (eventueel) telefoonnummer en organisatie.

(b) [Lees de Pipedrive Privacy Policy](https://www.pipedrive.com/en/privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="Pipedrive Privacy Policy"}

### Basecamp

(a) We gebruiken Basecamp als intern communicatiemedium. Onze Basecamp-applicatie informeert onze relatiebeheerders altijd wanneer er een download-, contact- of supportaanvraag heeft plaatsgevonden via één van onze platformen. De verzamelde gegevens omvatten naam, organisatie en e-mailadres. Hieronder vindt u meer informatie over Basecamps Privacy Policy.

(b) [Lees de HipChat Privacy Policy](https://basecamp.com/about/policies/privacy){:target="_blank"}{:rel="noopener noreferrer"}{:title="Basecamp Privacy Policy"}

### Mailchimp

(a) We gebruiken Mailchimp voor het verzenden van e-mails naar onze bestaande klanten. Om dit te doen slaat Mailchimp namen en e-mailadressen op. We gebruiken die gegevens om ervoor te zorgen dat we alleen e-mails verzenden die relevant zijn voor onze klanten. U kunt uzelf op elk moment afmelden door op de link onderaan een e-mail te klikken.

(b) [Lees de Mailchimp Privacy Policy](https://mailchimp.com/legal/privacy/){:target="_blank"}{:rel="noopener noreferrer"}{:title="Mailchimp Privacy Policy"}

## Updates van deze privacy policy

We kunnen deze privacy policy van tijd tot tijd bijwerken, met name als de technologie of wetgeving verandert. U kunt deze pagina altijd controleren op de nieuwste versie.

## Meer informatie over cookies

Meer informatie over het gebruik van cookies op websites kunt u bijvoorbeeld vinden op [Cookies & You](https://cookiesandyou.com/){:target="_blank"}{:rel="noopener noreferrer"}{:title="Cookies & You"} of [op de website van de ConsuWijzer](https://www.consuwijzer.nl/telecom-post/internet/privacy/uitleg-cookies){:target="_blank"}{:rel="noopener noreferrer"}{:title="ConsuWijzer over website cookies"}.

## Vragen?

Als u vragen hebt over onze privacy policy en uw persoonlijke gegevens, stuur ons dan een e-mail via [marketing@defacto.nl](mailto:marketing@defacto.nl) of via [het contactformulier op de contact-pagina](/contact/).
