<h2>Hosting</h2>

We begrijpen het belang van goed geregelde hosting. Je hoeft hier niet naar om te kijken, wij zorgen dat dit op orde is. Daarom maken we gebruik van Heroku, een Platform as a Service (PaaS). De softwareoplossingen van Defacto draaien op virtuele servers die middels Heroku automatisch gehost en beheerd aangeboden worden in de cloud. Dit heeft de volgende voordelen:

- Automatisering van back-end processen, zoals het opzetten van servers en firewalls. Hierdoor kan ons development team zich beter focussen op het doorontwikkelen van onze software.
- Onze hosting is uitgerust met een Intrusion Detection System (IDS) en Security logs. Hierdoor wordt het netwerkverkeer in realtime gemonitord op verdachte activiteiten.
- Al onze omgevingen hebben een eigen database die volledig los van elkaar staan.
- Updates en upgrades vinden plaats zonder downtime, onze huidige uptime ligt op 99,99%.
- We beschikken over de internationaal erkende certificeringen ISO 27001, ISO 27017, ISO 27018 en SOC2 Type I Attestation.

<h2>Security</h2>

Je kunt erop vertrouwen dat het goed zit met de beveiliging van onze softwareoplossingen, dit heeft voor ons continu prioriteit. Dit garanderen we doordat we als volgt met de beveiliging van onze software en klantgegevens omgaan:

- Het is slechts met versleuteld webverkeer (via HTTPS, encryptie-protocollen TLS 1.2 en TLS 1.3) mogelijk om connectie te maken met onze systemen.
- Al onze medewerkers nemen elk jaar zes keer deel aan intern of extern georganiseerde security workshops, die geïnitieerd worden door onze Chief Security Officer.
- Security updates van de servers vinden automatisch plaats zonder downtime.
- CAPP voldoet aan de [ICT-Beveiligingsrichtlijnen voor webapplicaties](https://www.ncsc.nl/actueel/whitepapers/ict-beveiligingsrichtlijnen-voor-webapplicaties.html){:target="_blank"}{:rel="noopener"}{:title="ICT beveiligingsrichtlijnen voor webapplicaties"} - Deel 1, Nationaal Cyber Security Centrum, Ministerie van Veiligheid en Justitie.
- We houden ons volledig aan de GDPR en AVG regelgeving omtrent security en privacy.
