<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>Develop yourself or your organisation by receiving feedback from all sides.</h2>
    </div>

    <div class="col">
      <h3>Ask for feedback</h3>
      <p>
        Send out a request for feedback in three simple steps: Choose a topic, select the questionnaire and send an invitation to colleagues, managers, clients or others.
      </p>
    </div>

    <div class="col">
      <h3>Get evaluated</h3>
      <p>
        The evaluators you selected will receive an invitation by email. This invitation will lead them directly to the questionnaire. They don’t have to fill in anything apart from the questionnaire and they will remain anonymous.
      </p>
    </div>

    <div class="col">
      <h3>View the results</h3>
      <p>
        The results can be viewed instantly, in comprehensive graphs. The opportunities for further development stand out immediately.
      </p>
    </div>

  </div>
</section>
