<section>
  <article>

    <div class="row">

      <p>
        <strong>Wie man sich selbst einschätzt, sagt zunächst erst einmal noch nichts darüber aus, wie die anderen einen sehen. Erst wenn alle Perspektiven einbezogen werden, bilden sie die Grundlage einer gezielten Weiterentwicklung. Hier erläutern wir Ihnen, wie aus einem umfassenden 360°-Feedback ein individueller Entwicklungsplan für jeden Mitarbeiter Ihres Krankenhauses oder Ihrer Pflegeeinrichtung hervorgehen kann. Auch dabei bietet Ihnen die nutzerfreundliche Software von Defacto professionelle Hilfe.</strong>
      </p>

      <p>
        Ob als zentrale Initiative oder als individuelles Engagement des einzelnen Mitarbeiters: Die Weiterentwicklung der persönlichen Fähigkeiten ist eine unabdingbare Voraussetzung für den beruflichen Erfolg des Einzelnen wie für das Funktionieren der gesamten Organisation. Dazu ist ein individueller Entwicklungsplan für jeden Mitarbeiter vonnöten, in den von allen Seiten Feedback einfließen sollte.
      </p>

      <h3>Kein Feedback ohne höfliche Anfrage</h3>

      <p>
        Die Defacto Software für das 360°-Feedback gibt Ihnen die Möglichkeit, ganz einfach Rückmeldung aus Ihrem Umfeld zu bestimmten individuellen Fähigkeiten zu erhalten. Dazu können – oder sollten – Sie zunächst ein Thema auswählen, um nicht allzu vage Antworten zu provozieren. Anschließend selektieren Sie den dazu passenden Fragebogen und laden dann in einem dritten Schritt Kollegen, Vorgesetzte, Kunden oder andere Personen ein, auf deren Feedback Sie besonderen Wert legen.
      </p>

      <h3>Aus vielen Perspektiven anonym beurteilt</h3>

      <p>
        Ihre Bitte um Feedback gelangt per E-Mail zu den unterschiedlichen Personen, die Sie dafür ausgewählt haben. Sie ist als Einladung formuliert, an Ihrem 360°-Feedback teilzunehmen, und leitet direkt zum gewählten Fragebogen weiter. Diesen können alle Teilnehmer der "Umfrage" anschließend anonym ausfüllen.
      </p>

      <h3>Ein individueller Entwicklungsplan für den Mitarbeiter nimmt Gestalt an</h3>

      <p>
        Die Bewertungen der Feedback-Geber werden vom Programm automatisch in einer übersichtlichen Grafik dargestellt, die Sie direkt einsehen können. Damit haben Sie alles im Blick und können gleich erkennen, wo Ihr Entwicklungspotenzial liegt und Sie als nächstes ansetzen sollten. Die Defacto Software bietet Ihnen …
      </p>

      <ul>
        <li>die Möglichkeit, entwicklungsrelevante Themen sinnvoll einzugrenzen</li>
        <li>die Gelegenheit, einer größeren Gruppe passende Fragebögen zuzusenden</li>
        <li>die Chance, das anonyme Feedback Ihres Umfelds positiv umzudeuten.</li>
      </ul>

      <p class="featured">
        <span class="star">*</span>Profitieren Sie mit Defacto von der Multiperspektivität! Mit ihr lässt sich viel einfacher ein individueller Entwicklungsplan ableiten, der jedem Mitarbeiter und der ganzen Organisation zugute kommt.
      </p>

    </div>

  </article>
</section>
