<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>Develop yourself and your organisation by receiving continuous feedback</h2>
    </div>

    <div class="col">
      <h3>Ask for feedback</h3>
      <p>
        Get feedback in three simple steps: choose a topic, select the questionnaire and send an invitation to your colleagues, managers or clients.
      </p>
    </div>

    <div class="col">
      <h3>Receive evaluation</h3>
      <p>
        Your evaluators will receive an invitation by email. This invitation will lead directly to the questionnaire. No additional fields asking for personal information, the identity of an evaluator will remain anonymous.
      </p>
    </div>

    <div class="col">
      <h3>View the results</h3>
      <p>
        The results can be viewed instantly in a comprehensive graph. Therefore the opportunities for further improvement and development stand out immediately.
      </p>
    </div>

  </div>
</section>
