<section>
  <article>

    <div class="row">
      <p>Altĳd en overal de mogelĳkheid hebben om de kwaliteit en bevoegdheid binnen de organisatie te monitoren? En deze gegevens kunnen aanleveren aan accrediterende instanties? De Kwaliteitsmonitor maakt het mogelĳk.</p>
    </div>

    <div class="row">
      <h2>Inzichtelijkheid</h2>

      <p>Hoe zit het met de kwaliteit, de borging ervan en de vakbevoegdheid van je organisatie? Deze vraag lost het Kwaliteitspaspoort voor veel organisaties al op. Nu komt daar een extra informatielaag bovenop met de Kwaliteitsmonitor. Daarmee is het mogelijk al deze informatie organisatiebreed te bekĳken. Met de Kwaliteitsmonitor zĳn organisaties in staat om te zien hoe de verschillende functies of afdelingen ervoor staan.</p>

      <p>Deze gegevens kunnen vervolgens ingezet worden om er achter te komen waar de lacunes in je organisatie zitten. Met dit inzicht is het gemakkelijk te bepalen waar extra op ingestoken moet worden op het gebied van opleiden en ontwikkelen van medewerkers.</p>
    </div>

    <div class="row">
      <h2>Gerichter opleiden</h2>

      <p>Kwaliteitseisen zijn altijd onderhevig aan veranderingen. Daardoor kan het zĳn dat medewerkers niet meer voldoen aan de gestelde eisen. Vaak wordt hier op ingespeeld door een scala aan opleidingen aan te bieden om de medewerker te helpen zichzelf te scholen. Met de Kwaliteitsmonitor is het mogelĳk om op basis van deze nieuwe eisen te zien waar de grootste opleidingsbehoefte zit. Vervolgens kan het scholingsaanbod op de juiste manier aangepast worden.</p>
    </div>

    <div class="row">
      <h2>Altijd en overal</h2>

      <p>Informatie die vaak verborgen blĳft op de afdeling wordt met de Kwaliteitsmonitor inzichtelĳk gemaakt. Niet door middel van een enorme exercitie waarbĳ gegevens overal vandaan gehaald worden, maar direct in één helder overzicht - altijd en overal.</p>
    </div>

    <div class="row">
      <h2>Mobiliteit</h2>

      <p>Multi-inzetbaarheid speelt een steeds grotere rol op de werkvloer. Daarvoor is het belangrijk inzicht te hebben in welke medewerkers hiervoor in aanmerking komen. Het Kwaliteitspaspoort gaf hier al inzicht in, en met de Kwaliteitsmonitor kun je nu ook op vereisten sorteren. Als organisatie kun je snel zien waar de kennis en vaardigheden zich bevinden in geval van afwezigheid. Zo weet je altijd zeker dat er medewerkers zijn met de juiste kwalificaties om in te vallen.</p>
  </div>

  <div class="row">
    <div class="col">
      <h2>Hoe werkt het</h2>
        <ol>
          <li>Implementeer de Kwaliteitsmonitor​ samen met CAPP LMS. Na de livegang is deze direct te gebruiken.</li>
          <li>Bepaal welke vereisten er per functie noodzakelijk zijn en leg deze vast in vereistenprofielen.</li>
          <li>Geneer automatisch een overzicht van de bevoegd- en bekwaamheid van elke medewerker met het Kwaliteitspaspoort.</li>
          <li>Creë​er een overzicht op afdelingsniveau met de Kwaliteitsmonitor​ op basis van de informatie uit het Kwaliteitspaspoort.</li>
        </ol>
    </div>

    <div class="col">
      <h2>Voordelen</h2>
        <ol>
          <li>De Kwaliteitsmonitor biedt inzicht en transparantie naar externe stakeholders zoals o.a. inspecties, VWS, NIAZ en overheden.</li>
          <li>De Kwaliteitsmonitor is een stuurinstrument voor de organisatie. Het maakt de scholingsbehoefte per afdeling inzichtelijk en geeft de mogelijkheid om gericht actie te ondernemen.</li>
          <li>De Kwaliteitsmonitor biedt een efficiënte en gebruiksvriendelijke manier om te investeren in human capital.</li>
          <li>De Kwaliteitsmonitor bespaart kosten door alles in één overzicht te houden. Houd inzicht in de multi-inzetbaarheid van alle medewerkers.</li>
        </ol>
    </div>
  </div>

  </article>
</section>
