**Durch die rasanten Fortschritte in den Bereichen der Technologie, Digitalisierung und Globalisierung sind Organisationen heutzutage mehr denn je gefordert, sich kontinuierlich neu zu erfinden. Damit diese Entwicklung auch bei den Menschen innerhalb der Organisationen ankommt, stellen wir das 70:20:10 Lernmodell vor. So möchten wir Ihnen helfen, Ihre Unternehmensziele zu erreichen, indem Sie Ihre Mitarbeiter entsprechend fördern und weiterbilden können.**

## Das 70:20:10 Lernmodell

Das 70:20:10 Lernmodell ist ein Konzept von Charles Jennings, welches davon ausgeht, dass Lernen in drei wesentliche Bereiche unterteilt werden kann. Diese wurden von Jennings in bestimmte Verhältnisse zueinander gesetzt, sodass sie auf unterschiedliche Organisationen in gleicher Weise anwendbar sind.

Laut Jennings lernen wir wie folgt:

- **70%** durch die alltäglichen Erfahrungen am Arbeitsplatz
- **20%** durch (online) Zusammenarbeiten und Teilen von Wissen mit Kollegen
- **10%** durch formale Wissensquellen (Schulungen, E-Learning, Training etc.)

### 70%: Lernen am Arbeitsplatz

Im 70:20:10 Lernmodell ist das informelle Lernen während der Ausübung der jeweiligen Tätigkeiten das Wichtigste. Dies liegt daran, dass Leistungsverbesserungen innerhalb Organisationen vorwiegend am Arbeitsplatz realisiert werden. Bei der Durchführung der Arbeit wird - oft unbewusst - gelernt, wie man tägliche Herausforderungen löst und somit direkt in der Praxis angewendet.

### 20%: Soziales Lernen

Das soziale Lernen umfasst wie das Lernen am Arbeitsplatz das informelle Lernen. Dabei werden Leistungssteigerungen hauptsächlich durch das Zusammenarbeiten und den Austausch mit Kollegen erzielt. Schwerpunkte sind somit die Kooperation, das Coaching und das Feedback von anderen Personen.

### 10%: Formales Lernen

Der geringste Teil des persönlichen Lernerfolges wird durch das formale Lernen in einem organisierten und strukturierten Kontext erreicht. Dies umfasst alles vom Klassenzimmer über Ausbildung und E-Learningkurse.

![Das 70:20:10 Lernmodell von Charles Jennings](/images/70-20-10-lernmodell-jennings.png){:class="center"}{:title="Das 70:20:10 Lernmodell von Charles Jennings"}

Die Ausgangspunkte von 70:20:10 sind nicht neu und an Beispielen aus Ihrer Organisation schnell nachvollziehbar. Nehmen Sie Softwareentwickler von Defacto. Diese lernen oft die Basis für ihren Beruf während eines Studiums kennen, erfahren aber am Arbeitsplatz die wirklichen Tricks und Kniffe, die für ihre spezifische Arbeitssituation notwendig sind. Dieses Prinzip ist dabei auf viele und insbesondere wissensintensive Berufe wie Krankenhäuser oder Kliniken übertragbar. Denn in vielen Berufen des Gesundheitswesen steigert man seine Leistung nicht durch das formale Lernen, sondern durch das Erfahrene und Gelehrte bei der Arbeit.

Um nach dem 70:20:10 Lernmodell eine Leistungsverbesserung innerhalb einer Organisation sicherzustellen und so die Mitarbeiter für die aktuellen und zukünftigen Herausforderung des Unternehmens zu präparieren, sollten die Lernmethoden und Rahmenbedingungen entsprechend angepasst werden. Anstelle das Hauptaugenmerk auf das 10%-ige formale Lernen zu legen, sollten auch die Zusammenarbeit unter Kollegen und insbesondere das Lernen während der Arbeit gefördert werden.

### Das ideale Lernszenario

Eine ideale Schulung besteht daher aus einer Kombination aus formellem und informellem Lernen. Ziel ist es, durch formelles Lernen alle notwendigen Theorie zu behandeln und informell so zu lernen, dass Wissen in die Praxis umgesetzt wird und organisationsspezifische Einsichten gewonnen werden.

## Verbesserung der Leistungsunterstützung mit CAPP Agile Learning

Unsere [Lernplattform CAPP Agile Learning](/capp-agile-learning/) unterstützt informelles Lernen und Performance Support in Ihrem Krankenhaus.

CAPP Agile Learning sorgt dafür, dass Wissen mühelos und professionell mit Mitarbeitern geteilt wird. Dieses Wissen steht auf Anfrage auf allen Geräten zur Verfügung. So wird jeder Mitarbeiter zu jederzeit mit den aktuell benötigten Informationen versorgt.

CAPP Agile Learning schafft eine Umgebung, die sich speziell auf das Wissen konzentriert, welches Ihre Organisation intern verwendet und teilt. Leistungsunterstützung ist somit agil geworden: Lernen Sie schnell, effektiv und spezifisch auf Organisations-, Bereichs- und Abteilungsebene.

![CAPP Agile Learning op desktop en mobile](/images/screenshots/capp-agile-hero_de.png){:class="center"}{:title="CAPP Agile Learning auf Desktop und Handy"}
<p class="caption">CAPP Agile Learning ist auf allen Geräten verfügbar, wann und wo immer Sie wollen.</p>
