**Jedes Krankenhaus in Deutschland ist mit dieser Herausforderung vertraut: Auf nachweisbare und transparente Weise die Fähigkeiten von Mitarbeitern bei dem Einsatz von Medizintechnik anzeigen zu können. Dies ist in der [Medizinprodukte-Betreiberverordnung (MPBetreibV)](http://www.gesetze-im-internet.de/mpbetreibv/index.html){:target="_blank"}{:rel="noopener"}{:title="MPBetreibV"} des Medizinproduktegesetzes fest verankert.**

Jedoch ist dieser Nachweis wie so oft leichter gesagt als getan. Defacto möchte Ihnen deshalb unterstützend zur Seite stehen. In Zusammenarbeit mit anderen Krankenhäusern haben wir daher drei klare Schritte entwickelt, die es Mitarbeitern ermöglicht, sich die im Rahmen der vom MPBetreibV des Medizinproduktegesetzes vorgegebenen Trainingsanforderungen nachweisen zu lassen und die Qualität ihres Hauses zu stärken.

## Schritt 1: Definieren Sie erforderliche Profile

Mit Hilfe des [CAPP Qualitätspasses](/qualitatspass/) können Sie per Funktion angeben, mit welchen Geräten Mitarbeiter arbeiten und welche Einweisungen nachgewiesen werden müssen. So können Sie Anforderungsprofile anlegen, denen Ihre Mitarbeiter nachkommen sollen.

## Schritt 2: Erforderliche Profile überprüfen

Jeder Mitarbeiter und dessen Vorgesetzte können in Echtzeit den Status der Zertifizierung des Mitarbeiters im **CAPP Qualitätspass** einsehen. Darüber hinaus können Sie einen Überblick über den Fortschritt der Entwicklung Ihrer gesamte Organisation erhalten.

Das Anforderungsprofil eines jeden Mitarbeiters kann dabei wie im Folgenden dargestellt werden:

![Beispiel des Qualitätspasses von einem Mitarbeiter](/images/screenshots/capp-qualitätspass-mitarbeiter.png)
<p class="caption">Beispiel des Qualitätspasses von einem Mitarbeiter</p>

## Schritt 3: Halten Sie Ihr Wissen up-to-date

[CAPP Agile Learning](/capp-agile-learning/) bietet jedem Mitarbeiter eine Plattform, um alle wichtigen Informationen über die Ausstattung in seinem jeweiligen Bereich zu finden. Durch die Möglichkeit Fragen zu stellen und Texte zu verbessern lernen Mitarbeiter voneinander und tragen Verantwortung für die Aufrechterhaltung des gemeinsamen und individuellen Wissens.

![Abbild von einem Kapitel über ein Gerät der Medizintechnik](/images/screenshots/capp-agile-gerätepass.png)
<p class="caption">Abbild von einem Kapitel über ein Gerät der Medizintechnik</p>

### Wie organisiert Ihre Organisation die Qualitätsberichte?

Wir möchten Ihnen auch dabei helfen, die anfallenden Qualitätsberichte Ihres Krankenhauses unkompliziert und schnell erstellen zu können. Weisen Sie internen und externen Audits mit wenigen Klicks neben den Einweisungen der Mitarbeitern auch die Weiterbildungsmaßnahmen Ihres Personals nach. Indem Sie geeignete Rahmenbedingungen schaffen, wappnen Sie sich und Ihr Haus gegenüber den stetig wachsenden Anforderungen an Qualitätssicherungen durch den **Gemeinsamen Bundesausschuss (G-BA)** und das **Institut für Qualitätssicherung und Transparenz im Gesundheitswesen (IQTIG)**.

![Beispiel wie CAPP Agile Learning in der Pflege verwendet werden kann](/images/screenshots/capp-agile-gesundheit.png)
<p class="caption">Beispiel wie CAPP Agile Learning in der Pflege verwendet werden kann</p>

Profitieren Sie von unserer langjährigen Erfahrung im Gesundheitswesen und unseren Kenntnissen im Bereich Qualitätsmanagement und Bildungsmanagement. In Zusammenarbeit mit Krankenhäusern schaffen wir Softwareumgebungen, in denen Wissen ausgetauscht und Zertifizierungen dargestellt werden können. So verhindern wir, dass jedes Krankenhaus das Rad neu erfinden muss, wenn es sich den Aufgaben der Qualitätssicherung und Medizintechnik stellt.

Darüber hinaus bieten wir Ihnen durch regelmäßige Workshops und Webinare Einblicke in unsere Lösungen an. Interesse? Bitte nehmen Sie Kontakt zu uns auf und Nutzen Sie das unten eingeblendete Kontaktformular.
