Ieder ziekenhuis in ons land heeft er mee te maken: aantoonbare en transparante bekwaamheid van medewerkers die gebruikmaken van medische technologie. Dit is afgesproken in het Convenant Veilige toepassing van Medische Technologie.

Iedereen bewust en aantoonbaar bekwaam in het gebruik van medische apparatuur is eenvoudiger gezegd dan gedaan. Hoe de integrale kwaliteitszorg geborgd moet worden blijft helaas vaag in het Convenant. In enkele simpele stappen helpt Defacto daarom ook jouw ziekenhuis om de bekwaamheid van medewerkers aantoonbaar te maken en te borgen.

Samen met academische, topklinische en algemene ziekenhuizen heeft Defacto drie overzichtelijke stappen ontwikkeld waarmee medewerkers aantoonbaar bekwaam worden in het kader van de scholingseisen die het Convenant MT stelt.

## Stap 1: Definieer vereiste profielen

Met behulp van [het CAPP Kwaliteitspaspoort](/kwaliteitspaspoort/) kun je van alle functies aangeven met welke medische apparatuur de medewerkers werken en waarvoor ze gecertificeerd moeten zijn.

## Stap 2: Monitor vereiste profielen

Iedere medewerker en zijn leidinggevenden hebben in het CAPP Kwaliteitspaspoort realtime inzicht in de status van de certificering van de medewerker in kwestie.

Met de CAPP Kwaliteitsmonitor heb je in een oogopslag hetzelfde overzicht voor de hele organisatie.

Het vereistenprofiel van een willekeurige medewerker kun je zien in het onderstaande screenshot.

![Kwaliteitspaspoort van een medewerker](/images/screenshots/capp-kwaliteitspaspoort-medewerker.png)
<p class="caption">Voorbeeld van het Kwaliteitspaspoort van een medewerker</p>

## Stap 3: Houd de kennis van medewerkers en organisatie altijd actueel

[Met CAPP Agile Learning](/capp-agile-learning/) bieden we een platform waar iedere medewerker alle belangrijke informatie rondom de apparatuur op de afdeling kan vinden. Door de mogelijkheid tot het stellen van vragen en het verbeteren van teksten leren medewerkers van elkaar en draagt iedereen de verantwoordelijkheid voor het up-to-date houden van de gemeenschappelijke en individuele kennis.

Daag de organisatie uit om via de Critical Incident Methodiek (CIM) alle incidenten te melden en meteen op te lossen, zodat de hele organisatie ervan kan leren.

![Voorbeeld van een Space over een medisch apparaat](/images/screenshots/capp-agile-medisch-apparaat.png)
<p class="caption">Voorbeeld van een Space over een medisch apparaat</p>

## Hoe gaat jouw organisatie de kwaliteitsregistratie organiseren?

We helpen graag het kwaliteitsregistratieproces adequaat en snel in te voeren. Je kunt hierbij putten uit de ervaring die we bij andere ziekenhuizen hebben opgedaan.

Daarbij organiseren we regelmatig workshops voor afdelingen in ziekenhuizen. Laat het ons weten als je daarvoor belangstelling hebt.

Tenslotte hebben we een CAPP Agile Learning-omgeving gefaciliteerd waar ziekenhuizen kennis met elkaar uit kunnen wisselen en ook van elkaar kunnen leren. Zo voorkomen we dat elk ziekenhuis opnieuw het wiel moet uitvinden.

We horen het graag via onderstaand het formulier als je toegang wilt tot het platform waar andere ziekenhuizen al kennis met elkaar delen.

![Voorbeeld CAPP Agile Learning in de zorg](/images/screenshots/capp-agile-zorg.png)
<p class="caption">Voorbeeld van CAPP Agile Learning zoals het gebruikt kan worden in de zorg</p>
